Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs(pipeline): update all docs to represent new pipeline structure and restructure documentation for clarity
  README.md
  docs/alignment.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/future-work/perf-offline-audio-buffer-backing-spec.md
  docs/hotwords.md
  docs/migration/alignment/offline-alignment-pipeline-spec.md
  docs/migration/enhancement/offline-enhancement-buffer-pipeline-spec.md
  docs/migration/online/online-enhancement-live-pipeline-spec.md
  docs/migration/stt/stt-audiobuffer-migration.md
  docs/migration/tts/tts-offline-buffer-pipeline-spec.md
  docs/pcm-stream.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/textbuffer.md
  docs/tts-streaming.md
Due: none

chore(package): remove pcm-stream entry from package.json to streamline module exports
  package.json
Due: none

refactor(pcm-player): update PCM player creation to use audio buffer ID and volume
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerRegistry.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerService.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerSession.kt
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx+PipelineAudioGlobals.h
  ios/pcm/PcmPlayerRegistry.h
  ios/pcm/PcmPlayerRegistry.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
Due: none

refactor(pcm): update PCM player interface and remove deprecated methods
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/index.tsx
  src/pcm-stream/index.ts
  src/pcm/index.ts
  src/pcm/pcmPlayer.ts
  src/pcm/types.ts
Due: lint, types

docs(pcm-player): enhance documentation for PCM player and remove obsolete pcm-stream
  README.md
  docs/pcm-player.md
  docs/pcm-stream.md
Due: none

docs(buffer): update audio buffer documentation to emphasize ref usage and improve clarity
  docs/alignment.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/pcm-player.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/textbuffer.md
  docs/tts-offline.md
  docs/tts-streaming.md
  src/alignment/alignTextToAudio.ts
  src/audiobuffer/index.ts
  src/enhancement/index.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/textbuffer/index.ts
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/ttsNativeBridge.ts
Due: lint, types

docs(ffmpeg-streaming): add specification for dedicated streaming export worker
  docs/future-work/ffmpeg-streaming-export-worker-spec.md
Due: none

docs(migration): add specification for audio conversion pipeline with breaking changes
  docs/migration/audio-conversion-pipeline-migration-spec.md
Due: none

feat(audio): implement PCM to format conversion and update JNI bindings
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/audio/audio_convert_file.cpp
  android/src/main/cpp/jni/audio/audio_convert_file.h
  android/src/main/cpp/jni/audio/audio_pcm_to_format.cpp
  android/src/main/cpp/jni/audio/sherpa-onnx-audio-convert-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx.mm
  ios/audio/SherpaOnnxAudioConvert.h
  ios/audio/SherpaOnnxAudioConvert.mm
Due: none

refactor(audio): streamline audio conversion API and remove deprecated methods
  src/NativeSherpaOnnx.ts
  src/audio/index.ts
  src/audio/types.ts
  src/audiobuffer/index.ts
Due: lint, types

refactor(example): replace deprecated WAV saving methods with new conversion API
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

docs(audio): update documentation to reflect new audio conversion methods
  docs/audio-conversion.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/disable-ffmpeg.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/files.md
  docs/tts-offline.md
Due: none

refactor(migration): remove obsolete migration documents for audio and STT pipelines
  docs/migration/alignment-restructuring-plan.md
  docs/migration/audio-conversion-pipeline-migration-spec.md
  docs/migration/audio_pipeline_buffers_7605bf7f.plan.md
  docs/migration/incremental_tts_api_redesign.plan.md
  docs/migration/stt-native-pipeline-research.md
  docs/migration/stt-native-pipeline-spec-implementation-plan.md
  docs/migration/stt_detection_rework_5a8313c2.plan.md
  docs/migration/tts-generated-audio-native-sink-migration.md
  docs/migration/tts-pcm-player-migration.md
  docs/migration/tts-streaming-performance-migration.md
Due: none

docs(migration): add implementation specifications for AudioBuffer and File I/O migration
  docs/migration/audiobuffer/audiobuffer-jsi-arraybuffer-implementation-spec.md
  docs/migration/audiobuffer/audiobuffer-jsi-external-arraybuffer-migration-plan.md
  docs/migration/files/generic-file-io-high-level-plan.md
  docs/migration/pipeline/stt-native-pipeline-research.md
  docs/migration/pipeline/stt-native-pipeline-spec-implementation-plan.md
Due: none

refactor(package): update file structure in package.json to replace 'files' with 'fileio'
  package.json
Due: none

refactor(fileio): implement new file I/O structure and remove legacy file handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxFilesHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOErrorCodes.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOHelper.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOStreamCopy.kt
  ios/SherpaOnnx+Files.mm
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx.mm
  ios/fileio/FileIOResolver.h
  ios/fileio/FileIOResolver.mm
  ios/fileio/FileIOStreamCopy.h
  ios/fileio/FileIOStreamCopy.mm
  ios/fileio/SherpaOnnx+FileIO.mm
Due: none

refactor(fileio): enhance file I/O operations and remove legacy methods
  src/NativeSherpaOnnx.ts
  src/audio/types.ts
  src/audiobuffer/index.ts
  src/fileio/index.ts
  src/fileio/types.ts
  src/files/index.ts
  src/index.tsx
  tsconfig.json
Due: lint, types

refactor(example): update audio buffer handling to use new file I/O methods
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/utils/audioFileWebPlayback.ts
  example/tsconfig.json
Due: lint, types, types-example

docs(audio-conversion): update documentation for new file destination handling and conversion options
  docs/audio-conversion.md
  docs/audiobuffer-offline.md
  docs/fileio.md
  docs/files.md
  docs/migration.md
  docs/migration/files/direct-streaming-audio-export-spec.md
  docs/migration/files/fileio-current-vs-target-high-level-plan.md
Due: none

refactor(audio): enhance offline audio buffer handling and resource management
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOHelper.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
Due: none

docs(audio): enhance documentation for direct streaming and file I/O improvements
  docs/audio-conversion.md
  docs/audiobuffer-offline.md
  docs/fileio.md
  docs/migration/files/direct-streaming-audio-export-spec.md
  docs/migration/files/fileio-current-vs-target-high-level-plan.md
  docs/migration/files/generic-file-io-high-level-plan.md
Due: none

refactor(audio): remove WAV file handling methods and related functionality
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/WavWriter.kt
  ios/PaLiveEntry.h
  ios/SherpaOnnx+PipelineAudio.mm
Due: none

feat(audio): integrate JSI bindings for audio buffer handling
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/audiobuffer/SherpaOnnxJSI.cpp
  android/src/main/cpp/jni/audiobuffer/SherpaOnnxJSI.h
  android/src/main/cpp/jni/audiobuffer/SherpaOnnxJSIInstall.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsPipelineWorker.kt
  ios/PaLiveEntry.h
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx+PipelineAudioGlobals.h
  ios/SherpaOnnx.mm
  ios/audiobuffer/SherpaOnnx+JSI.mm
  ios/audiobuffer/SherpaOnnxJSI.cpp
  ios/audiobuffer/SherpaOnnxJSI.h
Due: none

feat(audio): add JSI bindings for enhanced audio buffer operations
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/jsi.ts
  src/audiobuffer/types.ts
Due: lint, types

chore(android): update build configuration and dependencies
  android/build.gradle
  android/proguard-rules.pro
  example/android/app/build.gradle
  package.json
Due: none

docs(jsi): enhance AudioBuffer API with JSI support and Float32Array integration
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/enhancement-streaming.md
  docs/migration.md
  docs/migration/audiobuffer/audiobuffer-file-input-expansion-high-level-plan.md
  docs/migration/audiobuffer/audiobuffer-jsi-arraybuffer-migration.md
  docs/pcm-player.md
Due: none

chore(audio): add audio decoding support in CMake and podspec
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
Due: none

feat(audio): implement audio decoding functionality with JNI and C++ support
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  ios/PaLiveEntry.h
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx.mm
Due: none

refactor(audio): rename and enhance audio buffer creation methods
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/stt/index.ts
Due: lint, types, types-example

docs(audio): update audio buffer creation methods for clarity and consistency
  docs/alignment.md
  docs/audio-conversion.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/hotwords.md
  docs/migration/audiobuffer/audiobuffer-file-input-expansion-high-level-plan.md
  docs/migration/conversion/conversion-session-unification-and-api-rename-high-level-plan.md
  docs/pcm-player.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/textbuffer.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

feat(audio): implement temporary spool creation for live audio buffers
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  ios/PaLiveEntry.h
  ios/SherpaOnnx+PipelineAudio.mm
Due: none

feat(audio): enhance audio encoding capabilities with new session management
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/audio/AudioEncodeSession.cpp
  android/src/main/cpp/jni/audio/AudioEncodeSession.h
  android/src/main/cpp/jni/audio/audio_convert_file.cpp
  android/src/main/cpp/jni/audio/audio_convert_file.h
  android/src/main/cpp/jni/audio/audio_encode_jni.cpp
  android/src/main/cpp/jni/audio/audio_pcm_to_format.cpp
  android/src/main/cpp/jni/audio/sherpa-onnx-audio-convert-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx.mm
Due: none

refactor(audio): replace audio conversion methods with save functionality
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  src/NativeSherpaOnnx.ts
  src/audio/index.ts
  src/audio/types.ts
Due: lint, types, types-example

docs(audio): rename conversion methods to save methods and update documentation
  docs/audio-conversion.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/disable-ffmpeg.md
  docs/enhancement-offline.md
  docs/fileio.md
  docs/migration/audiobuffer/live-default-spool-and-ownership-cleanup-high-level-plan.md
  docs/migration/audiobuffer/live-ingest-mandatory-spool-implementation-plan.md
  docs/migration/conversion/conversion-session-unification-and-api-rename-high-level-plan.md
  docs/migration/player/pcm-player-full-control-high-level-plan.md
  docs/tts-offline.md
Due: none

feat(audio): enhance PCM player functionality with seek, restart, and position retrieval
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerService.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerSession.kt
  ios/PaLiveEntry.h
  ios/SherpaOnnx.mm
  ios/pcm/PcmPlayerRegistry.h
  ios/pcm/PcmPlayerRegistry.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
Due: none

feat(audio): enhance PCM player with new functionalities and event handling
  example/src/screens/tts/TTSScreen.tsx
  example/tsconfig.json
  src/NativeSherpaOnnx.ts
  src/pcm/index.ts
  src/pcm/pcmPlayer.ts
  src/pcm/types.ts
  tsconfig.json
Due: lint, types, types-example

docs(audio): update audio buffer and PCM player documentation for clarity and new features
  docs/audiobuffer-streaming.md
  docs/migration.md
  docs/migration/audiobuffer/live-default-spool-and-ownership-cleanup-high-level-plan.md
  docs/migration/player/pcm-player-full-control-high-level-plan.md
  docs/pcm-player.md
Due: none

refactor(stt): restructure STT components and remove deprecated classes
  SherpaOnnx.podspec
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxOnlineSttHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/core/OfflineSttRecognizerConfigFactory.kt
  android/src/main/java/com/sherpaonnx/stt/core/OnlineSttRecognizerConfigFactory.kt
  android/src/main/java/com/sherpaonnx/stt/core/SttErrorCodes.kt
  android/src/main/java/com/sherpaonnx/stt/core/SttModelUtils.kt
  android/src/main/java/com/sherpaonnx/stt/core/SttPathResolver.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttPipelineWorker.kt
  docs/migration/pipeline/stt-native-pipeline-spec-implementation-plan.md
  docs/migration/stt/stt-audiobuffer-migration.md
  docs/migration/stt/stt-pipeline-buffer-only-api-plan.md
  ios/SherpaOnnx.mm
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/native/sherpa-onnx-online-stt-wrapper.h
  ios/stt/native/sherpa-onnx-online-stt-wrapper.mm
  ios/stt/native/sherpa-onnx-stt-wrapper.h
  ios/stt/native/sherpa-onnx-stt-wrapper.mm
  ios/stt/pipeline/SttPipelineWorker.h
  ios/stt/pipeline/SttPipelineWorker.mm
Due: none

refactor(alignment): restructure alignment helper and introduce error handling
  android/src/main/cpp/jni/alignment/sherpa-onnx-alignment-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentErrorCodes.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentOptionParsers.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentPromiseUtils.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentResultMapper.kt
  android/src/main/java/com/sherpaonnx/alignment/core/SttAlignmentSegment.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/alignment/core/AlignmentBridgeUtils.h
  ios/alignment/core/AlignmentBridgeUtils.mm
Due: none

feat(enhancement): introduce enhancement module with offline and online processing capabilities
  android/src/main/java/com/sherpaonnx/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementErrorCodes.kt
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementInstances.kt
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementModelConfigFactory.kt
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementResultMapper.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementPipelineWorker.kt
  ios/SherpaOnnx+Enhancement.mm
  ios/enhancement/EnhancementPipelineWorker.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementDetect.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOnline.mm
  ios/enhancement/core/EnhancementBridgeState.h
  ios/enhancement/core/EnhancementBridgeState.mm
  ios/enhancement/core/EnhancementBridgeUtils.h
  ios/enhancement/core/EnhancementBridgeUtils.mm
Due: none
