Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

ci(workflows): run TtsCatalogHints gtests; drop JS unit workflow
  .github/workflows/test-js.yml
  .github/workflows/test-model-detect.yml
  .github/workflows/test-tts-model-detect.yml
Due: none

docs(tts): catalog hints, detectTtsModel pre-check, createTTS modelOptions
  docs/migration.md
  docs/tts-offline.md
Due: none

refactor(ios): remove TTS model-detect native sources
  ios/model_detect/sherpa-onnx-model-detect-tts.mm
  ios/model_detect/sherpa-onnx-model-detect.h
Due: none

feat(tts): catalog hints and model-detect updates
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-tts.cpp
  src/tts/index.ts
  src/tts/types.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

feat(tts): enhance TTS model detection documentation and type safety
  docs/tts-offline.md
  src/NativeSherpaOnnx.ts
  src/download/registry.ts
  src/tts/index.ts
  src/tts/types.ts
  tsconfig.json
Due: lint, types

docs(tts): update TTS model detection examples for VITS compatibility
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

feat(android-native): add CTC alignment core and JNI bindings
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/alignment/sherpa_onnx_ctc_alignment.cpp
  android/src/main/cpp/alignment/sherpa_onnx_ctc_alignment.hpp
  android/src/main/cpp/jni/alignment/sherpa-onnx-alignment-jni.cpp
Due: none

feat(android): expose CTC alignment in module and TTS batch options
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/WavAudioMetricsReader.kt
  android/src/main/java/com/sherpaonnx/tts/config/TtsGenerationOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
Due: none

feat(ios): integrate CTC alignment and TTS batch option wiring
  SherpaOnnx.podspec
  ios/SherpaOnnx+Alignment.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/options/TtsGenerationOptionsHelpers.h
  ios/tts/options/TtsGenerationOptionsHelpers.mm
Due: none

feat(typescript): add alignment API and refactor TTS bridge modules
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/index.ts
  src/alignment/tempAudio.ts
  src/alignment/textSegments.ts
  src/alignment/types.ts
  src/tts/index.ts
  src/tts/tempAudio.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
Due: lint, types

feat(example): update generate timestamp screen for alignment flow
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

test(alignment): add host CTC tests and ONNX Runtime CI integration
  test/cpp/CMakeLists.txt
  test/cpp/alignment/ctc_alignment_host_test.cpp
  test/fixtures/alignment/0-en.wav
  test/fixtures/alignment/relu_smoke.onnx
  test/fixtures/alignment/tiny_ctc_linear.onnx
  test/fixtures/alignment/tiny_vocab.json
Due: none

ci(alignment): document and run host CTC tests in audio workflow
  .github/workflows/test-audio-convert-host.yml
Due: none

docs(alignment): add user guide and retire standalone TTS alignment doc
  docs/alignment.md
  docs/internal/ctc-alignment-core.md
  docs/migration.md
  docs/tts-alignment.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

chore: update README and gitignore for alignment work
  .gitignore
  README.md
Due: none

refactor(tts): enhance TTS model detection with asset name support and remove unused catalog hints
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-tts-catalog-hints.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-tts-wrapper.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxCommonTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsInitializationService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsLifecycleService.kt
  docs/alignment.md
  docs/download-manager.md
  docs/migration.md
  ios/tts/bridge/SherpaOnnx+TTSCommon.mm
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  ios/tts/native/sherpa-onnx-tts-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/download/constants.ts
  src/download/index.ts
  src/download/registry.ts
  src/tts/index.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/tts_catalog_hints_test.cpp
Due: lint, types

refactor(podspec): update source files and exclude unnecessary iOS model detection files
  SherpaOnnx.podspec
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-stt.cpp
  ios/model_detect/sherpa-onnx-common.h
  ios/model_detect/sherpa-onnx-model-detect-alignment.mm
  ios/model_detect/sherpa-onnx-model-detect-enhancement.mm
  ios/model_detect/sherpa-onnx-model-detect-helper.h
  ios/model_detect/sherpa-onnx-model-detect-helper.mm
  ios/model_detect/sherpa-onnx-model-detect-stt.mm
  ios/model_detect/sherpa-onnx-validate-alignment.h
  ios/model_detect/sherpa-onnx-validate-alignment.mm
  ios/model_detect/sherpa-onnx-validate-enhancement.h
  ios/model_detect/sherpa-onnx-validate-enhancement.mm
  ios/model_detect/sherpa-onnx-validate-stt.h
  ios/model_detect/sherpa-onnx-validate-stt.mm
  ios/model_detect/sherpa-onnx-validate-tts.h
  ios/model_detect/sherpa-onnx-validate-tts.mm
Due: none

docs(tts): add new properties for languages, quantization, and size tier in TTS model detection
  docs/tts-offline.md
Due: none

feat(alignment): implement alignment model detection and validation with JNI integration
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-alignment-wrapper.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-alignment-wrapper.h
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-model-detect-alignment.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-validate-alignment.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-validate-alignment.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-common.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-wrapper.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-wrapper.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-model-detect-enhancement.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-validate-enhancement.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-validate-enhancement.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-wrapper.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-wrapper.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-stt.h
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-tts-wrapper.h
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-validate-tts.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-validate-tts.h
Due: none

refactor(model_detect): reorganize model detection source files into subdirectories for better structure and clarity
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  test/cpp/CMakeLists.txt
Due: none

feat(tts): add catalog metadata handling for TTS model detection and update CMake configuration
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-tts-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-tts-catalog-metadata.h
  docs/tts-streaming.md
  test/cpp/CMakeLists.txt
Due: none

feat(tts): switch batch audio to sink metadata and PCM export API
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/core/TtsEngineModels.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOfflineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsAudioExportService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/tsconfig.json
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSExport.mm
  ios/tts/bridge/SherpaOnnx+TTSLifecycle.mm
  ios/tts/bridge/SherpaOnnx+TTSOffline.mm
  ios/tts/engine/TtsEngineStore.h
  src/NativeSherpaOnnx.ts
  src/alignment/tempAudio.ts
  src/tts/index.ts
  src/tts/tempAudio.ts
  src/tts/types.ts
Due: lint, types, types-example

docs(tts): update guides for sink-based audio retrieval
  docs/migration.md
  docs/tts-generated-audio-native-sink-migration.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

docs(tts): update documentation for saveAudio methods
  docs/audio-conversion.md
  docs/disable-ffmpeg.md
  docs/files.md
  docs/migration.md
  docs/tts-offline.md
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types, types-example

feat(pcm-player): introduce PCM player service for TTS audio playback in kotlin
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerRegistry.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerService.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerSession.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/core/TtsEngineModels.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOfflineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOnlineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsInitializationService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsLifecycleService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsPcmPlaybackService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsStreamingService.kt
Due: none

feat(pcm-player): introduce PCM player service for TTS audio playback in objc
  ios/pcm/PcmPlayerRegistry.h
  ios/pcm/PcmPlayerRegistry.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSLifecycle.mm
  ios/tts/bridge/SherpaOnnx+TTSOffline.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/bridge/SherpaOnnx+TTSPcm.mm
  ios/tts/bridge/SherpaOnnx+TTSStream.mm
  ios/tts/engine/TtsEngineStore.h
Due: none

chore(pcm): added new pcm subpath
  example/ios/Podfile.lock
  package.json
Due: none

feat(pcm): enhance PCM player functionality with new methods for playback control and sink integration
  src/NativeSherpaOnnx.ts
  src/pcm/index.ts
  src/pcm/pcmPlayer.ts
  src/pcm/types.ts
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/streamingTypes.ts
  src/tts/types.ts
Due: lint, types

refactor(example): remove redundant PCM player stop calls and streamline error handling in TTS streaming
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

docs(pcm): add documentation for standalone PCM player and integration with TTS streaming
  docs/pcm-player.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

docs(migration): update migration guide for standalone PCM player and TTS streaming changes
  docs/migration.md
  docs/migration/tts-generated-audio-native-sink-migration.md
  docs/migration/tts-pcm-player-migration.md
  docs/migration/tts-streaming-performance-migration.md
Due: none

docs(alignment-migration): add alignment API restructuring plan to improve performance and reduce JS-native round-trips
  docs/migration/alignment-restructuring-plan.md
  docs/migration/tts-generated-audio-native-sink-migration.md
Due: none

feat(alignment): introduce shared alignment engine with proportional, estimated, and accurate timing methods
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.cpp
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.hpp
  android/src/main/cpp/alignment/sherpa_onnx_ctc_alignment.cpp
  android/src/main/cpp/jni/alignment/sherpa-onnx-alignment-jni.cpp
  package.json
Due: none

feat(alignment): refactor alignment helper and integrate TTS sink snapshot functionality
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTextSegmenter.kt
  android/src/main/java/com/sherpaonnx/tts/config/TtsGenerationOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  ios/SherpaOnnx+Alignment.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/options/TtsGenerationOptionsHelpers.h
  ios/tts/options/TtsGenerationOptionsHelpers.mm
  ios/tts/subtitle/TtsSubtitleSegmentation.h
  ios/tts/subtitle/TtsSubtitleSegmentation.mm
Due: none

feat(alignment): enhance audio alignment methods and remove deprecated components
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/index.ts
  src/alignment/tempAudio.ts
  src/alignment/textSegments.ts
  src/alignment/types.ts
  src/alignment/vocab.ts
  src/tts/index.ts
  src/tts/tempAudio.ts
Due: lint, types

docs(alignment): restructure alignment API for native-first integration and improved performance
  docs/alignment.md
  docs/internal/ctc-alignment-core.md
  docs/migration.md
  docs/migration/alignment-restructuring-plan.md
  docs/tts-offline.md
Due: none

feat(language-hint): reworked language hint api to be standalone, normalize and have a better structure, thus easier to understand and use
  CHANGELOG.md
  example/tsconfig.json
  ios/SherpaOnnx+Alignment.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/download/registry.ts
  src/download/types.ts
  src/model-languages/alignment/index.ts
  src/model-languages/index.ts
  src/model-languages/normalize.ts
  src/model-languages/resolvePublicLanguageHints.ts
  src/model-languages/stt/canary.ts
  src/model-languages/stt/cohere.ts
  src/model-languages/stt/dolphin.ts
  src/model-languages/stt/funasr.ts
  src/model-languages/stt/hints.ts
  src/model-languages/stt/index.ts
  src/model-languages/stt/qwen3Asr.ts
  src/model-languages/stt/sensevoice.ts
  src/model-languages/stt/whisper.ts
  src/model-languages/tts/hints.ts
  src/model-languages/tts/index.ts
  src/model-languages/types.ts
  src/model-languages/vad/index.ts
  src/stt/index.ts
  src/stt/sttModelLanguages.ts
  src/tts/index.ts
  tsconfig.json
Due: lint, types

docs(migration, model-languages): enhance migration guide and introduce model language helpers documentation
  docs/migration.md
  docs/model-languages.md
  docs/stt.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

feat(model-languages): add TTS language hints and enhance STT language documentation
  src/model-languages/index.ts
  src/model-languages/stt/cohere.ts
  src/model-languages/stt/dolphin.ts
  src/model-languages/stt/funasr.ts
  src/model-languages/stt/qwen3Asr.ts
  src/model-languages/tts/hints.ts
  src/model-languages/tts/index.ts
  src/model-languages/tts/pocket.ts
  src/model-languages/tts/supertonic.ts
Due: lint, types
