Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor(model_download): enhance model management with category support and refactor related functions
  src/download/ModelDownloadManager.ts
  src/download/index.ts
Due: lint, types

feat(model_management): implement category-based model management and filtering options
  example/src/screens/download/ModelManagementScreen.tsx
Due: lint, types, types-example

refactor(ModelManagementScreen): optimize ScrollView usage and improve filter option rendering
  example/src/screens/download/ModelManagementScreen.tsx
Due: lint, types, types-example

refactor(types): refactor model path handling across modules
  docs/STT_MODEL_SETUP.md
  docs/TTS_MODEL_SETUP.md
  src/diarization/index.ts
  src/enhancement/index.ts
  src/index.tsx
  src/separation/index.ts
  src/stt/index.ts
  src/stt/types.ts
  src/tts/index.ts
  src/tts/types.ts
  src/types.ts
  src/utils.ts
  src/vad/index.ts
Due: lint, types

feat(model_management): add STT model type handling and improve model detection logic
  example/src/screens/download/ModelManagementScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

docs(stt_tts): update STT and TTS guides for improved clarity and consistency in API usage
  docs/stt.md
  docs/tts.md
Due: none

feat(ModelManagementScreen): integrate @shopify/flash-list for improved performance and add language normalization utilities
  example/package.json
  example/src/screens/download/ModelManagementScreen.tsx
  yarn.lock
Due: lint, types, types-example

feat(ModelDownload): implement checksum validation and disk space checks for model downloads
  package.json
  src/download/ModelDownloadManager.ts
  src/download/index.ts
  src/download/validation.ts
  yarn.lock
Due: lint, types

feat(recommendation): enhance model loading with downloaded models and add size/quality hints
  example/src/screens/download/ModelManagementScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/utils/recommendedModels.ts
  src/download/ModelDownloadManager.ts
  src/download/validation.ts
Due: lint, types, types-example

feat(cancel): implement cancellation for tar.bz2 extraction
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  ios/SherpaOnnxArchiveHelper.h
  ios/SherpaOnnxArchiveHelper.mm
  src/download/extractTarBz2.ts
Due: lint, types

fix(abort_handling): improve model download manager with abort handling
  src/download/ModelDownloadManager.ts
Due: lint, types

feat(checksum): implement checksum calculation using quick-crypto
  .yarn/patches/react-native-fs-npm-2.20.0.patch
  example/package.json
  example/src/modelConfig.ts
  example/src/screens/download/ModelManagementScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/utils/recommendedModels.ts
  package.json
  src/NativeSherpaOnnx.ts
  src/download/validation.ts
  yarn.lock
Due: lint, types, types-example

refactor(logging): remove console logs in model download and validation processes
  src/download/ModelDownloadManager.ts
  src/download/validation.ts
Due: lint, types

feat(model_detection): improve model detection logic and refactor STT and TTS detection logic
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect.cpp
Due: none

feat(model_path): enhance getFileModelPath to support model categories in STT and TTS screens
  example/src/modelConfig.ts
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(error_handling): improve error handling and initialization logic by recursive lookup
  android/src/main/cpp/jni/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-wrapper.h
  android/src/main/cpp/jni/sherpa-onnx-tts-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

feat(model_support): add support for unsupported model detection and messaging
  example/src/screens/download/ModelManagementScreen.tsx
Due: lint, types, types-example

feat(archive_helper): implement native archive extraction using libarchive and JNI
  android/build.gradle
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/CMakePresets.json
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.cpp
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.h
  android/src/main/cpp/jni/sherpa-onnx-archive-jni.cpp
  android/src/main/cpp/libarchive_update/CMakeLists-base.txt
  android/src/main/cpp/libarchive_update/config-base.h
  android/src/main/cpp/libarchive_update/update.js
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
Due: lint, types

fix(archive_helper): improve progress calculation in ExtractTarBz2 method
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.cpp
Due: none

feat(validation): add progress tracking for checksum calculation and validation
  example/src/screens/download/ModelManagementScreen.tsx
  src/download/ModelDownloadManager.ts
  src/download/extractTarBz2.ts
  src/download/validation.ts
Due: lint, types, types-example

feat(archive_helper): add native SHA-256 checksum calculation during archive extraction
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/crypto/sha256.cpp
  android/src/main/cpp/crypto/sha256.h
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.cpp
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.h
  android/src/main/cpp/jni/sherpa-onnx-archive-jni.cpp
  example/src/screens/download/ModelManagementScreen.tsx
  ios/SherpaOnnxArchiveHelper.mm
  src/NativeSherpaOnnx.ts
  src/download/ModelDownloadManager.ts
  src/download/extractTarBz2.ts
Due: lint, types, types-example

feat(download): enhance model download management with category-based functions and progress tracking
  docs/download-integration.md
  example/src/screens/download/ModelManagementScreen.tsx
  src/download/ModelDownloadManager.ts
  src/download/index.ts
Due: lint, types, types-example

feat(retry): implement retry mechanism with exponential backoff for model fetching and downloading
  src/download/ModelDownloadManager.ts
Due: lint, types

feat(download): enhance model download process with support for resuming partial downloads and improved cleanup logic
  src/download/ModelDownloadManager.ts
Due: lint, types

feat(metadata): add model metadata management with lastUsed tracking and LRU cleanup functionality
  src/download/ModelDownloadManager.ts
  src/download/index.ts
Due: lint, types

feat(download): enhance download progress tracking with speed and ETA calculations
  example/src/screens/download/ModelManagementScreen.tsx
  src/download/ModelDownloadManager.ts
Due: lint, types, types-example

fix(download): support ONNX model downloads and enhance archive handling
  src/download/ModelDownloadManager.ts
Due: lint, types

docs(download): refactor TTS model setup and download documentation
  README.md
  docs/STT_MODEL_SETUP.md
  docs/TTS_MODEL_SETUP.md
  docs/download-manager.md
  docs/stt.md
  docs/tts-models.md
  docs/tts.md
Due: none

Update android/src/main/cpp/libarchive/contrib/libarchive_autodetect-st_lib_archive.m4
  android/src/main/cpp/libarchive/contrib/libarchive_autodetect-st_lib_archive.m4
Due: none

perf(sha256): replaced native sha256 implementation with c++ implementation
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.cpp
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.h
  android/src/main/cpp/jni/sherpa-onnx-archive-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/package.json
  ios/SherpaOnnx.mm
  ios/SherpaOnnxArchiveHelper.h
  ios/SherpaOnnxArchiveHelper.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/download/validation.ts
  yarn.lock
Due: lint, types

feat(download): implement example app model download functionality for Android and iOS
  .github/workflows/app-android-release.yml
  .github/workflows/sdk-android.yml
  .github/workflows/sdk-ios.yml
  .gitignore
  example/android/app/build.gradle
  example/android/app/src/main/assets/models/kokoro-us/dict/README.md
  example/android/app/src/main/assets/models/kokoro-zh/dict/README.md
  example/ios/VoiceLabOfflineTools.xcodeproj/project.pbxproj
  example/scripts/download-models.js
  example/scripts/model-download-config.json
  example/src/screens/download/ModelManagementScreen.tsx
  ios/sherpa-onnx-model-detect.mm
  src/stt/types.ts
Due: lint, types, types-example

feat(error_handling): improved error message in ui by forwarding c++ errors
  android/src/main/cpp/jni/sherpa-onnx-stt-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-wrapper.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  example/scripts/model-download-config.json
  ios/SherpaOnnx+STT.mm
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

refactor(settings): remove ads status display and related logic from SettingsScreen
  example/src/screens/settings/SettingsScreen.tsx
Due: lint, types, types-example

style(lint): simplify error handling and clean up code in download-models.js
  example/scripts/download-models.js
  example/src/screens/settings/SettingsScreen.tsx
Due: lint, types, types-example

ci(naming): update iOS workflow to reference VoiceLabOfflineTools instead of SherpaOnnxExample
  .github/workflows/sdk-ios.yml
Due: none

chore(release-it): update package.json to disable GitHub releases and specify changelog input file
  package.json
Due: none

feat(libarchive): setup iOS integration with libarchive
  SherpaOnnx.podspec
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-wrapper.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/libarchive_darwin_config.h
Due: none

fix(SherpaOnnxArchiveHelper): improve error handling in data writing process
  ios/SherpaOnnxArchiveHelper.mm
Due: none
