Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(speaker-embedding): add shared engine cache and manager TypeScript foundation
  src/speaker-embedding/__tests__/engineCache.test.ts
  src/speaker-embedding/__tests__/speakerEmbeddingNativeBridge.test.ts
  src/speaker-embedding/customConfig.ts
  src/speaker-embedding/engine.ts
  src/speaker-embedding/engineCache.ts
  src/speaker-embedding/index.ts
  src/speaker-embedding/manager.ts
  src/speaker-embedding/speakerEmbeddingNativeBridge.ts
  src/speaker-embedding/types.ts
Due: lint, types

feat(speaker-identification): expose createSpeakerIdentification enroll and identify API
  package.json
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/types.ts
Due: lint, types

fix(ios): match VAD and punctuation init options to codegen Spec
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/punctuation/bridge/SherpaOnnx+OnlinePunctuation.mm
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

feat(segmentbuffer): allow sid speech payload source
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/segmentbuffer-offline.md
  docs/segmentbuffer-streaming.md
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/NativeSherpaOnnx.ts
  src/segmentbuffer/__tests__/speech-payload-sid.test.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

feat(speaker-identification): add segment enroll and label APIs
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/types.ts
Due: lint, types

docs: add speaker identification offline guide
  README.md
  docs/README.md
  docs/diarization.md
  docs/feature-pipelines.md
  docs/speaker-identification-offline.md
Due: none

docs: enhance speaker identification offline guide with labeling and session management details
  docs/speaker-identification-offline.md
Due: none

docs: expand README with Voice Activity Detection, Source Separation, and Speaker Identification models
  README.md
Due: none

feat(events): enhance offline segment processing with progress and labeling callbacks
  docs/speaker-identification-offline.md
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/progress.ts
  src/speaker-identification/types.ts
Due: lint, types

feat(live-ovrload): implement live segment labeling and enhance types
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/__tests__/labelLiveSegments.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/live.ts
  src/speaker-identification/streamingTypes.ts
  src/speaker-identification/types.ts
Due: lint, types

docs: add speaker identification live patterns and update related documentation
  docs/README.md
  docs/feature-pipelines.md
  docs/speaker-identification-live.md
  docs/speaker-identification-offline.md
Due: none

refactor(speaker-identification): remove onError option and update related logic
  docs/speaker-identification-live.md
  src/speaker-identification/__tests__/labelLiveSegments.test.ts
  src/speaker-identification/live.ts
  src/speaker-identification/types.ts
Due: lint, types

docs: update speaker identification documentation and enhance model detection references
  README.md
  docs/download-manager.md
  docs/internal/speaker-embedding-foundation.md
  docs/model-detect.md
  docs/speaker-identification-offline.md
  docs/streaming-pipelines-overview.md
  src/speaker-embedding/index.ts
  src/speaker-identification/index.ts
Due: lint, types

docs: refine speaker identification live documentation and clarify pipeline handle details
  docs/internal/live-overload.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-live.md
  docs/speaker-identification-offline.md
  docs/streaming-pipelines-overview.md
  src/speaker-identification/live.ts
  src/speaker-identification/streamingTypes.ts
Due: lint, types

docs: update separation documentation to clarify live overload and segmentation policies
  docs/README.md
  docs/feature-pipelines.md
  docs/separation-offline.md
  docs/separation-streaming.md
  docs/speaker-identification-live.md
  docs/streaming-pipelines-overview.md
  example/README.md
Due: none

feat(export-import): implement export and import functionality for speaker enrollments
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/types.ts
Due: lint, types

docs(export-import): enhance speaker identification documentation with export/import details
  docs/future-work/speaker-embedding-manager-upstream-export-import.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-offline.md
Due: none

feat(example): add speaker identification showcase screen
  example/README.md
  example/src/components/ScreenIntroModal.tsx
  example/src/components/modelInit/SpeakerIdentificationCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
  example/src/types/navigation.ts
  example/src/utils/sidCustomInitFill.ts
  example/src/utils/sidCustomInitLabels.ts
  example/tsconfig.json
Due: lint, types, types-example

docs: mark speaker identification example screen as complete
  docs/internal/speaker-embedding-foundation.md
Due: none

feat(models): add new speaker embedding models to download configuration
  example/scripts/model-download-config.json
Due: none

feat(speaker-identification): enhance enrollment process with duplicate name checks
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
Due: lint, types, types-example

feat(speaker-identification): enhance action success handling and UI updates
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
Due: lint, types, types-example

feat(speaker-identification): add verify segments and per-span enroll names
  docs/speaker-identification-offline.md
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/types.ts
Due: lint, types

feat(example): improve SID offline actions UX for segmentation modes
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
Due: lint, types, types-example

feat(example): support comma-separated per-span enroll names
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
Due: lint, types, types-example

feat(speaker-identification): enhance verifyOfflineSegments to support multiple names
  docs/speaker-identification-offline.md
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/types.ts
Due: lint, types, types-example

feat(speaker-identification): implement speaker export filtering and UI enhancements
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
Due: lint, types, types-example

feat(speaker-identification): enhance SpeakerIdentificationScreen with export/import section management and progress feedback
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
Due: lint, types, types-example

feat(example): add speaker identification images to README
  docs/images/example/speaker_identification_1.png
  docs/images/example/speaker_identification_2.png
  docs/images/example/speaker_identification_3.png
  example/README.md
Due: none

docs: update README for source separation feature
  README.md
  example/README.md
Due: none

feat(speaker-identification): enhance SpeakerIdentificationScreen with live label event management
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
Due: lint, types, types-example

chore(ci): add diarization collect stream for speaker-segmentation-models
  .github/workflows/collect-model-structures.yml
  scripts/ci/check-model-csvs.sh
  scripts/ci/collect_all_sherpa_model_streams.sh
  scripts/ci/run_model_collect.sh
  scripts/ci/sherpa_diarization_model_release_streams.json
  scripts/ci/sherpa_model_collect_manifest.json
Due: none

chore(testdata): add speaker-segmentation fixtures and license status
  android/src/main/assets/model_licenses/speaker-segmentation-models-license-status.csv
  ios/Resources/model_licenses/speaker-segmentation-models-license-status.csv
  src/licenses.ts
  test/fixtures/speaker-segmentation-models-expected.csv
  test/fixtures/speaker-segmentation-models-structure.txt
Due: lint, types

docs: record diarization core design and collect findings
  docs/internal/speaker-embedding-foundation.md
Due: none

fix(example): type ScrollView ref with ElementRef for SID screen
  example/src/screens/speaker-identification/SpeakerIdentificationScreen.tsx
Due: lint, types, types-example

feat(detect): add native diarization segmentation model detection
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-diarization-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-diarization-detect-wrapper.h
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-model-detect-diarization.cpp
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-validate-diarization.cpp
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-validate-diarization.h
  test/cpp/CMakeLists.txt
Due: none

feat(detect): wire Android and iOS bridges for diarization detect
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  ios/diarization/bridge/SherpaOnnx+DiarizationDetect.mm
  ios/diarization/core/DiarizationBridgeUtils.h
  ios/diarization/core/DiarizationBridgeUtils.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(diarization): add detectDiarizationModel and catalog detect wiring
  src/detect/detectModel.ts
  src/detect/validateCustomModelPaths.ts
  src/diarization/__tests__/detectDiarizationModel.test.ts
  src/diarization/index.ts
  src/diarization/types.ts
  src/download/__tests__/catalogHints.test.ts
  src/download/catalogDetectCategories.ts
  src/types/modelDetect.ts
  test/fixtures/speaker-segmentation-models-expected.csv
Due: lint, types

test(detect): cover diarization model detection in CI
  .github/workflows/test-diarization-model-detect.yml
  .github/workflows/test-model-detect.yml
  docs/internal/speaker-embedding-foundation.md
  scripts/ci/check-model-csvs.sh
  test/cpp/model_detect/custom_path_requirements_catalog_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
  test/cpp/model_detect/model_detect_test_utils.h
Due: none

docs: choose decomposed diarization core over monolith wrapper
  docs/internal/speaker-embedding-foundation.md
Due: none
