Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

docs(segmentation): update segmentation engine overview and sub-plan documentation
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-01-segment-contract.md
  docs/migration/segmentationEngine/sub-03-buffer-integration.md
  docs/migration/segmentationEngine/sub-06-cleanup-contract-parity.md
Due: none

feat(segment): implement text truncation for live segment events
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  src/segment/__tests__/segment-api.test.ts
  src/segment/index.ts
  src/segment/segment.ts
  src/textbuffer/__tests__/segment-events.test.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

docs(segmentation): update segmentation engine documentation and phase statuses
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-01-segment-contract.md
  docs/migration/segmentationEngine/sub-03-buffer-integration.md
Due: none

feat(audio): enhance error handling and buffer management in SherpaOnnxModule
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioErrorCodes.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
Due: none

feat(audio): enhance buffer management and cleanup in SherpaOnnx
  ios/SherpaOnnx.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudioMic.mm
  ios/audio/pipeline/PaLiveEntry.h
  ios/audio/pipeline/SherpaOnnx+PipelineAudioGlobals.h
  ios/enhancement/bridge/SherpaOnnx+EnhancementOnline.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

feat(audio): add transfer functionality for offline audio buffers
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/pipeline/offlineOrchestrator.ts
Due: lint, types

test(audio): add unit tests for offline entry orphan sweep functionality
  android/src/test/java/com/sherpaonnx/audio/pipeline/OfflineEntryOrphanSweepTest.kt
  src/pipeline/__tests__/offline-orchestrator.test.ts
Due: lint, types

docs(segmentation): update segmentation engine overview and Sub-Plan 04 documentation
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-04-transfer-offline-orchestration.md
Due: none

feat(segmentation): implement segmentation engine lifecycle and annotation handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  ios/audio/pipeline/PaLiveEntry.h
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/segmentbuffer/core/SherpaOnnx+SegmentBufferGlobals.h
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: none

feat(segmentation): add segmentation engine methods and policies
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/pipeline/offlineOrchestrator.ts
  src/segment/engine-types.ts
  src/segment/index.ts
  src/segment/runtime-state.ts
  src/segment/segment-serialization.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

test(segmentation): enhance offline segmentation capabilities and testing
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/segment/__tests__/runtime-state.test.ts
  src/segment/__tests__/segment-api.test.ts
Due: lint, types

docs(segmentation): update segmentation engine overview and Sub-Plan 02 status
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-02-segmentation-engine-core.md
Due: none

feat(segmentation): add offline text buffer population and VAD model integration
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttPipelineWorker.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/stt/pipeline/SttPipelineWorker.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
Due: none

feat(stt): enhance transcription with segmentation options and offline text buffer management
  src/NativeSherpaOnnx.ts
  src/pipeline/offlineOrchestrator.ts
  src/segment/engine-types.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

test(stt-segmentation): add comprehensive tests for STT segmented transcription and VAD integration
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/segment/__tests__/segment-api.test.ts
  src/segment/__tests__/segmentation-engine-vad.test.ts
  src/stt/__tests__/transcribe-segmented.test.ts
Due: lint, types

docs(segmentation): update segmentation engine overview and add core snapshot documentation
  docs/migration/segmentationEngine/segmentation-engine-core-snapshot.md
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-05-feature-pipeline-migration.md
Due: none

feat(audio): implement populateOfflineAudioBufferIfEmpty method for buffer management
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
Due: none

feat(enhancement): integrate offline enhancement pipeline with segmentation options
  src/NativeSherpaOnnx.ts
  src/enhancement/index.ts
  src/enhancement/orchestrate.ts
  src/enhancement/streaming.ts
  src/enhancement/streamingTypes.ts
  src/enhancement/types.ts
Due: lint, types

test(enhancement): add comprehensive tests for offline and streaming enhancement pipelines
  src/enhancement/__tests__/enhance-segmented.test.ts
  src/enhancement/__tests__/orchestrate.test.ts
  src/enhancement/__tests__/streaming-continuous-frames.test.ts
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/segment/__tests__/segmentation-engine-continuous-frames.test.ts
Due: lint, types

feat(example): add segmented enhancement options to UI for offline and streaming screens
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
Due: lint, types, types-example

docs(segmentation): update segmentation engine overview and sub-05 feature pipeline migration documentation
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-05-feature-pipeline-migration.md
Due: none

feat(punctuation): integrate online punctuation capabilities into the SherpaOnnx module
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/punctuation/core/PunctuationErrorCodes.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxOnlinePunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  ios/SherpaOnnx.mm
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/punctuation/bridge/SherpaOnnx+OnlinePunctuation.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
Due: none

feat(punctuation): enhance online punctuation capabilities and introduce streaming support
  src/NativeSherpaOnnx.ts
  src/punctuation/detect.ts
  src/punctuation/index.ts
  src/punctuation/offline.ts
  src/punctuation/orchestrate.ts
  src/punctuation/streaming.ts
  src/punctuation/streamingTypes.ts
  src/punctuation/types.ts
  src/segment/engine-types.ts
Due: lint, types

feat(example): add PunctuationStreaming screen and enhance navigation
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/punctuation-streaming/PunctuationStreamingScreen.tsx
  example/src/screens/punctuation/PunctuationScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

test(punctuation): add comprehensive tests for punctuation processing in offline and streaming contexts
  src/punctuation/__tests__/orchestrate.test.ts
  src/punctuation/__tests__/punctuation-segmented.test.ts
  src/punctuation/__tests__/streaming-punctuation.test.ts
  src/segment/__tests__/segmentation-engine-punctuation.test.ts
Due: lint, types

feat(tts): implement offline text-to-audio pipeline and enhance TTS synthesis options
  src/pipeline/offlineOrchestrator.ts
  src/tts/index.ts
  src/tts/orchestrate.ts
  src/tts/streaming.ts
  src/tts/streamingTypes.ts
  src/tts/types.ts
Due: lint, types

test(tts): add tests for offline text-to-audio pipeline and streaming modes
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/tts/__tests__/orchestrate.test.ts
  src/tts/__tests__/streaming-mode3.test.ts
  src/tts/__tests__/streaming-mode4-segmentation.test.ts
  src/tts/__tests__/synthesize-mode1-oneshot.test.ts
  src/tts/__tests__/synthesize-mode2-linkmap.test.ts
  src/tts/__tests__/synthesize-mode2-segmented.test.ts
Due: lint, types

refactor(tts-example): transition to streaming TTS engine and enhance session management
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/tts-streaming/TTSStreamingScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

refactor(tts-incremental): remove incremental TTS implementation and related components
  src/tts/incremental/__tests__/engine.test.ts
  src/tts/incremental/__tests__/policies.test.ts
  src/tts/incremental/__tests__/segmenter.test.ts
  src/tts/incremental/engine.ts
  src/tts/incremental/events.ts
  src/tts/incremental/index.ts
  src/tts/incremental/policies.ts
  src/tts/incremental/segmenter.ts
  src/tts/incremental/types.ts
Due: lint, types

docs(segmentation): update segmentation engine documentation for Phase 5 and cleanup efforts
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-05-feature-pipeline-migration.md
  docs/migration/segmentationEngine/sub-06-cleanup-contract-parity.md
Due: none

fix(tts): improve streaming segment handling and enforce mono channel requirement
  docs/migration/segmentationEngine/sub-06-cleanup-contract-parity.md
  example/src/screens/tts/TTSScreen.tsx
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/pipeline/offlineOrchestrator.ts
  src/tts/__tests__/orchestrate.test.ts
  src/tts/__tests__/synthesize-mode1-oneshot.test.ts
  src/tts/index.ts
  src/tts/orchestrate.ts
Due: lint, types, types-example

chore(renaming): changed vadModelId to correct naming modelPath
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentOptionParsers.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  ios/alignment/core/AlignmentBridgeUtils.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/alignment/alignTextToAudio.ts
  src/alignment/types.ts
  src/segment/__tests__/segment-api.test.ts
  src/segment/__tests__/segmentation-engine-vad.test.ts
  src/segment/engine-types.ts
  src/segment/index.ts
  src/stt/__tests__/transcribe-segmented.test.ts
Due: lint, types, types-example

docs(alignment): created high and low level plan to fully implement alignment api
  docs/alignment.md
  docs/migration/alignment/accurate-vad-segmentation-high-level-plan.md
  docs/migration/alignment/alignment-asr-mediated-ts-example.md
  docs/migration/alignment/alignment-public-modes-plan.md
  docs/migration/alignment/alignment_migration_overview.md
  docs/migration/alignment/offline-alignment-pipeline-spec.md
  docs/migration/alignment/sub-01-public-api-contract.md
  docs/migration/alignment/sub-02-linker-path3-core.md
  docs/migration/alignment/sub-03-accurate-strategy-a-integration.md
  docs/migration/alignment/sub-04-accurate-strategy-b-integration.md
  docs/migration/alignment/sub-05-native-bridge-and-platform-parity.md
  docs/migration/alignment/sub-06-tests-and-quality-gates.md
  docs/migration/alignment/sub-07-docs-example-and-cutover.md
  docs/migration/segmentationEngine/segmentation-engine-core-snapshot.md
  docs/migration/vad/vad-integration-plan.md
Due: none

feat(alignment): integrate segmentation engine and enhance alignment options validation
  src/alignment/alignTextToAudio.ts
  src/alignment/engine.ts
  src/alignment/index.ts
  src/alignment/types.ts
Due: lint, types

feat(example-alignment): refactor alignment handling to use createAlignment function
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

test(alignment): add comprehensive tests for alignment engine functionality and options validation
  src/alignment/__tests__/engine-create.test.ts
  src/alignment/__tests__/engine-no-freestanding-export.test.ts
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/__tests__/engine-row-parity.test.ts
Due: lint, types

feat(linker): implement linker functionality for audio-text alignment
  src/alignment/engine.ts
  src/alignment/linker/anchorMap.ts
  src/alignment/linker/confidence.ts
  src/alignment/linker/dtw.ts
  src/alignment/linker/linker.ts
  src/alignment/linker/normalize.ts
  src/alignment/linker/types.ts
  src/alignment/types.ts
Due: lint, types

test(linker): add unit tests for anchorMap, confidence, dtw, normalize, and runLinker functionality
  src/alignment/linker/__tests__/anchorMap.test.ts
  src/alignment/linker/__tests__/confidence.test.ts
  src/alignment/linker/__tests__/dtw.test.ts
  src/alignment/linker/__tests__/fixtures/short-en.json
  src/alignment/linker/__tests__/normalize.test.ts
  src/alignment/linker/__tests__/runLinker-missing-timestamps.test.ts
  src/alignment/linker/__tests__/runLinker.test.ts
Due: lint, types

feat(segment): add populateOfflineSegmentBufferIfEmpty method for offline buffer management
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentPipelineRegistry.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
