Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

refactor(segmentation-showcase): enhance styles and functionality for Segmentation Showcase screen
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.styles.ts
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
Due: lint, types, types-example

refactor(generate-timestamp): update styles and enhance functionality for GenerateTimestampScreen
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

feat(segmentation): enhance sentence boundary handling with customizable delimiters
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
Due: none

feat(segmentation-showcase): enhance segmentation policies with customizable sentence boundaries
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.styles.ts
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
  src/segment/engine-types.ts
  src/segment/index.ts
Due: lint, types, types-example

feat(segmentation): update VAD model path handling and introduce model type validation
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/segment/__tests__/segmentation-engine-vad.test.ts
  src/segment/engine-types.ts
  src/segment/index.ts
  src/segment/validation.ts
  src/stt/__tests__/transcribe-segmented.test.ts
Due: lint, types, types-example

docs(segmentation): update speech VAD model path handling to use FileSource
  docs/alignment-offline.md
  docs/migration/alignment/alignment-asr-mediated-ts-example.md
  docs/migration/alignment/alignment-public-modes-plan.md
  docs/migration/alignment/alignment_migration_overview.md
  docs/migration/alignment/sub-02-linker-path3-core.md
  docs/migration/segmentationEngine/segmentation-engine-core-snapshot.md
  docs/migration/segmentationEngine/sub-05-feature-pipeline-migration.md
  docs/segmentation-engine.md
Due: none

test(vad-mock): add jest setup for mocking VAD engine
  jest.setup.js
  package.json
  src/segment/index.ts
Due: lint, types

fix(audio): enhance error handling in audio decoding and processing
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
Due: none

feat(audio-resample): set default sample rate to 16000 Hz for audio buffer creation and update documentation
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
Due: lint, types

fix(alignment): improve model path resolution and error handling in alignment functions
  src/alignment/__tests__/engine-create.test.ts
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/__tests__/engine-row-parity.test.ts
  src/alignment/__tests__/native-bridge-error-mapping.test.ts
  src/alignment/__tests__/native-bridge-slice-call.test.ts
  src/alignment/__tests__/native-spec-shape.test.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/asrMediated/__tests__/driver-coverage.test.ts
  src/alignment/asrMediated/__tests__/driver-offset.test.ts
  src/alignment/asrMediated/__tests__/driver-options.test.ts
  src/alignment/asrMediated/__tests__/driver-pipeline.test.ts
  src/alignment/asrMediated/__tests__/missing-timestamps.test.ts
  src/alignment/asrMediated/driver.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-options.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-progress.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-stuck.test.ts
  src/alignment/chunkedForcedCtc/__tests__/native-spec.test.ts
  src/alignment/chunkedForcedCtc/driver.ts
Due: lint, types

feat(segmentation): add model options for token timestamps and update state management for thresholds
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
Due: lint, types, types-example

feat(segmentation-showcase): enhance segment metadata and UI for loading more segments
  docs/segmentation-engine.md
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.styles.ts
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
  example/src/screens/segmentation-showcase/segmentReasonColors.ts
  src/NativeSherpaOnnx.ts
  src/segment/index.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types, types-example

feat(audio-decoding): add progress callback to native audio decoding for real-time updates
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
Due: none

docs(models): add README for bundled models and remove obsolete model directories
  example/android/app/src/main/assets/models/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-sense-voice-zh-en-ja-ko-yue-int8/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-vits-piper-en_US-libritts_r-medium/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-wenetspeech-ctc-zh-en-cantonese/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-whisper-tiny-en/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-zipformer-small-en/README.md
Due: none

feat(offline-audio): introduce OfflineAudioBufferWidget and SegmentationPolicyControls components
  example/src/components/OfflineAudioBufferWidget.styles.ts
  example/src/components/OfflineAudioBufferWidget.tsx
  example/src/components/SegmentationPolicyControls.styles.ts
  example/src/components/SegmentationPolicyControls.tsx
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/punctuation-streaming/PunctuationStreamingScreen.tsx
  example/src/screens/punctuation/PunctuationScreen.tsx
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/screens/vad/VADScreen.tsx
Due: lint, types, types-example

feat(tts): introduce Offline TTS and Streaming TTS screens with enhanced functionality
  example/src/components/ScreenIntroModal.tsx
  example/src/components/SegmentationPolicyControls.styles.ts
  example/src/components/SegmentationPolicyControls.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/tts-streaming/StreamingTTSScreen.tsx
  example/src/screens/tts/OfflineTTSScreen.styles.ts
  example/src/screens/tts/OfflineTTSScreen.tsx
  example/src/utils/punctuationModelCatalog.ts
  example/src/utils/vadModelCatalog.ts
  src/enhancement/__tests__/enhance-segmented.test.ts
  src/enhancement/index.ts
  src/tts/__tests__/synthesize-mode2-segmented.test.ts
  src/tts/index.ts
Due: lint, types, types-example

feat(tts): enhance StreamingTTSScreen with PAD model integration and improved model loading
  docs/tts-streaming.md
  example/src/screens/tts-streaming/StreamingTTSScreen.tsx
Due: lint, types, types-example

feat(audio): implement folder picker for saving audio files and enhance save functionality
  example/android/app/src/main/AndroidManifest.xml
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/tts/OfflineTTSScreen.tsx
  example/src/utils/saveAudioToUserFolder.ts
Due: lint, types, types-example

feat(audio): enhance error handling in audio encoding session creation
  android/src/main/cpp/jni/audio/audio_encode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

feat(fileio-example): add File I/O screen and related functionality
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/fileio/FileIOScreen.tsx
  example/src/screens/fileio/fileioActions.ts
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

feat(fileio-screen): enhance File I/O functionality with new audio source options and improved user experience
  example/src/screens/fileio/FileIOScreen.tsx
  example/src/screens/fileio/fileioActions.ts
Due: lint, types, types-example

refactor(fileio): improve file handling logic and enhance documentation
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
  example/src/screens/fileio/FileIOScreen.tsx
Due: lint, types, types-example

feat(fileio): implement stale file cleanup for improved resource management
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOHelper.kt
Due: none

feat(audio-save): introduce AudioSaveDestinationPicker and related utilities
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOHelper.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextPipelineRegistry.kt
  docs/alignment-offline.md
  docs/migration/alignment/sub-04-accurate-chunked-forced-ctc-integration.md
  example/src/components/AudioSaveDestinationPicker.tsx
  example/src/components/ExampleAudioSaveScreen.tsx
  example/src/components/audioSaveUtils.ts
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/fileio/fileioActions.ts
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/tts/OfflineTTSScreen.styles.ts
  example/src/screens/tts/OfflineTTSScreen.tsx
  example/src/utils/saveAudioToUserFolder.ts
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  src/alignment/chunkedForcedCtc/__tests__/driver-stuck.test.ts
  src/alignment/chunkedForcedCtc/cursor.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/enhancement/orchestrate.ts
  src/segment/__tests__/segment-link-map.test.ts
  src/segment/index.ts
  src/segmentbuffer/index.ts
  src/stt/index.ts
  src/textbuffer/types.ts
Due: lint, types, types-example

refactor(home-screen): update section titles to English for consistency
  example/src/screens/home/HomeScreen.tsx
Due: lint, types, types-example

feat(pipeline): introduce Offline and Live Pipeline Showcase screens
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.styles.ts
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/offline-pipeline-showcase/OfflinePipelineShowcaseScreen.styles.ts
  example/src/screens/offline-pipeline-showcase/OfflinePipelineShowcaseScreen.tsx
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.styles.ts
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

docs(migration): add live overload documentation for offline engines
  docs/migration/liveOverload/live_overload_overview.md
  docs/migration/liveOverload/offline-stt-live-pipeline-mandatory-segmentation.md
  docs/migration/liveOverload/sub-01-foundation-contract.md
  docs/migration/liveOverload/sub-02-shared-worker-base.md
  docs/migration/liveOverload/sub-03-stt-live-overload.md
  docs/migration/liveOverload/sub-04-punctuation-live-overload.md
  docs/migration/liveOverload/sub-05-tts-live-overload.md
  docs/migration/liveOverload/sub-06-enhancement-live-overload.md
  docs/migration/liveOverload/sub-07-cleanup-and-test-harness.md
  docs/migration/liveOverload/sub-08-streaming-tts-dedup.md
Due: none

docs(migration): finalize live overload documentation and decisions
  docs/migration/liveOverload/sub-01-foundation-contract.md
  docs/migration/liveOverload/sub-02-shared-worker-base.md
  docs/migration/liveOverload/sub-03-stt-live-overload.md
  docs/migration/liveOverload/sub-04-punctuation-live-overload.md
  docs/migration/liveOverload/sub-05-tts-live-overload.md
  docs/migration/liveOverload/sub-06-enhancement-live-overload.md
  docs/migration/liveOverload/sub-07-cleanup-and-test-harness.md
  docs/migration/liveOverload/sub-08-streaming-tts-dedup.md
Due: none

feat(phase-1a): implement live offline segmentation validation and types
  src/index.tsx
  src/livePipeline/__tests__/validation.test.ts
  src/livePipeline/index.ts
  src/livePipeline/livePipelineOptions.ts
  src/livePipeline/validation.ts
Due: lint, types

feat(phase-1b): implement OfflineLivePipelineWorker for audio and text segment processing
  android/src/main/java/com/sherpaonnx/livePipeline/OfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/test/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntryCommitListenerTest.kt
  docs/migration/liveOverload/sub-02-shared-worker-base.md
  ios/livePipeline/OfflineLivePipelineWorker.h
  ios/livePipeline/OfflineLivePipelineWorker.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/segmentbuffer/core/SherpaOnnx+SegmentBufferGlobals.h
Due: none

feat(phase-2): implement offline live STT pipeline support
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/livePipeline/OfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOfflineSttLivePipelineHelper.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttOfflineLivePipelineWorker.kt
  docs/migration/liveOverload/sub-03-stt-live-overload.md
  docs/stt-offline.md
  example/ios/Podfile.lock
  ios/livePipeline/OfflineLivePipelineWorker.h
  ios/livePipeline/OfflineLivePipelineWorker.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/native/sherpa-onnx-stt-wrapper.h
  ios/stt/native/sherpa-onnx-stt-wrapper.mm
  ios/stt/pipeline/SttOfflineLivePipelineWorker.h
  ios/stt/pipeline/SttOfflineLivePipelineWorker.mm
  src/NativeSherpaOnnx.ts
  src/stt/__tests__/live-offline.test.ts
  src/stt/__tests__/transcribe-segmented.test.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

feat(phase-3): implement offline live punctuation pipeline support
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxOfflinePunctuationLivePipelineHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationOfflineLivePipelineWorker.kt
  docs/migration/liveOverload/sub-04-punctuation-live-overload.md
  docs/punctuation-offline.md
  example/ios/Podfile.lock
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/punctuation/pipeline/PunctuationOfflineLivePipelineWorker.h
  ios/punctuation/pipeline/PunctuationOfflineLivePipelineWorker.mm
  src/NativeSherpaOnnx.ts
  src/punctuation/__tests__/live-offline.test.ts
  src/punctuation/__tests__/punctuation-segmented.test.ts
  src/punctuation/__tests__/streaming-punctuation.test.ts
  src/punctuation/index.ts
  src/punctuation/offline.ts
  src/punctuation/types.ts
Due: lint, types

feat(phase-4): implement offline live TTS pipeline support
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOfflineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  docs/migration/liveOverload/sub-07-cleanup-and-test-harness.md
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.h
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.mm
  src/NativeSherpaOnnx.ts
  src/tts/__tests__/live-offline.test.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

feat(phase-5): implement offline live enhancement pipeline support
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementOfflineLivePipelineWorker.kt
  ios/enhancement/EnhancementOfflineLivePipelineWorker.h
  ios/enhancement/EnhancementOfflineLivePipelineWorker.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  src/NativeSherpaOnnx.ts
  src/enhancement/__tests__/enhance-live-offline.test.ts
  src/enhancement/index.ts
  src/enhancement/types.ts
  src/punctuation/types.ts
  src/stt/types.ts
Due: lint, types

test(phase-6): enhance offline live pipeline with segmentation engine integration
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  src/NativeSherpaOnnx.ts
  src/enhancement/index.ts
  src/livePipeline/__tests__/cross-feature.test.ts
  src/punctuation/offline.ts
  src/stt/index.ts
  src/tts/index.ts
Due: lint, types

docs(live-overload): enhance offline models for live consumption with segmentation support
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/punctuation-offline.md
  docs/segmentation-engine.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

feat(example): add EngineModeModelSelector component for managing engine modes and model selection
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementOfflineLivePipelineWorker.kt
  example/src/components/EngineModeModelSelector.tsx
  example/src/components/SegmentationPolicyControls.tsx
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
  example/src/screens/tts-streaming/StreamingTTSScreen.tsx
Due: lint, types, types-example

feat(example): enhance EngineModeModelSelector with streaming model handling
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  example/src/components/EngineModeModelSelector.tsx
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.styles.ts
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/tts-streaming/StreamingTTSScreen.tsx
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  src/NativeSherpaOnnx.ts
  src/tts/__tests__/live-offline.test.ts
  src/tts/index.ts
Due: lint, types, types-example

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
