Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(stt_streaming): add streaming STT functionality with initialization and processing methods
  src/stt/index.ts
  src/stt/streaming.ts
Due: lint, types

feat(tts_streaming): enhance TTS stream handling with request ID support and improved unsubscribe logic
  src/tts/index.ts
Due: lint, types

docs(index): update feature-specific import examples for STT and TTS modules
  src/index.tsx
Due: lint, types

docs(stt_streaming): add comprehensive guide for streaming Speech-to-Text API, including usage examples, API reference, and advanced tips
  docs/stt_streaming.md
Due: none

feat(tts_streaming): introduce streaming TTS engine with support for incremental speech generation and PCM playback
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/streamingTypes.ts
  src/tts/types.ts
Due: lint, types

feat(stt_auto_detect): add support for Tone CTC model detection and auto detect for online stt models
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-stt-wrapper.cpp
  ios/model_detect/sherpa-onnx-model-detect-helper.h
  ios/model_detect/sherpa-onnx-model-detect-helper.mm
  ios/model_detect/sherpa-onnx-model-detect-stt.mm
  ios/model_detect/sherpa-onnx-model-detect.h
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
Due: lint, types

docs(stt_auto_detect): documented auto detect
  README.md
  docs/stt_streaming.md
  docs/tts_streaming.md
Due: none

docs(tts_auto_detect): documented auto detect for tts models
  docs/streaming_mermaid.md
  docs/tts_streaming.md
Due: none

feat(online_stt_ios): implement Online STT functionality with initialization, stream management, and waveform processing
  SherpaOnnx.podspec
  ios/SherpaOnnx+OnlineSTT.mm
  ios/online_stt/sherpa-onnx-online-stt-wrapper.h
  ios/online_stt/sherpa-onnx-online-stt-wrapper.mm
Due: none

feat(online_tts_ios): update TTS streaming implementation to unify native helper for Android and iOS, adding request ID support for event routing
  docs/tts_streaming.md
  ios/SherpaOnnx+TTS.mm
Due: none

feat(tts_streaming): enhance TTS streaming implementation with new streaming engine support and improved state management
  example/ios/Podfile.lock
  example/src/screens/tts/TTSScreen.tsx
  ios/SherpaOnnx.mm
  src/stt/streaming.ts
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/streamingTypes.ts
Due: lint, types, types-example

chore(dependencies): add react-native-audio-api as a peer dependency and update example project
  example/package.json
  package.json
  yarn.lock
Due: none

chore(audio_recorder): setup react-native-audio-api in the projectfiles
  .gitignore
  example/android/app/src/main/AndroidManifest.xml
  example/ios/Podfile.lock
  example/ios/VoiceLabOfflineTools.xcodeproj/project.pbxproj
  example/ios/VoiceLabOfflineTools/Info.plist
  gradle.properties
Due: none

feat(online_stt): refactor initializeOnlineStt to initializeOnlineSttWithOptions for improved parameter handling and flexibility
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+OnlineSTT.mm
Due: none

feat(stt_live): implement live transcription functionality with audio input management and UI updates
  example/android/app/build.gradle
  example/src/screens/stt/STTScreen.styles.ts
  example/src/screens/stt/STTScreen.tsx
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
Due: lint, types, types-example

docs(readme): update README and streaming documentation to include offline and streaming capabilities, enhance feature descriptions, and add input normalization details
  README.md
  docs/stt_streaming.md
Due: none

feat(ffmpeg_flag): introduced a gradle flag to disable the ffmpeg library to solve double linking issues
  README.md
  android/build.gradle
  android/prebuilt-download.gradle
  android/src/main/cpp/CMakeLists.txt
  docs/disable-ffmpeg.md
  example/android/app/build.gradle
  example/android/gradle.properties
  gradle.properties
Due: none

feat(libarchive_flag): add support to disable libarchive in the Android build via gradle properties
  README.md
  android/build.gradle
  android/prebuilt-download.gradle
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-helper.cpp
  docs/disable-libarchive.md
  example/android/gradle.properties
  yarn.lock
Due: none

style(tts): improve text formatting in live mode notification
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

chore: release 0.3.2
  CHANGELOG.md
  package.json
Due: none

chore(setup-ios-framework): remove obsolete get_latest_framework_version function to streamline script
  scripts/setup-ios-framework.sh
Due: none

refactor(type): specify type for toSend array in createStreamingSTT function
  example/android/gradle.properties
  src/stt/streaming.ts
Due: lint, types

chore(tag): set release tags to newest sherpa-onnx version 1.12.28
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
Due: none

ci(ios_workflow): fix iOS framework build script to use IOS_RELEASE_TAG instead of ANDROID_RELEASE_TAG
  .github/workflows/build-sherpa-onnx-ios-framework.yml
Due: none

chore(header): removed obsolete header files, as they will be downloaded
  .gitignore
  android/src/main/cpp/include/sherpa-onnx/c-api/c-api.h
  android/src/main/cpp/include/sherpa-onnx/c-api/cxx-api.h
Due: none

ci(latest): set flag to not set latest release on framework and libraries releases
  .github/workflows/build-ffmpeg-android-release.yml
  .github/workflows/build-libarchive-android-release.yml
  .github/workflows/build-libarchive-ios-release.yml
  .github/workflows/build-onnxruntime-android-release.yml
  .github/workflows/build-sherpa-onnx-android-release.yml
  .github/workflows/build-sherpa-onnx-ios-framework.yml
Due: none

fix(version_extraction): update paths to tag files for sherpa-onnx, ffmpeg, and libarchive to use module root
  android/prebuilt-versions.gradle
Due: none

feat(model_detection): add android support for Moonshine v2 and exclude files by name in ONNX detection
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-stt-wrapper.cpp
Due: none

feat(model_detection): add ios support for Moonshine v2 and exclude files by name in ONNX detection
  ios/SherpaOnnx+STT.mm
  ios/model_detect/sherpa-onnx-model-detect-helper.h
  ios/model_detect/sherpa-onnx-model-detect-helper.mm
  ios/model_detect/sherpa-onnx-model-detect-stt.mm
  ios/model_detect/sherpa-onnx-model-detect.h
  ios/stt/sherpa-onnx-stt-wrapper.mm
Due: none

fix(kotlin): defer recognizer creation to main looper to prevent SIGSEGV during model switching
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
Due: none

feat(js_bridge): update modelType options to include 'moonshine_v2'
  src/NativeSherpaOnnx.ts
Due: lint, types

docs(README): enhance model descriptions and add new models for ASR and TTS
  README.md
Due: none

refactor(stt_model_detection): implement GatherSttCandidatePaths and related structures for STT model detection
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  ios/model_detect/sherpa-onnx-model-detect-stt.mm
  ios/model_detect/sherpa-onnx-model-detect.h
Due: none

refactor(sherpa_onnx_update): enhance sherpa-onnx version management and update logic for native libs download
  android/prebuilt-download.gradle
Due: none

refactor(sherpa_onnx_update): improve version extraction logic for existing frameworks in setup script
  scripts/setup-ios-framework.sh
Due: none

refactor(stt_model_detection): enhance STT model detection logic and expand support for additional model types in both iOS and Android
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-stt.cpp
  ios/model_detect/sherpa-onnx-model-detect-stt.mm
Due: none

refactor(tts_model_detection): enhance TTS model detection logic to support additional model types and improve directory-based candidate selection in both iOS and Android
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-tts.cpp
  ios/model_detect/sherpa-onnx-model-detect-tts.mm
Due: none

ci(asr_tests): activate asr model structure workflow
  .github/workflows/collect-asr-model-structures.yml
Due: none

ci(testdata): update ASR model structures workflow to support dynamic asset limit and improve naming
  .github/workflows/collect-asr-model-structures.yml
Due: none
