Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

refactor(assets): restructure asset management by introducing new helper classes
  android/src/main/java/com/sherpaonnx/SherpaOnnxAssetHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetHintInferer.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetModelLister.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackLocator.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPathResolver.kt
  android/src/main/java/com/sherpaonnx/assets/facade/SherpaOnnxAssetHelper.kt
  ios/SherpaOnnx+Assets.mm
  ios/SherpaOnnx.mm
  ios/assets/bridge/SherpaOnnx+AssetsListing.mm
  ios/assets/bridge/SherpaOnnx+AssetsPaths.mm
  ios/assets/core/AssetModelHintUtils.h
  ios/assets/core/AssetModelHintUtils.mm
Due: none

feat(archive): introduce archive extraction helper with notification support
  android/proguard-rules.pro
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/archive/core/SherpaOnnxExtractionNotificationHelper.kt
  android/src/main/java/com/sherpaonnx/archive/facade/SherpaOnnxArchiveHelper.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
  android/src/main/java/com/sherpaonnx/fileio/core/SherpaOnnxContentUriUtils.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsAudioExportService.kt
Due: none

refactor(audiobuffer): reorganize audio buffer and pipeline audio files
  docs/migration/audiobuffer/audiobuffer-jsi-arraybuffer-implementation-spec.md
  docs/migration/audiobuffer/live-ingest-mandatory-spool-implementation-plan.md
  docs/migration/example/example-app-pipeline-registry-v1-plan.md
  docs/migration/stt/stt-audiobuffer-migration.md
  docs/migration/tts/tts-offline-buffer-pipeline-spec.md
  ios/SherpaOnnx.mm
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/assets/bridge/SherpaOnnx+Assets.h
  ios/assets/bridge/SherpaOnnx+AssetsPaths.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/pipeline/PaLiveEntry.h
  ios/audio/pipeline/SherpaOnnx+PipelineAudioGlobals.h
  ios/audiobuffer/SherpaOnnxJSI.cpp
  ios/enhancement/EnhancementPipelineWorker.h
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOnline.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/pipeline/SttPipelineWorker.h
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/pipeline/TtsPipelineWorker.h
Due: none

feat(audio): implement mic capture functionality in new audio mic bridge
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudioMic.mm
Due: none

refactor(pipeline): reorganize streaming pipeline files and update references
  docs/migration/online/online-enhancement-live-pipeline-spec.md
  docs/migration/tts/tts-offline-buffer-pipeline-spec.md
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/enhancement/EnhancementPipelineWorker.h
  ios/enhancement/bridge/SherpaOnnx+EnhancementOnline.mm
  ios/pipeline/bridge/SherpaOnnx+StreamingPipelineControl.mm
  ios/pipeline/core/SherpaOnnx+StreamingPipeline.h
  ios/pipeline/core/SherpaOnnx+StreamingPipeline.mm
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/pipeline/SttPipelineWorker.h
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/pipeline/TtsPipelineWorker.h
Due: none

refactor(tts): replace SherpaOnnxTtsHelper with SherpaOnnxTtsCoordinator and clean up unused code
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/tts/config/TtsGenerationOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxCommonTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOfflineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOnlineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsAudioExportService.kt
  android/src/main/java/com/sherpaonnx/tts/sink/TtsStreamingWavSink.kt
  ios/tts/bridge/SherpaOnnx+TTSExport.mm
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  ios/tts/bridge/SherpaOnnx+TTSLifecycle.mm
  ios/tts/engine/TtsEngineStore.h
  ios/tts/engine/TtsEngineStore.mm
  ios/tts/native/sherpa-onnx-tts-wrapper.h
  ios/tts/native/sherpa-onnx-tts-wrapper.mm
  ios/tts/options/TtsGenerationOptionsHelpers.h
  ios/tts/options/TtsGenerationOptionsHelpers.mm
Due: none

feat(textbuffer): introduce unified text buffer management for iOS
  ios/text/bridge/SherpaOnnx+TextBuffer.mm
  ios/text/core/SherpaOnnx+TextBufferGlobals.h
Due: none

chore(textbuffer): remove deprecated text buffer implementation for iOS
  ios/text/bridge/SherpaOnnx+TextBuffer.mm
  ios/text/core/SherpaOnnx+TextBufferGlobals.h
Due: none

feat(audio): enhance audio decoding with stream info callback
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
Due: none

feat(fileSource): implement resolveAppBaseDir for file source resolution
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/alignment/index.ts
  src/detect.ts
  src/enhancement/index.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/tts/index.ts
  src/types/modelDetect.ts
Due: lint, types

feat(example): add toDetectSource function for model path resolution
  example/src/modelConfig.ts
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

docs(refactor): update model detection references to use FileSource
  docs/alignment.md
  docs/enhancement-offline.md
  docs/hotwords.md
  docs/migration/enhancement/offline-enhancement-buffer-pipeline-spec.md
  docs/model-setup.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/tts-streaming-incremental.md
  docs/tts-streaming.md
Due: none

feat(fileio): enhance file source resolution and error handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/alignment.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/model-setup.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/tts-streaming-incremental.md
  docs/tts-streaming.md
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/detect.ts
Due: lint, types

fix(audio): ensure correct percentage calculation in audio decoding progress
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
Due: none

feat(models): enhance model management across screens
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

fix(example): update STTScreen to utilize FileSource for audio input
  example/android/app/build.gradle
  example/package.json
  example/react-native.config.js
  example/src/screens/stt/STTScreen.tsx
  yarn.lock
Due: lint, types, types-example

refactor(react-native-audio-api): migrate from react-native-audio-api to PCM playback
  android/build.gradle
  docs/migration/player/pcm-player-full-control-high-level-plan.md
  example/android/build.gradle
  example/android/gradle.properties
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/stt/STTScreen.styles.ts
  example/src/screens/stt/STTScreen.tsx
  example/src/utils/audioFilePcmPlayback.ts
  example/src/utils/audioFileWebPlayback.ts
  yarn.lock
Due: lint, types, types-example

feat(audio): enhance audio decoding to support file descriptors
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

refactor(audio): streamline error handling and improve code readability in audio decoding
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  example/src/screens/stt/STTScreen.tsx
  src/pcm/pcmPlayer.ts
Due: lint, types, types-example

fix(navigation): update screen title for DownloadShowcase to Downloadmanager
  example/src/navigation/RootNavigator.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/stt/STTScreen.styles.ts
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.styles.ts
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(pipeline-screen): add Pipeline Showcase screen and integrate into navigation
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.styles.ts
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

feat(audio-devices): enhance audio device management and routing capabilities
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MicToLiveBufferSink.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerRegistry.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerService.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudioMic.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
Due: none

feat(audio-devices): add methods for listing input and output devices
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/pcm/index.ts
  src/pcm/pcmPlayer.ts
  src/pcm/types.ts
Due: lint, types

feat(audio-devices): implement AudioDeviceDropdown component for device selection
  example/src/components/AudioDeviceDropdown.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/utils/audioDevices.ts
  example/src/utils/audioFilePcmPlayback.ts
Due: lint, types, types-example

docs(audio-devices): enhance documentation for audio device management
  docs/audiobuffer-streaming.md
  docs/pcm-player.md
Due: none

feat(pipeline-showcase): enhance PipelineShowcaseScreen with new styles and segment event tracking
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.styles.ts
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
Due: lint, types, types-example

feat(enhancement): add online compatibility guard and streaming detection for enhancement models
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-online-guard.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-online-guard.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-wrapper.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-model-detect-enhancement.cpp
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementResultMapper.kt
  ios/enhancement/core/EnhancementBridgeUtils.mm
  src/NativeSherpaOnnx.ts
  src/enhancement/index.ts
  src/types/modelDetect.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

docs(enhancement): update enhancement detection documentation and add online compatibility guard details
  docs/enhancement-offline.md
  docs/migration/enhancement/offline-enhancement-buffer-pipeline-spec.md
  docs/migration/enhancement/online-enhancement-detect-isstreaming-guard.md
Due: none

feat(stt-streaming-guard): implement online compatibility guards for STT models
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-ort-guard-utils.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-ort-guard-utils.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-online-guard.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-online-guard-ctc.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-online-guard-paraformer.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-online-guard-transducer.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-online-guard.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-online-guard.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-wrapper.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/stt/bridge/SherpaOnnx+STT.mm
Due: none

feat(stt-streaming-guard): enhance model detection with online-streaming compatibility
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/streamingTypes.ts
  src/types/modelDetect.ts
Due: lint, types

feat(stt-streaming-guard): add new tests for streaming detection in STT models
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
Due: none

feat(audio-session): implement centralized audio session management
  SherpaOnnx.podspec
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MicToLiveBufferSink.kt
  android/src/main/java/com/sherpaonnx/audio/session/PaAudioSessionCoordinator.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerService.kt
  example/ios/Podfile.lock
  ios/SherpaOnnx.mm
  ios/audio/bridge/SherpaOnnx+AudioSession.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudioMic.mm
  ios/audio/session/PaAudioSessionCoordinator.h
  ios/audio/session/PaAudioSessionCoordinator.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
Due: none

feat(audio-session): expand audio session capabilities with new pipeline management features
  src/NativeSherpaOnnx.ts
  src/audio/index.ts
  src/audio/types.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/pcm/index.ts
  src/pcm/pcmPlayer.ts
  src/pcm/types.ts
Due: lint, types

refactor(example): streamline audio device management and enhance route preference handling
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/utils/audioDevices.ts
  example/src/utils/audioFilePcmPlayback.ts
Due: lint, types, types-example

docs(audio-session): introduce centralized audio session coordination and enhance documentation
  README.md
  docs/audio-session.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/migration.md
  docs/migration/pipeline/ios-audio-session-spec-implementation-plan.md
  docs/migration/stt/stt-online-guard-implementation-spec.md
  docs/pcm-player.md
Due: none

feat(example): add ScreenIntroModal component to multiple screens
  example/src/components/ScreenIntroModal.tsx
  example/src/screens/diarization/DiarizationScreen.tsx
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
  example/src/screens/settings/SettingsScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/screens/vad/VADScreen.tsx
Due: lint, types, types-example

feat(audio): implement mmap-backed audio buffer management
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  example/ios/Podfile.lock
  ios/SherpaOnnx.mm
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/pipeline/SherpaOnnx+PipelineAudioGlobals.h
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  src/audiobuffer/types.ts
Due: lint, types

fix(mismatches): streamline offline buffer handling and enhance error management
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/pipeline/SherpaOnnx+PipelineAudioGlobals.h
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/fileio/SherpaOnnx+FileIO.mm
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
Due: none

feat(audio): implement streaming decode to raw float32 file
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
Due: none

refactor(audio): simplify persistence configuration and enhance audio processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/pipeline/PaLiveEntry.h
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
