Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(alignment): enhance VAD support with segmentation buffer handling
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentOptionParsers.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/alignment/core/AlignmentBridgeUtils.h
  ios/alignment/core/AlignmentBridgeUtils.mm
Due: none

feat(alignment): add 'vad' mode support and enhance alignment options
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/index.ts
  src/alignment/types.ts
Due: lint, types

refactor(example): add VAD mode and inline input for segmentation buffer
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

docs(alignment): update documentation to include 'vad' mode details
  docs/alignment.md
Due: none

refactor(example): enhance VAD support and UI elements
  example/src/navigation/RootNavigator.tsx
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  src/NativeSherpaOnnx.ts
Due: lint, types, types-example

refactor(SherpaOnnxModule): update lifecycle methods and streamline file handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

docs(alignment): expand documentation with detailed behavior matrix for alignment modes
  docs/alignment.md
Due: none

docs(alignment): add subtitle row derivation from alignment segments
  docs/alignment.md
  docs/migration/alignment/offline-alignment-pipeline-spec.md
  docs/migration/segmentbuffer/segmentbuffer-alignment-hard-cut-high-level-plan.md
Due: none

feat(alignment): enhance VAD mode with new parsing functions and error handling
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentErrorCodes.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentOptionParsers.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/alignment/core/AlignmentBridgeUtils.h
  ios/alignment/core/AlignmentBridgeUtils.mm
Due: none

feat(alignment): extend alignment options with new VAD parameters
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/types.ts
Due: lint, types

feat(example): add 'accurate_vad' mode and minimum anchor configuration
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

docs(alignment): update alignment documentation for accurate mode with VAD segmentation
  docs/alignment.md
Due: none

docs(internal-buffer): add internal architecture documentation for audio and text buffers
  docs/internal/liveaudiobuffer-internal.md
  docs/internal/livesegmentbuffer-internal.md
  docs/internal/livetextbuffer-internal.md
  docs/internal/offlineaudiobuffer-internal.md
  docs/internal/offlinesegmentbuffer-internal.md
  docs/internal/offlinetextbuffer-internal.md
Due: none

docs(cleanup): removed docs that are unused and containing old logic
  .cursor/rules/buffer-internal-context.mdc
  .cursor/rules/buffer-response-grounding.mdc
  docs/migration.md
  docs/migration/alignment/accurate-vad-segmentation-high-level-plan.md
  docs/migration/alignment/offline-alignment-pipeline-spec.md
  docs/migration/audiobuffer/audiobuffer-file-input-expansion-high-level-plan.md
  docs/migration/audiobuffer/audiobuffer-jsi-arraybuffer-implementation-spec.md
  docs/migration/audiobuffer/audiobuffer-jsi-arraybuffer-migration.md
  docs/migration/audiobuffer/audiobuffer-jsi-external-arraybuffer-migration-plan.md
  docs/migration/audiobuffer/live-ingest-mandatory-spool-implementation-plan.md
  docs/migration/conversion/conversion-session-unification-and-api-rename-high-level-plan.md
  docs/migration/enhancement/live-audio-buffer-lossless-pipeline-spec.md
  docs/migration/enhancement/offline-enhancement-buffer-pipeline-spec.md
  docs/migration/enhancement/online-enhancement-detect-isstreaming-guard.md
  docs/migration/example/example-app-pipeline-registry-v1-plan.md
  docs/migration/online/online-enhancement-live-pipeline-spec.md
  docs/migration/online/online-stt-live-text-pipeline-spec.md
  docs/migration/online/online-tts-live-pipeline-spec.md
  docs/migration/pipeline/ios-audio-session-spec-implementation-plan.md
  docs/migration/pipeline/stt-native-pipeline-research.md
  docs/migration/pipeline/stt-native-pipeline-spec-implementation-plan.md
  docs/migration/player/pcm-player-full-control-high-level-plan.md
  docs/migration/player/pcm-player-offline-oom-backpressure-spec.md
  docs/migration/segmentationEngine/segmentation-engine-foundation.md
  docs/migration/segmentbuffer/segmentbuffer-alignment-hard-cut-high-level-plan.md
  docs/migration/textbuffer/textbuffer-pipeline-spec.md
  docs/migration/vad/vad-integration-plan.md
  docs/punctutation/punctuation-offline-streaming-high-level-plan.md
Due: none

chore(.gitignore): update
  .cursor/rules/buffer-internal-context.mdc
  .cursor/rules/buffer-response-grounding.mdc
  .gitignore
Due: none

docs(fake-streaming): add SDK Feature Support Matrix for sherpa-onnx and Unser SDK
  docs/punctutation/sdk-feature-support-matrix.md
Due: none

feat(punctuation): add support for punctuation model category
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  src/download/paths.ts
  src/download/registry.ts
  src/download/types.ts
Due: lint, types, types-example

ci(punctuation): implement workflow for collecting punctuation model assets
  .github/workflows/collect-punctuation-model-structures.yml
  android/src/main/assets/model_licenses/punctuation-models-license-status.csv
  ios/Resources/model_licenses/punctuation-models-license-status.csv
  scripts/ci/sherpa_punctuation_model_release_streams.json
  src/licenses.ts
Due: lint, types

chore(licenses): update punctuation model license statuses to reflect Apache 2.0 compliance and add license file links
  android/src/main/assets/model_licenses/punctuation-models-license-status.csv
  ios/Resources/model_licenses/punctuation-models-license-status.csv
Due: none

docs(download-manager): add punctuation model to the download manager documentation
  docs/download-manager.md
  example/src/utils/recommendedModels.ts
  scripts/update_commercial_use.js
  test/fixtures/punctuation-models-structure.txt
Due: lint, types, types-example

feat(model-detect-jni): implement punctuation model detection and validation
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-model-detect-punctuation.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-punctuation-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-punctuation-catalog-metadata.h
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-punctuation-wrapper.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-punctuation-wrapper.h
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-validate-punctuation.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-validate-punctuation.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
Due: none

feat(punctuation): integrate punctuation model detection into Android and iOS
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  ios/punctuation/bridge/SherpaOnnx+PunctuationDetect.mm
  ios/punctuation/core/PunctuationBridgeUtils.h
  ios/punctuation/core/PunctuationBridgeUtils.mm
Due: none

feat(punctuation): add detectPunctuationModel functionality and related types
  src/NativeSherpaOnnx.ts
  src/index.tsx
  src/model-languages/resolvePublicLanguageHints.ts
  src/punctuation/detect.ts
  src/punctuation/index.ts
  src/types/modelDetect.ts
Due: lint, types

feat(punctuation): add punctuation module support in package.json, podspec, and CMakeLists
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  package.json
Due: none

test(punctuation): enhance punctuation model detection and utilities
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
  test/cpp/model_detect/model_detect_test_utils.h
  test/fixtures/punctuation-models-expected.csv
Due: none

feat(punctuation): enhance online punctuation detection and validation
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-model-detect-punctuation.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-punctuation-online-guard.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-punctuation-online-guard.h
  src/types/modelDetect.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

ci(trigger): set correct trigger
  .github/workflows/collect-punctuation-model-structures.yml
Due: none

feat(punctuation): implement offline punctuation functionality
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/punctuation/core/PunctuationErrorCodes.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  ios/SherpaOnnx.mm
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: none

feat(punctuation): add offline punctuation engine and related types
  src/NativeSherpaOnnx.ts
  src/punctuation/index.ts
  src/punctuation/offline.ts
  src/punctuation/types.ts
  src/textbuffer/index.ts
Due: lint, types

feat(example): add PunctuationScreen and styles for offline functionality
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/punctuation/PunctuationScreen.styles.ts
  example/src/screens/punctuation/PunctuationScreen.tsx
  example/tsconfig.json
  tsconfig.json
Due: lint, types, types-example

docs(punctuation-offline): add comprehensive documentation for offline punctuation functionality
  docs/punctuation-offline.md
Due: none

fix(copilot): fixed requested mistakes
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  docs/future-work/offline-streaming-model-engine-mismatch-guards.md
  docs/migration/segmentationEngine/sdk-feature-support-matrix.md
  docs/punctuation/punctuation-offline-streaming-high-level-plan.md
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  src/punctuation/detect.ts
  test/cpp/CMakeLists.txt
Due: lint, types

docs(segmentation): introduce comprehensive segmentation engine documentation
  docs/migration/segmentationEngine/segmentation-engine-spec.md
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-01-segment-contract.md
  docs/migration/segmentationEngine/sub-02-segmentation-engine-core.md
  docs/migration/segmentationEngine/sub-03-buffer-integration.md
  docs/migration/segmentationEngine/sub-04-transfer-offline-orchestration.md
  docs/migration/segmentationEngine/sub-05-feature-pipeline-migration.md
Due: none

feat(segment): introduce segment and linkage contract types for text and speech
  android/src/main/java/com/sherpaonnx/segment/core/SegmentContract.kt
  android/src/main/java/com/sherpaonnx/segment/core/SegmentContractJson.kt
  android/src/main/java/com/sherpaonnx/segment/core/SegmentLinkContract.kt
  ios/segment/core/PaSegment.h
  ios/segment/core/PaSegmentJson.h
  ios/segment/core/PaSegmentLink.h
Due: none

feat(segment): expand segment types and validation for text and speech
  src/index.tsx
  src/segment/segment-link.ts
  src/segment/segment-serialization.ts
  src/segment/segment-validation.ts
  src/segment/segment.ts
Due: lint, types

feat(segment): implement live text segment handling and linking
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/core/SegmentLinkMapRegistry.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  ios/SherpaOnnx.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/segment/bridge/SherpaOnnx+SegmentLinkMap.mm
Due: none

chore(segment): add segment module to package and tsconfig
  example/ios/Podfile.lock
  example/tsconfig.json
  package.json
  tsconfig.json
Due: none

fix(ios-build): implement live text segment event handling
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
  ios/vad/bridge/SherpaOnnx+VAD.mm
  ios/vad/pipeline/VadPipelineWorker.h
Due: none

feat(segment): enhance live segment handling and introduce segmentation state management
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/segment/index.ts
  src/segment/runtime-state.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

test(segmentation): add comprehensive tests for segment event handling and runtime state management
  src/audiobuffer/__tests__/segment-events.test.ts
  src/segment/__tests__/runtime-state.test.ts
  src/segment/__tests__/segment-api.test.ts
  src/segment/__tests__/segment-link-map.test.ts
  src/textbuffer/__tests__/segment-events.test.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
