Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(slid): implement iOS LanguageIdBridgeState and offline language identification category
  SherpaOnnx.podspec
  ios/slid/bridge/SherpaOnnx+LanguageIdOffline.mm
  ios/slid/core/LanguageIdBridgeState.h
  ios/slid/core/LanguageIdBridgeState.mm
Due: none

feat(slid): implement createLanguageIdentification factory, custom config resolver, and tests
  src/language-identification/__tests__/createLanguageIdentification.test.ts
  src/language-identification/createLanguageIdentification.ts
  src/language-identification/customConfig.ts
  src/language-identification/index.ts
  src/language-identification/languageIdNativeBridge.ts
  src/language-identification/types.ts
Due: lint, types

feat(slid): support audio slice ranges in NativeSherpaOnnx, Android, and iOS bridges
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/slid/core/LanguageIdErrorCodes.kt
  android/src/main/java/com/sherpaonnx/slid/facade/SherpaOnnxLanguageIdHelper.kt
  ios/slid/bridge/SherpaOnnx+LanguageIdOffline.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(slid): add Phase 3 types, segmentation policy, and segment buffer payload support
  src/language-identification/types.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

feat(slid): implement segmented language identification, timeline analysis, and labeling API
  src/language-identification/createLanguageIdentification.ts
  src/language-identification/index.ts
  src/language-identification/orchestrate.ts
Due: lint, types

test(slid): add unit tests for segmentation, code-switching timeline, and labeling
  src/language-identification/__tests__/createLanguageIdentification.segmented.test.ts
  src/language-identification/__tests__/createLanguageIdentification.test.ts
  src/language-identification/__tests__/orchestrate.test.ts
Due: lint, types

feat(slid): add native buffer-to-buffer labeling for SLID and SID
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/slid/facade/SherpaOnnxLanguageIdHelper.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  ios/slid/bridge/SherpaOnnx+LanguageIdOffline.mm
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(slid): wire native labeling fast-path and unify SLID callbacks
  src/language-identification/orchestrate.ts
  src/language-identification/types.ts
  src/speaker-identification/index.ts
Due: lint, types

test(slid): cover native labeling fast-path for SLID and SID
  src/language-identification/__tests__/createLanguageIdentification.segmented.test.ts
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
Due: lint, types

feat(slid): add live overload types and TurboModule start API
  src/NativeSherpaOnnx.ts
  src/language-identification/streamingTypes.ts
  src/language-identification/types.ts
Due: lint, types

feat(slid): implement SlidOfflineLivePipelineWorker on Android and iOS
  SherpaOnnx.podspec
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/slid/facade/SherpaOnnxLanguageIdHelper.kt
  android/src/main/java/com/sherpaonnx/slid/facade/SherpaOnnxLanguageIdLivePipelineHelper.kt
  android/src/main/java/com/sherpaonnx/slid/pipeline/SlidOfflineLivePipelineWorker.kt
  ios/slid/bridge/SherpaOnnx+LanguageIdLive.mm
  ios/slid/pipeline/SlidOfflineLivePipelineWorker.h
  ios/slid/pipeline/SlidOfflineLivePipelineWorker.mm
Due: none

feat(slid): wire identify live overload and LiveText event callbacks
  src/language-identification/createLanguageIdentification.ts
  src/language-identification/index.ts
  src/language-identification/live.ts
Due: lint, types

test(slid): cover live overload pipeline start and language change events
  src/language-identification/__tests__/live.test.ts
Due: lint, types

feat(example): add Spoken Language Identification showcase screen
  example/src/components/ScreenIntroModal.tsx
  example/src/components/modelInit/LanguageIdentificationCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/language-identification/LanguageIdentificationScreen.styles.ts
  example/src/screens/language-identification/LanguageIdentificationScreen.tsx
  example/src/types/navigation.ts
  example/src/utils/languageIdCustomInitFill.ts
  example/src/utils/languageIdModelCatalog.ts
  example/tsconfig.json
  tsconfig.json
Due: lint, types, types-example

docs(slid): document language identification and mark feature supported
  README.md
  docs/README.md
  docs/internal/sdk-feature-support-matrix.md
  docs/language-identification.md
Due: none

feat(offline-audio): enhance audio file selection with favorites support
  example/src/components/OfflineAudioBufferWidget.styles.ts
  example/src/components/OfflineAudioBufferWidget.tsx
  example/src/screens/language-identification/LanguageIdentificationScreen.styles.ts
  example/src/screens/language-identification/LanguageIdentificationScreen.tsx
Due: lint, types, types-example

feat(sherpa): enhance speech payload validation and add languageId support
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/src/screens/language-identification/LanguageIdentificationScreen.styles.ts
  example/src/screens/language-identification/LanguageIdentificationScreen.tsx
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/NativeSherpaOnnx.ts
Due: lint, types, types-example

feat(sherpa): add commit listeners for live text segment emission
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/images/example/language_identification_offline_1.png
  docs/images/example/language_identification_offline_2.png
  docs/images/example/language_identification_offline_3.png
  example/README.md
  example/src/screens/language-identification/LanguageIdentificationScreen.tsx
Due: lint, types, types-example

fix(pipeline): complete flush/reset when offline-live worker already stopped
  android/src/main/java/com/sherpaonnx/audio/pipeline/StreamingPipelineRegistry.kt
  android/src/main/java/com/sherpaonnx/livePipeline/OfflineLivePipelineWorker.kt
  ios/livePipeline/OfflineLivePipelineWorker.mm
Due: none

feat(lifecycle): add NativeInstanceGate and ActivePipelineStop
  android/src/main/java/com/sherpaonnx/lifecycle/ActivePipelineStop.kt
  android/src/main/java/com/sherpaonnx/lifecycle/NativeInstanceGate.kt
  android/src/test/java/com/sherpaonnx/lifecycle/NativeInstanceGateTest.kt
Due: none

fix(android): gate in-flight native use and stop pipelines before unload
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementInstances.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  android/src/main/java/com/sherpaonnx/slid/core/LanguageIdDebug.kt
  android/src/main/java/com/sherpaonnx/slid/facade/SherpaOnnxLanguageIdHelper.kt
  android/src/main/java/com/sherpaonnx/slid/pipeline/SlidOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/core/TtsEngineModels.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsInitializationService.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
Due: none

fix(pipeline): make sibling streaming flush/reset idempotent after stop
  android/src/main/java/com/sherpaonnx/diarization/pipeline/DiarizationStreamingPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
  ios/diarization/pipeline/DiarizationStreamingPipelineWorker.mm
  ios/enhancement/EnhancementPipelineWorker.mm
  ios/stt/pipeline/SttPipelineWorker.mm
  ios/vad/pipeline/VadPipelineWorker.mm
Due: none

fix(ios): keep STT/TTS offline-live wrappers alive via shared_ptr
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/pipeline/SttOfflineLivePipelineWorker.h
  ios/stt/pipeline/SttOfflineLivePipelineWorker.mm
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  ios/tts/bridge/SherpaOnnx+TTSLifecycle.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/engine/TtsEngineStore.h
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.h
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.mm
Due: none

fix(pipeline): post streaming completion callbacks on main looper
  android/src/main/java/com/sherpaonnx/audio/pipeline/StreamingPipelineRegistry.kt
Due: none

test(pipeline): cover streaming completion poster marshaling
  android/src/test/java/com/sherpaonnx/audio/pipeline/StreamingPipelineRegistryCompletionTest.kt
Due: none

feat(images): add new language identification live example images
  docs/images/example/language_identification_live_1.png
  docs/images/example/language_identification_live_2.png
  docs/images/example/language_identification_live_3.png
Due: none

refactor(language-identification): remove unused state and styles
  example/src/screens/language-identification/LanguageIdentificationScreen.styles.ts
  example/src/screens/language-identification/LanguageIdentificationScreen.tsx
Due: lint, types, types-example

docs: split SLID guides and rename live-overload docs to *-live
  README.md
  docs/README.md
  docs/feature-pipelines.md
  docs/internal/spoken-language-identification-plan.md
  docs/language-identification-live.md
  docs/language-identification-offline.md
  docs/language-identification.md
  docs/migration/OrchestrationProgressVADAli/README.md
  docs/separation-live.md
  docs/separation-offline.md
  docs/streaming-pipelines-overview.md
  docs/tts-live.md
  example/README.md
Due: none

docs(sid): document enrollment export/import and clarify JS events heading
  docs/speaker-identification-offline.md
Due: none

docs: update language identification and speaker identification live examples
  README.md
  docs/internal/spoken-language-identification-plan.md
  docs/language-identification-live.md
  docs/speaker-identification-live.md
Due: none

chore(kws): wire kws-models collect stream and license loading
  .github/workflows/collect-model-structures.yml
  docs/internal/keyword-spotting-plan.md
  scripts/ci/check-model-csvs.sh
  scripts/ci/collect_all_sherpa_model_streams.sh
  scripts/ci/run_model_collect.sh
  scripts/ci/sherpa_kws_model_release_streams.json
  scripts/ci/sherpa_model_collect_manifest.json
  src/licenses.ts
Due: lint, types

feat(detect): add KWS model detect, catalog wiring, and CI for Phase 1
  .github/workflows/test-kws-model-detect.yml
  .github/workflows/test-kws-validate.yml
  .github/workflows/test-model-detect.yml
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/kws/sherpa-onnx-kws-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/kws/sherpa-onnx-kws-detect-wrapper.h
  android/src/main/cpp/jni/model_detect/kws/sherpa-onnx-model-detect-kws.cpp
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/internal/sdk-feature-support-matrix.md
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  ios/kws/bridge/SherpaOnnx+KwsDetect.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/detect/detectModel.ts
  src/download/catalogDetectCategories.ts
  src/download/paths.ts
  src/download/sources/builtin/huggingface-defaults.ts
  src/download/sources/github-asset-rules.ts
  src/download/types.ts
  src/kws/detectKwsModel.ts
  src/kws/index.ts
  src/types/modelDetect.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
  test/fixtures/kws-models-expected.csv
Due: lint, types, types-example

ci(detect): unify model detect and validate workflows into one matrix
  .github/workflows/test-asr-model-detect.yml
  .github/workflows/test-asr-validate.yml
  .github/workflows/test-diarization-model-detect.yml
  .github/workflows/test-enhancement-model-detect.yml
  .github/workflows/test-enhancement-validate.yml
  .github/workflows/test-kws-model-detect.yml
  .github/workflows/test-kws-validate.yml
  .github/workflows/test-model-detect.yml
  .github/workflows/test-separation-model-detect.yml
  .github/workflows/test-speaker-embedding-model-detect.yml
  .github/workflows/test-speaker-embedding-validate.yml
  .github/workflows/test-tts-model-detect.yml
  .github/workflows/test-tts-validate.yml
  scripts/ci/sherpa_model_detect_test_manifest.json
Due: none

feat(detect): add zipformer2-only transducer online guard
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-online-guard-transducer.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-online-guard.h
Due: none

fix(detect): harden KWS detect with ValidateKwsPaths and zipformer2
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/kws/sherpa-onnx-model-detect-kws.cpp
  android/src/main/cpp/jni/model_detect/kws/sherpa-onnx-validate-kws.cpp
  android/src/main/cpp/jni/model_detect/kws/sherpa-onnx-validate-kws.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/custom_path_requirements_catalog_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
Due: none

feat(android): add KeywordSpotting TurboModule and native init/unload
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/kws/facade/SherpaOnnxKwsHelper.kt
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(ios): add KWS C-API wrapper and KeywordSpotting bridge
  SherpaOnnx.podspec
  example/ios/Podfile.lock
  ios/kws/bridge/SherpaOnnx+KeywordSpotting.mm
  ios/kws/native/sherpa-onnx-kws-wrapper.h
  ios/kws/native/sherpa-onnx-kws-wrapper.mm
Due: none

feat(api): add createKeywordSpotting factory with init/destroy
  src/kws/__tests__/createKeywordSpotting.test.ts
  src/kws/createKeywordSpotting.ts
  src/kws/index.ts
  src/kws/kwsNativeBridge.ts
  src/kws/types.ts
Due: lint, types

docs: note KWS Phase 2 engine lifecycle in support matrix
  docs/internal/sdk-feature-support-matrix.md
Due: none

feat(android): add KWS streaming pipeline worker and start bridge
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/kws/facade/SherpaOnnxKwsHelper.kt
  android/src/main/java/com/sherpaonnx/kws/pipeline/KwsStreamingPipelineWorker.kt
Due: none
