Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(vad): integrate Voice Activity Detection (VAD) functionality
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/vad/core/VadErrorCodes.kt
  android/src/main/java/com/sherpaonnx/vad/core/VadModels.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
Due: none

feat(vad): add Voice Activity Detection (VAD) event support and implementation
  ios/SherpaOnnx.mm
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

feat(vad): implement Voice Activity Detection (VAD) engine and event handling
  src/NativeSherpaOnnx.ts
  src/vad/engine.ts
  src/vad/events.ts
  src/vad/index.ts
  src/vad/types.ts
Due: lint, types

feat(vad-detect): enhance Voice Activity Detection (VAD) functionality
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-model-detect-vad.cpp
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-vad-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-vad-catalog-metadata.h
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-vad-wrapper.cpp
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-vad-wrapper.h
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-validate-vad.cpp
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-validate-vad.h
Due: none

feat(vad-engine): implement VAD model detection and integration
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

feat(vad): add detectVadModel function and related types
  src/NativeSherpaOnnx.ts
  src/types/modelDetect.ts
  src/vad/engine.ts
  src/vad/index.ts
  src/vad/types.ts
Due: lint, types

test(vad): update CMake configuration and add VAD model detection tests
  test/cpp/CMakeLists.txt
  test/cpp/audio_conversion/audio_convert_file_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
  test/cpp/model_detect/model_detect_test_utils.h
  test/fixtures/asr-models-structure.txt
  test/fixtures/vad-models-expected.csv
Due: none

ci(vad): enhance ASR and VAD model detection workflows
  .github/workflows/test-asr-model-detect.yml
  scripts/ci/check-model-csvs.sh
  scripts/ci/collect_all_sherpa_model_streams.sh
  scripts/ci/collect_one_sherpa_release_stream.sh
  scripts/ci/sherpa_asr_model_release_streams.json
Due: none

docs(vad): introduce streaming Voice Activity Detection (VAD) documentation
  docs/vad-streaming.md
  docs/vad.md
Due: none

feat(vad-ios): implement live segment management for VAD
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/segmentbuffer/core/SherpaOnnx+SegmentBufferGlobals.h
  ios/vad/bridge/SherpaOnnx+VAD.mm
  ios/vad/pipeline/VadPipelineWorker.h
  ios/vad/pipeline/VadPipelineWorker.mm
Due: none

fix(vad): refine VAD model detection logic and event handling
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-model-detect-vad.cpp
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
Due: none

fix(vad): improve VAD model selection and error handling
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-model-detect-vad.cpp
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
Due: none

chore(docs): remove internal TTS streaming subtitles plan document
  docs/internal/tts-streaming-subtitles-plan.md
Due: none

feat(segment): implement segment appended event emission and configuration
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentBufferEventBridge.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentPipelineRegistry.kt
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
Due: none

feat(segment): enhance segment event handling and configuration
  ios/SherpaOnnx.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/vad/pipeline/VadPipelineWorker.mm
Due: none

feat(stream-events): introduce high-frequency event handling for audio and segment buffers
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/pipeline/streamEvents.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
  src/tts/incremental/engine.ts
  src/vad/engine.ts
  src/vad/events.ts
  src/vad/index.ts
  src/vad/types.ts
Due: lint, types

refactor(example): update event handling for audio buffers
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts-streaming/TTSStreamingScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

docs(callbacks): update streaming documentation for audio, segment, and text buffers
  docs/audiobuffer-streaming.md
  docs/migration/enhancement/live-audio-buffer-lossless-pipeline-spec.md
  docs/segmentbuffer-streaming.md
  docs/textbuffer-streaming.md
  docs/vad-streaming.md
Due: none

refactor(segmentbuffer): update sourceAudioBufferId type and resolution logic
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

feat(example): enhance VAD screen functionality and update intro copy
  example/src/components/ScreenIntroModal.tsx
  example/src/screens/vad/VADScreen.tsx
Due: lint, types, types-example

fix(segmentbuffer): handle nullable parameters in getOfflineSegmentBufferSegments
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
Due: none

refactor(audiobuffer, segmentbuffer, textbuffer, vad): remove NativeModules dependency from NativeEventEmitter
  src/audiobuffer/index.ts
  src/audiobuffer/streamingPipelineCompletion.ts
  src/segmentbuffer/index.ts
  src/textbuffer/index.ts
  src/vad/engine.ts
Due: lint, types

feat(vad): enhance VAD runtime configuration and processing
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentPipelineRegistry.kt
  android/src/main/java/com/sherpaonnx/vad/core/VadModels.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
Due: none

feat(vad): implement runtime tuning options for VAD models
  src/vad/engine.ts
  src/vad/types.ts
Due: lint, types

feat(vad): implement VAD runtime and processing enhancements
  ios/vad/bridge/SherpaOnnx+VAD.mm
  ios/vad/core/VadRuntime.h
  ios/vad/core/VadRuntime.mm
  ios/vad/pipeline/VadPipelineWorker.h
  ios/vad/pipeline/VadPipelineWorker.mm
Due: none

refactor(example): reorganize feature definitions and enhance VAD state management
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/vad/VADScreen.tsx
Due: lint, types, types-example

feat(vad): enhance pipeline management and cleanup processes
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

refactor(audio): unify sample appending logic across modules
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MicToLiveBufferSink.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsPipelineWorker.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudioMic.mm
  ios/audio/pipeline/PaLiveEntry.h
  ios/enhancement/EnhancementPipelineWorker.mm
  ios/tts/pipeline/TtsPipelineWorker.mm
  src/vad/engine.ts
Due: lint, types

feat(vad): improve VAD processing with fixed frame handling
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
  ios/vad/bridge/SherpaOnnx+VAD.mm
  ios/vad/pipeline/VadPipelineWorker.h
  ios/vad/pipeline/VadPipelineWorker.mm
Due: none

feat(vad): enhance VADScreen with expanded timeline and segment views
  example/src/screens/vad/VADScreen.tsx
Due: lint, types, types-example

refactor(example): add edge insets to SafeAreaView across multiple screens
  example/src/screens/diarization/DiarizationScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/punctuation/PunctuationScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
  example/src/screens/tts-streaming/TTSStreamingScreen.tsx
  example/src/screens/vad/VADScreen.tsx
Due: lint, types, types-example

docs(buffer): enhance audio buffer and segment buffer documentation
  docs/audiobuffer-streaming.md
  docs/segmentbuffer-offline.md
  docs/segmentbuffer-streaming.md
  docs/vad-streaming.md
Due: none

feat(segment): validate segment kind input for speech and alignment
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
Due: none

feat(segment): extend segment kind validation and introduce alignment support
  src/NativeSherpaOnnx.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

feat(segment): implement strict validation for speech payloads
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/vad/bridge/SherpaOnnx+VAD.mm
  ios/vad/pipeline/VadPipelineWorker.mm
Due: none

feat(segment): refine speech segment handling and validation
  example/src/screens/vad/VADScreen.tsx
  example/tsconfig.json
  src/NativeSherpaOnnx.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types, types-example

feat(alignment): enhance offline text-to-audio alignment with segment output handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentResultMapper.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/alignment/core/AlignmentBridgeUtils.h
  ios/alignment/core/AlignmentBridgeUtils.mm
Due: none

feat(alignment): update alignment interface and result handling
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/index.ts
  src/alignment/types.ts
Due: lint, types

refactor(example): enhance GenerateTimestampScreen with segment handling and result display
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

docs(alignment): streamline alignment documentation and segment payload structure
  docs/alignment.md
  docs/segmentbuffer-offline.md
  docs/segmentbuffer-streaming.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
