Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs(enhancement+punctuation): shorten intro and unify JS Events
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
Due: none

docs(alignment+diarization): shorten intro and unify JS Events
  docs/alignment-offline.md
  docs/diarization-offline.md
  docs/diarization-streaming.md
Due: none

docs(separation+tts): shorten remaining live-overload callouts
  docs/separation-live.md
  docs/tts-live.md
Due: none

docs(tts): unify Segmentation (Optional/Mandatory) chapters
  docs/tts-live.md
  docs/tts-offline.md
Due: none

docs(at+slid): unify Segmentation (Optional/Mandatory) chapters
  docs/audio-tagging-live.md
  docs/audio-tagging-offline.md
  docs/language-identification-live.md
  docs/language-identification-offline.md
Due: none

docs(stt+enh+punct+vad): unify Segmentation (Optional) chapters
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
  docs/stt-offline.md
  docs/vad-streaming.md
Due: none

docs(separation+sid): unify Segmentation chapters
  docs/separation-live.md
  docs/separation-offline.md
  docs/speaker-identification-live.md
Due: none

docs: merge Buffer matrix into a single Role table
  docs/audio-tagging-live.md
  docs/audio-tagging-offline.md
  docs/language-identification-live.md
  docs/language-identification-offline.md
  docs/separation-live.md
  docs/speaker-identification-live.md
  docs/speaker-identification-offline.md
  docs/tts-live.md
  docs/vad-streaming.md
Due: none

fix(audio-tagging+language-id): require explicit live segmentation policy
  src/audio-tagging/__tests__/tagAudioTagging.live.test.ts
  src/audio-tagging/live.ts
  src/language-identification/__tests__/live.test.ts
  src/language-identification/live.ts
Due: lint, types

docs(live+streaming): unify chapter spine and add use case examples
  docs/audio-tagging-live.md
  docs/diarization-streaming.md
  docs/enhancement-streaming.md
  docs/kws-streaming.md
  docs/language-identification-live.md
  docs/punctuation-streaming.md
  docs/separation-live.md
  docs/speaker-identification-live.md
  docs/stt-streaming.md
  docs/tts-live.md
  docs/vad-streaming.md
Due: none

docs(offline): add use case examples and align payload/tail spine
  docs/alignment-offline.md
  docs/audio-tagging-offline.md
  docs/diarization-offline.md
  docs/enhancement-offline.md
  docs/language-identification-offline.md
  docs/punctuation-offline.md
  docs/separation-offline.md
  docs/speaker-identification-offline.md
  docs/stt-offline.md
  docs/tts-offline.md
Due: none

chore(docs): remove completed API/types batch plan
  docs/future-work/api_types_doc_batch2_bd4c737b.plan.md
Due: none

docs(cleanup): remove LiveText meta JSON-tree contract documentation
  docs/future-work/live-text-meta-json-tree-contract.md
  docs/internal/audio-tagging-plan.md
  docs/internal/livetextbuffer-internal.md
Due: none

docs(readme): add VoiceLab showcase and align header with main
  README.md
  docs/images/badge-app-store.png
  docs/images/badge-google-play.png
  docs/images/voicelab-01-home.png
  docs/images/voicelab-02-download.png
  docs/images/voicelab-03-provider.png
Due: none

docs(future-work): mark speaker GetEmbedding as local upstream work
  docs/future-work/speaker-embedding-manager-upstream-export-import.md
Due: none

docs(future-work): update native offline inference cancellation strategy
  docs/future-work/native-offline-inference-cancel-future-work.md
Due: none

ci(version-upgrade): upgrade GitHub Actions versions across workflows
  .github/actions/setup/action.yml
  .github/workflows/build-ffmpeg-android-release.yml
  .github/workflows/build-libarchive-android-release.yml
  .github/workflows/build-onnxruntime-android-release.yml
  .github/workflows/build-sherpa-onnx-android-release.yml
  .github/workflows/collect-model-structures.yml
  .github/workflows/framework-ffmpeg-ios-framework.yml
  .github/workflows/framework-libarchive-ios-framework.yml
  .github/workflows/framework-sherpa-onnx-ios-framework.yml
  .github/workflows/models-publish-alignment.yml
  .github/workflows/models-publish-diarization.yml
  .github/workflows/sdk-android.yml
  .github/workflows/sdk-ios.yml
  .github/workflows/sdk-release.yml
  .github/workflows/sdk-sdk.yml
  .github/workflows/test-audio-convert-host.yml
  .github/workflows/test-diarization-core.yml
  .github/workflows/test-js.yml
  .github/workflows/test-model-detect.yml
  .github/workflows/test-sdk-integration.yml
  .github/workflows/test-speaker-embedding-core.yml
Due: none

fix(detect): stop classifying audio-tagging zipformer as STT
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/java/com/sherpaonnx/assets/core/AssetHintInferer.kt
  ios/assets/core/AssetModelHintUtils.mm
  src/download/sources/__tests__/github-asset-rules.test.ts
  src/download/sources/github-asset-rules.ts
Due: lint, types

feat(pad): harden Android asset pack delivery resume and stalls
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackDelivery.kt
Due: none

feat(odr): add stall timeout and reject waiters on remove
  ios/assets/core/OdrDelivery.mm
Due: none

feat(pad): classify asset pack delivery failures for JS
  src/pad/__tests__/assetPack.classify.test.ts
  src/pad/assetPack.ts
  src/pad/padDiagnostics.ts
  src/utils.ts
Due: lint, types

feat(pad): allow per-call stall and JS ensure timeouts
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackDelivery.kt
  android/src/main/java/com/sherpaonnx/assets/facade/SherpaOnnxAssetHelper.kt
  ios/assets/bridge/SherpaOnnx+OdrDelivery.mm
  ios/assets/core/OdrDelivery.h
  ios/assets/core/OdrDelivery.mm
  src/NativeSherpaOnnx.ts
  src/pad/assetPack.ts
  src/utils.ts
Due: lint, types

feat(download): export foreground download task helpers
  src/download/index.ts
Due: lint, types

docs(timeout): enhance asset pack delivery documentation with timeout options
  docs/model-delivery-pad-odr.md
  docs/model-setup.md
Due: none

fix(detect): keep Pocket and Supertonic language rows across the Android bridge
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsLifecycleService.kt
  src/__tests__/detectModel.test.ts
  test/cpp/model_detect/tts_catalog_hints_test.cpp
Due: lint, types

feat(alignment): add CanStartNextSentence function for improved sentence boundary detection
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.cpp
Due: none

feat(alignment): enhance CTC alignment handling for unalignable text
  android/src/main/cpp/alignment/sherpa_onnx_ctc_alignment.cpp
  docs/alignment-offline.md
  docs/migration/alignment/sub-04-accurate-chunked-forced-ctc-integration.md
  docs/migration/alignment/sub-06-tests-and-quality-gates.md
  src/alignment/__tests__/error-codes-catalog.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-options.test.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/alignment/types.ts
Due: lint, types

feat(alignment): implement language hint fallback for empty rows
  src/model-languages/alignment/__tests__/hints.test.ts
  src/model-languages/alignment/hints.ts
  src/model-languages/resolvePublicLanguageHints.ts
Due: lint, types

feat(alignment): integrate curated language hints for wav2vec2 models
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-model-detect-alignment.cpp
  android/src/main/cpp/jni/model_detect/common/model_language_catalog.cpp
  android/src/main/cpp/jni/model_detect/common/model_language_catalog.h
  android/src/main/cpp/jni/model_detect/common/model_language_catalog.inc.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  catalog/model-language-catalog.json
  docs/model-languages.md
  scripts/generate-model-language-catalog.mjs
  src/model-languages/alignment/__tests__/hints.test.ts
  src/model-languages/alignment/hints.ts
  src/model-languages/alignment/index.ts
  src/model-languages/generated/catalog.ts
  src/model-languages/resolvePublicLanguageHints.ts
  src/model-languages/tts/__tests__/hints.test.ts
  test/cpp/model_detect/curated_language_catalog_test.cpp
Due: lint, types

feat(android): publish unstripped sherpa-onnx native debug symbols on GH Release
  .github/workflows/build-sherpa-onnx-android-release.yml
  docs/internal/PREBUILT_RESOLUTION.md
  third_party/sherpa-onnx-prebuilt/README.md
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
Due: none

feat(tts): add numSteps capability policy and JS asserts
  src/NativeSherpaOnnx.ts
  src/tts/__tests__/live-offline.test.ts
  src/tts/__tests__/numStepsPolicy.test.ts
  src/tts/index.ts
  src/tts/numStepsPolicy.ts
  src/tts/types.ts
Due: lint, types

fix(android): honor numSteps via GenerationConfig without clone
  android/src/main/java/com/sherpaonnx/tts/config/TtsGenerationOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
Due: none

fix(ios): honor numSteps via GenerationConfig without clone
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/native/sherpa-onnx-tts-wrapper.h
  ios/tts/native/sherpa-onnx-tts-wrapper.mm
  ios/tts/options/TtsGenerationOptionsHelpers.h
  ios/tts/options/TtsGenerationOptionsHelpers.mm
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.h
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.mm
Due: none

docs(tts): clarify numSteps support per model type
  README.md
  docs/tts-live.md
  docs/tts-offline.md
Due: none

docs(tts): update TtsLivePipelineOptions documentation for clarity
  docs/tts-live.md
  src/tts/types.ts
Due: lint, types

docs(punctuation): update detectPunctuationModel documentation to clarify modelType behavior when success is false
  src/punctuation/detect.ts
Due: lint, types

fix(punctuation): enhance online guard for CNN-BiLSTM model signature validation and update documentation for model requirements
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-punctuation-online-guard.cpp
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
  src/punctuation/detect.ts
Due: lint, types

feat(audiobuffer): add live/offline→offline resample with targetSampleRateHz
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
Due: lint, types

test(audiobuffer): cover resample registry and public API options
  android/src/test/java/com/sherpaonnx/audio/pipeline/OfflineResampleRegistryTest.kt
  android/src/test/java/com/sherpaonnx/audio/pipeline/ResamplerTest.kt
  src/audiobuffer/__tests__/offline-resample-api.test.ts
Due: lint, types

docs(audiobuffer): document offline resample APIs and update examples
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
Due: lint, types, types-example
