Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(example): scope error messages to corresponding section in DiarizationScreen
  example/src/screens/diarization/DiarizationScreen.tsx
Due: lint, types, types-example

chore: ignore test build artifacts in .gitignore
  .gitignore
Due: none

feat(detect): support universal string quantization in C++ model detection and runtime loaders
  android/src/main/cpp/diarization/pyannote-segmentation-model.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-model-detect-alignment.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-model-detect-diarization.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-model-detect-enhancement.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-model-detect-punctuation.cpp
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-model-detect-separation.cpp
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-model-detect-speaker-embedding.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-online-stt.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-model-detect-vad.cpp
  android/src/main/cpp/speaker-embedding/speaker-embedding-runner.cpp
  test/cpp/model_detect/model_detect_test.cpp
Due: none

feat(android): propagate quantization parameter through JNI, module and feature facades
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  android/src/main/java/com/sherpaonnx/enhancement/config/EnhancementInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/config/PunctuationInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxOnlinePunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/separation/config/SeparationInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/config/SpeakerEmbeddingInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  android/src/main/java/com/sherpaonnx/stt/config/SttInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxCommonTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsLifecycleService.kt
  android/src/main/java/com/sherpaonnx/vad/config/VadInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
Due: none

feat(ios): forward quantization parameter in Objective-C++ detect and init bridges
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/detect/bridge/SherpaOnnx+ModelDetect.mm
  ios/diarization/bridge/SherpaOnnx+DiarizationDetect.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementDetect.mm
  ios/punctuation/bridge/SherpaOnnx+PunctuationDetect.mm
  ios/separation/bridge/SherpaOnnx+SeparationDetect.mm
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingDetect.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/native/sherpa-onnx-stt-wrapper.h
  ios/stt/native/sherpa-onnx-stt-wrapper.mm
  ios/tts/bridge/SherpaOnnx+TTSCommon.mm
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

feat(ts): define QuantizationPreference and support direct model files in detection
  src/NativeSherpaOnnx.ts
  src/detect/detectModel.ts
  src/detect/resolveModelInput.ts
  src/download/index.ts
  src/download/types.ts
  src/types/modelDetect.ts
  tsconfig.json
Due: lint, types

feat: replace preferInt8 with quantization across all feature detection and init APIs
  src/alignment/index.ts
  src/alignment/resolveAlignmentOnnxPath.ts
  src/alignment/types.ts
  src/diarization/detectDiarizationModel.ts
  src/diarization/diarizationNativeBridge.ts
  src/diarization/streaming.ts
  src/diarization/streamingTypes.ts
  src/diarization/types.ts
  src/enhancement/enhancementNativeBridge.ts
  src/enhancement/index.ts
  src/enhancement/types.ts
  src/punctuation/detect.ts
  src/punctuation/punctuationNativeBridge.ts
  src/punctuation/streamingTypes.ts
  src/punctuation/types.ts
  src/separation/index.ts
  src/separation/separationNativeBridge.ts
  src/separation/types.ts
  src/speaker-embedding/index.ts
  src/speaker-embedding/speakerEmbeddingNativeBridge.ts
  src/speaker-embedding/types.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
  src/stt/sttNativeBridge.ts
  src/stt/types.ts
  src/tts/index.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
  src/vad/engine.ts
  src/vad/types.ts
  src/vad/vadNativeBridge.ts
Due: lint, types

docs: update documentation and example app to use quantization parameter
  docs/memory-and-models.md
  docs/stt-offline.md
  docs/stt-streaming.md
  example/src/screens/stt/STTScreen.tsx
  example/src/utils/sttCustomInitFill.ts
Due: lint, types, types-example

test: expand unit test coverage for quantization selection and parity across features
  jest.setup.js
  src/__tests__/detectModel.test.ts
  src/alignment/__tests__/detectAlignmentModel.test.ts
  src/alignment/__tests__/resolveAlignmentOnnxPath.test.ts
  src/audiobuffer/__tests__/segment-events.test.ts
  src/detect/__tests__/resolveModelInput.test.ts
  src/diarization/__tests__/createDiarization.test.ts
  src/diarization/__tests__/detectDiarizationModel.test.ts
  src/diarization/__tests__/streaming.test.ts
  src/enhancement/__tests__/detectEnhancementModel.test.ts
  src/livePipeline/__tests__/cross-feature.test.ts
  src/punctuation/__tests__/detectPunctuationModel.test.ts
  src/punctuation/__tests__/punctuationNativeBridge.test.ts
  src/separation/__tests__/detectSeparationModel.test.ts
  src/speaker-embedding/__tests__/detectSpeakerEmbeddingModel.test.ts
  src/stt/__tests__/detectSttModel.test.ts
  src/stt/__tests__/sttNativeBridge.test.ts
  src/textbuffer/__tests__/segment-events.test.ts
  src/tts/__tests__/detectTtsModel.test.ts
  src/tts/__tests__/ttsNativeBridge.test.ts
  src/vad/__tests__/detectVadModel.test.ts
  src/vad/__tests__/vadNativeBridge.test.ts
  src/visualization/__tests__/progress.test.ts
Due: lint, types

chore: exclude build and build-test directories in tsconfig.build.json
  tsconfig.build.json
Due: none

fix: fallback to mock proxy when TurboModuleRegistry is unavailable in test environments
  src/NativeSherpaOnnx.ts
Due: lint, types

fix(android): propagate quantization parameter in TTS initialization service and config
  android/src/main/java/com/sherpaonnx/tts/config/TtsInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/core/TtsEngineModels.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsInitializationService.kt
  android/src/main/java/com/sherpaonnx/tts/system/TtsModelDetect.kt
Due: none

feat(diarization): implement speaker remapping and enhance UI for thread configuration
  android/src/main/cpp/diarization/diarization-session.cpp
  android/src/main/cpp/diarization/diarization-session.h
  example/src/screens/diarization/DiarizationScreen.styles.ts
  example/src/screens/diarization/DiarizationScreen.tsx
  src/diarization/index.ts
  test/cpp/diarization/diarization_core_test.cpp
Due: lint, types, types-example

feat(diarization): enhance engine configuration with additional tuning parameters and improve initialization logic
  example/src/screens/diarization/DiarizationScreen.tsx
Due: lint, types, types-example

feat(docs): add example images for offline diarization
  docs/images/example/diarization_offline_1.png
  docs/images/example/diarization_offline_2.png
  docs/images/example/diarization_offline_3.png
Due: none

docs: add speaker diarization to root README model types and feature matrix
  README.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

docs: highlight orchestration architecture and long-form audio performance advantages
  README.md
Due: none

docs: streamline orchestration differentiator and move comparison table to pipeline logic
  README.md
Due: none

docs: emphasize reliability on resource-constrained and low-end mobile devices
  README.md
Due: none

docs: move raw wrappers comparison table to the end of pipeline logic chapter
  README.md
Due: none

docs: merge raw wrappers comparison into on-device memory section
  README.md
Due: none

docs: update memory section heading to reflect low-end device focus
  README.md
Due: none

docs: consolidate memory guidelines into low-end devices section
  README.md
  docs/memory-and-models.md
Due: none

docs: streamline feature support and remove redundant documentation section
  README.md
Due: none

docs: move detailed installation section to top and remove duplicate
  README.md
Due: none

docs: streamline download setup note in README and ensure coverage in download manager doc
  README.md
  docs/download-manager.md
Due: none

docs: list unimplemented upstream sherpa-onnx features in support matrix and readme
  README.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

ci(diarization-publish): enable workflow_dispatch for publishing diarization model assets with input parameters
  .github/workflows/models-publish-diarization.yml
Due: none

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension
  android/build.gradle
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

chore: release 0.4.4
  CHANGELOG.md
  package.json
Due: none

docs(slid): add architecture and implementation plan for spoken language identification
  docs/internal/spoken-language-identification-plan.md
Due: none

fix(diarization): fix useEffect cleanup return and engine null check in example screen
  example/src/screens/diarization/DiarizationScreen.tsx
  src/audiobuffer/types.ts
  src/diarization/index.ts
Due: lint, types, types-example

feat(slid): add language identification model category, types, and download catalog rules
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  src/detect/detectModel.ts
  src/detect/validateCustomModelPaths.ts
  src/download/__tests__/catalogHints.test.ts
  src/download/catalogDetectCategories.ts
  src/download/paths.ts
  src/download/sources/__tests__/github-asset-rules.test.ts
  src/download/sources/builtin/huggingface-defaults.ts
  src/download/sources/github-asset-rules.ts
  src/download/types.ts
  src/licenses.ts
  src/segmentbuffer/types.ts
  src/types/modelDetect.ts
Due: lint, types, types-example

feat(slid): implement C++ spoken language identification model detection and validation
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/slid/sherpa-onnx-model-detect-slid.cpp
  android/src/main/cpp/jni/model_detect/slid/sherpa-onnx-validate-slid.cpp
  android/src/main/cpp/jni/model_detect/slid/sherpa-onnx-validate-slid.h
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/custom_path_requirements_catalog_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
Due: none

feat(slid): implement Android JNI and iOS bridges for language identification model detection
  SherpaOnnx.podspec
  android/src/main/cpp/jni/model_detect/slid/sherpa-onnx-slid-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/slid/sherpa-onnx-slid-detect-wrapper.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/slid/bridge/SherpaOnnx+LanguageIdDetect.mm
  ios/slid/core/LanguageIdBridgeUtils.h
  ios/slid/core/LanguageIdBridgeUtils.mm
Due: none

feat(slid): add TypeScript language-identification module and detectLanguageIdModel API
  package.json
  src/NativeSherpaOnnx.ts
  src/language-identification/__tests__/detectLanguageIdModel.test.ts
  src/language-identification/detectLanguageIdModel.ts
  src/language-identification/index.ts
  src/language-identification/types.ts
Due: lint, types

chore(lint): update eslint ignore patterns and format example components
  eslint.config.mjs
  example/src/components/SegmentationPolicyControls.tsx
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
Due: lint, types, types-example

feat(slid): add NativeSherpaOnnx bridge spec for offline language identification
  src/NativeSherpaOnnx.ts
  src/nativeBridge/initBridgeTypes.ts
Due: lint, types

feat(slid): implement Android SherpaOnnxLanguageIdHelper and wire SherpaOnnxModule
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/slid/core/LanguageIdErrorCodes.kt
  android/src/main/java/com/sherpaonnx/slid/facade/SherpaOnnxLanguageIdHelper.kt
Due: none
