Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor(STTScreen, TTSScreen): replace inline styles with reusable style properties for improved consistency
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

chore(docs): remove outdated TTS features documentation
  docs/tts_features_future.md
Due: none

Update src/tts/index.ts
  src/tts/index.ts
Due: lint, types

feat(noise_scale): add noise scale W parameter for enhanced TTS control
  android/src/main/cpp/jni/sherpa-onnx-tts-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  docs/tts.md
  example/src/screens/tts/TTSScreen.tsx
  ios/SherpaOnnx+TTS.mm
  ios/sherpa-onnx-tts-wrapper.h
  ios/sherpa-onnx-tts-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types, types-example

chore: release 0.2.0
  package.json
Due: none

docs(migration): add implementation plan for SDK/App release and ads management
  migration.md
Due: none

ci(tag_names): update tag naming convention to use 'sdk-v' prefix for artifacts and releases
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/release.yml
  package.json
Due: none

ci(app_release): add GitHub Actions workflow for Android app release
  .github/workflows/app-android-release.yml
Due: none

build(android): configure release signing with dynamic properties
  example/android/app/build.gradle
Due: none

feat(android): add AdMob app ID configuration for release builds
  .github/workflows/app-android-release.yml
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
Due: none

ci(naming): adding prefix for iOS and Android build workflows
  .github/workflows/app-android-release.yml
  .github/workflows/sdk-android.yml
  .github/workflows/sdk-ios.yml
  .github/workflows/sdk-release.yml
  migration.md
Due: none

fix(android): enforce AdMob app ID requirement for release builds
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/release.yml
  example/android/app/build.gradle
Due: none

ci(android): add AdMob banner ID configuration for release builds
  .github/workflows/app-android-release.yml
  example/android/app/build.gradle
Due: none

chore(admob): added admob react package
  example/package.json
  migration.md
  yarn.lock
Due: none

feat(ads): integrate AdMob support with AdsConfig and AdsBanner components
  example/android/app/build.gradle
  example/android/app/src/main/java/com/sherpaonnx.example/AdsConfigModule.kt
  example/android/app/src/main/java/com/sherpaonnx.example/AdsConfigPackage.kt
  example/android/app/src/main/java/com/sherpaonnx.example/MainApplication.kt
  example/src/ads/AdsBanner.tsx
  example/src/ads/adsConfig.ts
  example/src/ads/useAdsConsent.ts
  example/src/screens/home/HomeScreen.tsx
Due: lint, types, types-example

feat(settings): add Settings screen and integrate ads consent management
  example/android/app/src/main/AndroidManifest.xml
  example/app.json
  example/src/ads/useAdsConsent.ts
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/settings/SettingsScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

ci(naming): removed unused gh workflow files
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/release.yml
Due: none

refactor(ad_container): mounted admob container globally to reduce re-renders
  example/src/App.tsx
  example/src/ads/AdsBanner.tsx
  example/src/ads/useAdsConsent.ts
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/settings/SettingsScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(fastlane): add Fastlane setup for Play Store closed testing
  .github/workflows/app-android-release.yml
  example/android/Gemfile
  example/android/fastlane/Appfile
  example/android/fastlane/Fastfile
  example/android/fastlane/README.md
  migration.md
Due: none

chore(renaming): renaming project from SherpaOnnxExample to Voice Lab - Offline Tools
  example/android/app/build.gradle
  example/android/app/src/main/java/com/sherpaonnx.example/AdsConfigModule.kt
  example/android/app/src/main/java/com/sherpaonnx.example/AdsConfigPackage.kt
  example/android/app/src/main/java/com/xdcobra/voicelab/AdsConfigModule.kt
  example/android/app/src/main/java/com/xdcobra/voicelab/AdsConfigPackage.kt
  example/android/app/src/main/java/com/xdcobra/voicelab/MainActivity.kt
  example/android/app/src/main/java/com/xdcobra/voicelab/MainApplication.kt
  example/android/app/src/main/res/values/strings.xml
  example/android/fastlane/Appfile
  example/android/settings.gradle
  example/app.json
  example/ios/Podfile
  example/ios/SherpaOnnxExample/Info.plist
  example/ios/VoiceLabOfflineTools.xcodeproj/project.pbxproj
  example/ios/VoiceLabOfflineTools.xcodeproj/xcshareddata/xcschemes/VoiceLabOfflineTools.xcscheme
  example/ios/VoiceLabOfflineTools/AppDelegate.swift
  example/ios/VoiceLabOfflineTools/Images.xcassets/AppIcon.appiconset/Contents.json
  example/ios/VoiceLabOfflineTools/Images.xcassets/Contents.json
  example/ios/VoiceLabOfflineTools/Info.plist
  example/ios/VoiceLabOfflineTools/LaunchScreen.storyboard
  example/ios/VoiceLabOfflineTools/PrivacyInfo.xcprivacy
Due: none

feat(privacy_policy): add link to open privacy policy in web browser in settings screen
  example/src/screens/settings/SettingsScreen.tsx
Due: lint, types, types-example

ci(release_workflow): enhance versioning inputs and derive version/build number in Android release process
  .github/workflows/app-android-release.yml
  example/android/app/build.gradle
Due: none

feat(small): update app branding and modify ad banner settings
  .gitignore
  README.md
  docs/images/example_english.png
  docs/images/example_home_screen.png
  docs/images/example_multilanguage.png
  docs/images/example_stt_1.png
  docs/images/example_stt_2.png
  docs/images/example_tts_1.png
  docs/images/example_tts_2.png
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/src/ads/AdsBanner.tsx
  example/src/screens/home/HomeScreen.tsx
Due: lint, types, types-example

ci(activate): activate new added workflow
  .github/workflows/app-android-release.yml
Due: none

ci(activate): activate again
  .github/workflows/app-android-release.yml
Due: none

ci(activate): set correct trigger
  .github/workflows/app-android-release.yml
Due: none

ci(android): ensure Gradle wrapper is executable
  .github/workflows/app-android-release.yml
Due: none

ci(android): remove Gradle wrapper executable check and use bash for gradlew commands
  .github/workflows/app-android-release.yml
Due: none

ci(android): update AAB path in Fastfile for closed testing lane
  example/android/fastlane/Fastfile
Due: none

feat(security): activate proguard for release
  example/android/app/build.gradle
  example/android/fastlane/Fastfile
Due: none

ci(track): fixed correct track definition
  example/android/fastlane/Fastfile
Due: none

ci(fastlane): pass version code and name to Fastlane for closed testing upload
  .github/workflows/app-android-release.yml
  example/android/fastlane/Fastfile
Due: none

docs(roadmap): add model download integration plan and model registry
  docs/download-integration.md
  docs/tts-models.md
Due: none

feat(extraction): added helper to extract .tar.bz2 files natively
  SherpaOnnx.podspec
  android/build.gradle
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/download-integration.md
  example/package.json
  example/src/screens/tts/TTSScreen.tsx
  example/tsconfig.json
  ios/SherpaOnnx.mm
  ios/SherpaOnnxArchiveHelper.h
  ios/SherpaOnnxArchiveHelper.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/download/extractTarBz2.ts
  src/download/index.ts
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: lint, types, types-example

docs(model-management): add dedicated screen for managing downloaded models and filtering options
  docs/download-integration.md
Due: none

feat(model_download): implement model download manager
  package.json
  src/download/ModelDownloadManager.ts
  src/download/index.ts
  yarn.lock
Due: lint, types

refactor(TTSScreen): remove unused extraction logic and related UI components
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(download_screen): add Model Management screen and update navigation structure
  example/src/navigation/RootNavigator.tsx
  example/src/screens/download/ModelManagementScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example
