Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

refactor(stt): unify transcription methods to use audio buffer
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/SttErrorCodes.kt
  docs/audio-conversion.md
  docs/audiobuffer.md
  docs/migration/stt/stt-audiobuffer-migration.md
  docs/migration/stt/stt-pipeline-buffer-only-api-plan.md
  docs/stt-offline.md
  example/src/screens/stt/STTScreen.tsx
  ios/SherpaOnnx+STT.mm
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types, types-example

feat(textbuffer): add new textbuffer module and update TypeScript configuration
  package.json
  tsconfig.json
Due: none

feat(textbuffer): enhance text processing with unified pipeline and new methods
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/SttResultSlot.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/OfflineTextEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextErrorCodes.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextPipelineRegistry.kt
  ios/SherpaOnnx+STT.mm
  ios/SherpaOnnx+TextBuffer.mm
  ios/SherpaOnnx+TextBufferGlobals.h
Due: none

feat(stt-textbuffer): integrate new text buffer system for transcription results
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/stt/index.ts
  src/stt/types.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

feat(example): integrate text buffer methods into STTScreen for enhanced transcription
  example/src/screens/stt/STTScreen.tsx
  example/tsconfig.json
Due: lint, types, types-example

docs(textbuffer): add comprehensive documentation for text buffer module
  docs/textbuffer.md
Due: none

docs(audiobuffer, stt-offline): update documentation for audio and text buffer integration
  docs/audiobuffer.md
  docs/migration/textbuffer/textbuffer-pipeline-spec.md
  docs/stt-offline.md
Due: none

docs(performance): add specification for large offline audio buffer storage
  docs/performance/offline-audio-buffer-backing-spec.md
Due: none

feat(tts): implement buffer-to-buffer TTS synthesis and enhance offline buffer creation
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextPipelineRegistry.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOfflineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx+TextBuffer.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSOffline.mm
  ios/tts/options/TtsGenerationOptionsHelpers.h
  ios/tts/options/TtsGenerationOptionsHelpers.mm
Due: none

feat(tts): enhance TTS synthesis with new offline buffer methods
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/textbuffer/index.ts
  src/tts/index.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
Due: lint, types

feat(example): refactor audio handling to utilize offline audio buffers
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

docs(tts-offline): update documentation for offline TTS synthesis and buffer methods
  docs/migration/tts/tts-offline-buffer-pipeline-spec.md
  docs/tts-offline.md
Due: none

refactor(alignment): update alignment methods to use offline buffers
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+Alignment.mm
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/index.ts
  src/alignment/types.ts
  src/tts/index.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
Due: lint, types

refactor(tts): remove unused AlignmentTtsSinkSnapshot and related methods
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/core/TtsStaleGenerationMessage.kt
Due: none

refactor(example): integrate offline audio and text buffers for alignment
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

docs(alignment): update documentation for offline text and audio buffer integration
  docs/alignment.md
Due: none

docs(alignment): add offline alignment pipeline specification
  docs/migration/alignment/offline-alignment-pipeline-spec.md
Due: none

refactor(offline-enhancement): update audio enhancement methods to use offline audio buffers
  android/src/main/java/com/sherpaonnx/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+Enhancement.mm
Due: none

refactor(offline-enhancement): unify audio enhancement methods to use offline audio buffers
  src/NativeSherpaOnnx.ts
  src/enhancement/index.ts
  src/enhancement/types.ts
  src/stt/index.ts
Due: lint, types

refactor(example): update audio enhancement logic to utilize offline audio buffers
  example/src/screens/enhancement/EnhancementScreen.tsx
Due: lint, types, types-example

docs(offline-enhancement): expand documentation for offline and online speech enhancement
  docs/speech-enhancement.md
Due: none

docs(online-enhancement): introduce specification for LiveAudioBuffer streaming pipeline
  docs/migration/enhancement/offline-enhancement-buffer-pipeline-spec.md
  docs/migration/online/online-enhancement-live-pipeline-spec.md
Due: none

feat(online-enhancement): implement streaming enhancement pipeline for audio processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/EnhancementPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/StreamingPipelineRegistry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/StreamingPipelineWorker.kt
  ios/PaLiveEntry.h
  ios/SherpaOnnx+Enhancement.mm
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx+StreamingPipeline.h
  ios/SherpaOnnx+StreamingPipeline.mm
  ios/SherpaOnnx+StreamingPipelineControl.mm
  ios/enhancement/EnhancementPipelineWorker.h
  ios/enhancement/EnhancementPipelineWorker.mm
Due: none

feat(enhancement): add live enhancement capabilities and streaming pipeline management
  src/NativeSherpaOnnx.ts
  src/audiobuffer/types.ts
  src/enhancement/index.ts
  src/enhancement/streaming.ts
  src/enhancement/streamingTypes.ts
Due: lint, types

docs(online-enhancement): enhance documentation for live audio pipeline features
  docs/speech-enhancement.md
Due: none

docs(future-work): add specifications for live text pipeline and offline audio buffer improvements
  docs/future-work/live-text-pipeline-append-partial-channel.md
  docs/future-work/perf-offline-audio-buffer-backing-spec.md
  docs/speech-enhancement.md
Due: none

docs(online-stt): add specification for LiveTextBuffer streaming pipeline
  docs/migration/online/online-stt-live-text-pipeline-spec.md
Due: none

feat(streaming-stt-pipeline): implement live text streaming pipeline and enhance STT functionality
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxOnlineSttHelper.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/StreamingPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/SttPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextPipelineRegistry.kt
  ios/SherpaOnnx+OnlineSTT.mm
  ios/SherpaOnnx+StreamingPipeline.h
  ios/SherpaOnnx+StreamingPipelineControl.mm
  ios/SherpaOnnx+TextBuffer.mm
  ios/SherpaOnnx+TextBufferGlobals.h
  ios/enhancement/EnhancementPipelineWorker.mm
  ios/online_stt/SttPipelineWorker.h
  ios/online_stt/SttPipelineWorker.mm
  ios/online_stt/sherpa-onnx-online-stt-wrapper.h
  ios/online_stt/sherpa-onnx-online-stt-wrapper.mm
Due: none

feat(stt): refactor streaming STT pipeline and enhance text buffer management
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/streamingPipelineTypes.ts
  src/enhancement/index.ts
  src/enhancement/streaming.ts
  src/enhancement/streamingTypes.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

feat(example): enhance live STT functionality and refactor pipeline management
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

docs(enhancement): add offline and online speech enhancement documentation
  docs/enhancement-offline.md
  docs/enhancement-online.md
Due: none

docs(linking): update speech enhancement and STT documentation for pipeline integration
  README.md
  docs/alignment.md
  docs/audiobuffer.md
  docs/hotwords.md
  docs/migration/enhancement/offline-enhancement-buffer-pipeline-spec.md
  docs/migration/online/online-enhancement-live-pipeline-spec.md
  docs/migration/online/online-stt-live-text-pipeline-spec.md
  docs/stt-streaming.md
Due: none

refactor(enhancement): remove online enhancement methods and related types
  android/src/main/java/com/sherpaonnx/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+Enhancement.mm
  src/NativeSherpaOnnx.ts
  src/enhancement/index.ts
  src/enhancement/streaming.ts
  src/enhancement/streamingTypes.ts
  src/enhancement/types.ts
Due: lint, types

docs(enhancement-online): update online speech enhancement documentation
  docs/enhancement-online.md
Due: none

docs(enhancement): update offline and streaming speech enhancement documentation
  docs/enhancement-offline.md
  docs/enhancement-online.md
  docs/enhancement-streaming.md
  docs/migration/enhancement/offline-enhancement-buffer-pipeline-spec.md
  docs/migration/online/online-enhancement-live-pipeline-spec.md
  docs/migration/online/online-stt-live-text-pipeline-spec.md
Due: none

docs(audiobuffer): add offline and live audio buffer documentation
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
Due: none

docs(tts-migration): add specification for LiveTextBuffer to LiveAudioBuffer pipeline
  docs/migration/online/online-tts-live-pipeline-spec.md
Due: none

feat(streaming-tts): implement new streaming TTS pipeline and enhance text segment handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/core/TtsJniCallbackFactory.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOnlineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsStreamingService.kt
  ios/PaLiveEntry.h
  ios/SherpaOnnx+TextBuffer.mm
  ios/SherpaOnnx+TextBufferGlobals.h
  ios/SherpaOnnx.mm
  ios/online_stt/SttPipelineWorker.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/bridge/SherpaOnnx+TTSStream.mm
  ios/tts/pipeline/TtsPipelineWorker.h
  ios/tts/pipeline/TtsPipelineWorker.mm
  ios/tts/wav/TtsStreamingWavSink.h
Due: none

feat(streaming-tts): enhance TTS pipeline with metadata support and new session management
  src/NativeSherpaOnnx.ts
  src/audiobuffer/types.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
  src/tts/incremental/__tests__/engine.test.ts
  src/tts/incremental/engine.ts
  src/tts/incremental/events.ts
  src/tts/incremental/index.ts
  src/tts/incremental/types.ts
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/streamingTypes.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
Due: lint, types

refactor(example): update TTS screen to utilize new pipeline structure and improve state management
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
