Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(model-detection): enhance detection metadata and unify detection source handling
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-alignment-wrapper.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-model-detect-alignment.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-catalog-metadata.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-tts-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-tts-wrapper.cpp
  ios/SherpaOnnx+Alignment.mm
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  src/NativeSherpaOnnx.ts
  src/alignment/index.ts
  src/alignment/types.ts
  src/model-languages/alignment/hints.ts
  src/model-languages/alignment/index.ts
  src/model-languages/index.ts
  src/model-languages/resolvePublicLanguageHints.ts
  src/tts/index.ts
  src/tts/types.ts
  src/types/modelDetect.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

docs(model-detection): improved documentation to clarify the new detection metadata and its usage in model detection processes
  docs/alignment.md
  docs/migration.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

feat(incremental-tts): introduce incremental streaming TTS engine with auto-segmentation and queue management
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  src/tts/incremental/engine.ts
  src/tts/incremental/events.ts
  src/tts/incremental/index.ts
  src/tts/incremental/policies.ts
  src/tts/incremental/segmenter.ts
  src/tts/incremental/types.ts
  src/tts/index.ts
Due: lint, types, types-example

test(incremental-tts): add comprehensive tests for engine, policies, and segmenter
  src/tts/incremental/__tests__/engine.test.ts
  src/tts/incremental/__tests__/policies.test.ts
  src/tts/incremental/__tests__/segmenter.test.ts
Due: lint, types

docs(tts-streaming): add incremental text feeding section and usage examples
  docs/tts-streaming.md
Due: none

feat(incremental-tts): enhance incremental streaming TTS engine with new factory options and request handlers
  src/tts/incremental/engine.ts
  src/tts/incremental/index.ts
  src/tts/incremental/types.ts
  src/tts/index.ts
Due: lint, types

test(incremental-tts): refine tests for incremental streaming TTS engine and enhance request handling
  src/tts/incremental/__tests__/engine.test.ts
Due: lint, types

docs(tts-streaming): update incremental streaming TTS documentation with new method details
  docs/migration/incremental_tts_api_redesign.plan.md
  docs/tts-streaming.md
Due: none

refactor(tts-streaming): remove redundant emitEnd call in TtsStreamingService
  android/src/main/java/com/sherpaonnx/tts/service/TtsStreamingService.kt
  ios/tts/bridge/SherpaOnnx+TTSStream.mm
Due: none

ci(js-tests): add GitHub Actions workflow for JavaScript testing
  .github/workflows/test-js.yml
Due: none

refactor(incremental-tts): update default stream options and documentation
  src/tts/incremental/__tests__/engine.test.ts
  src/tts/incremental/engine.ts
  src/tts/incremental/index.ts
  src/tts/incremental/types.ts
Due: lint, types

docs(tts-streaming): add high-level plan for on-the-fly subtitles in TTS streaming
  docs/internal/tts-streaming-subtitles-plan.md
  docs/tts-offline.md
  docs/tts-streaming.md
Due: none

ci(expo): add Android Expo integration testing workflow
  .github/workflows/test-sdk-integration.yml
Due: none

fix(onnxruntime): add support for ONNX Runtime C API headers and update Gradle tasks
  .gitignore
  android/prebuilt-download.gradle
  android/src/main/cpp/CMakeLists.txt
Due: none

chore(podspec): update source and exclude files for iOS and Android integration
  SherpaOnnx.podspec
Due: none

fix(stt): enhance STT model detection with asset name and improved error handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/SherpaOnnx+STT.mm
  ios/stt/sherpa-onnx-stt-wrapper.mm
Due: none

feat(stt): enhance STT model detection with new metadata and improved structure
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-catalog-metadata.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-wrapper.cpp
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
Due: none

feat(stt): enhance STT model detection with additional parameters and metadata
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/types/modelDetect.ts
Due: lint, types

test(stt): add STT catalog metadata source to CMake and update model detection parameters
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
Due: none

feat(enhancement): update model detection to include asset name and additional metadata
  android/src/main/java/com/sherpaonnx/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+Enhancement.mm
  ios/enhancement/sherpa-onnx-enhancement-wrapper.mm
Due: none

feat(enhancement): enhance model detection with optional parameters and additional metadata
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-catalog-metadata.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-enhancement-wrapper.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-model-detect-enhancement.cpp
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
Due: none

feat(enhancement): add enhancement catalog metadata and improve detection model interface
  android/src/main/cpp/CMakeLists.txt
  src/NativeSherpaOnnx.ts
  src/enhancement/index.ts
  src/enhancement/types.ts
  src/types/modelDetect.ts
Due: lint, types

test(enhancement): include enhancement catalog metadata source in CMakeLists
  test/cpp/CMakeLists.txt
Due: none

docs(enhancement): enhance model detection with detailed configuration options
  docs/speech-enhancement.md
Due: none

docs(migration): align STT and Speech Enhancement model detection with TTS
  docs/migration.md
Due: none

chore(tts): add TODO for implementing JSI path to return Float32Array in getTtsSamples function
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
Due: none

refactor(tts): improve stale generation error handling with user-friendly messages
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/core/TtsStaleGenerationMessage.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  ios/SherpaOnnx+Alignment.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
Due: none

docs(tts): add section on data lifetime in native sink
  docs/tts-offline.md
Due: none

feat(offline-stt): implement audio buffer management and alignment features
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/AudioBufferRegistry.kt
  android/src/main/java/com/sherpaonnx/stt/SttErrorCodes.kt
  android/src/main/java/com/sherpaonnx/stt/SttResultSlot.kt
  ios/SherpaOnnx+STT.mm
Due: none

feat(streaming-stt): add STT alignment functionality and error code improvements
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxOnlineSttHelper.kt
  ios/SherpaOnnx+OnlineSTT.mm
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
Due: lint, types

feat(stt): enhance audio buffer and alignment functionalities
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

refactor(example): update transcription result structure and enhance error handling
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

docs(stt): update STT documentation and restructure references
  README.md
  docs/execution-providers.md
  docs/extraction.md
  docs/hotwords.md
  docs/migration.md
  docs/migration/stt-native-pipeline-research.md
  docs/migration/stt-native-pipeline-spec-implementation-plan.md
  docs/model-languages.md
  docs/model-setup.md
  docs/pcm-live-stream.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/stt.md
Due: none

feat(audio-buffer): implement unified audio buffer subsystem with offline and live entries
  .cursor/plans/audio_pipeline_buffers_7605bf7f.plan.md
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/FileBackedWav.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MicToLiveBufferSink.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioErrorCodes.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/Resampler.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/WavWriter.kt
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/pcm-stream/index.ts
  src/pcm-stream/types.ts
  src/stt/index.ts
Due: lint, types

chore(pcm-live-stream): remove deprecated PCM live stream implementation
  android/src/main/java/com/sherpaonnx/SherpaOnnxPcmCapture.kt
  docs/pcm-live-stream.md
  ios/SherpaOnnx+PcmLiveStream.mm
Due: none

feat(audio): add support for pipeline live audio chunk events
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MicToLiveBufferSink.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  example/tsconfig.json
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/audio/index.ts
  src/pcm-stream/index.ts
  src/pcm-stream/types.ts
  tsconfig.json
Due: lint, types

docs(pcm-stream): update README and STT documentation to reflect new `pcm-stream` API
  README.md
  docs/pcm-stream.md
  docs/stt-offline.md
  docs/stt-streaming.md
Due: none

refactor(example): refactor live audio processing to use unified pipeline audio buffer
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

docs(migration): add migration plans for audio pipeline buffers and STT detection rework
  docs/migration/audio_pipeline_buffers_7605bf7f.plan.md
  docs/migration/stt_detection_rework_5a8313c2.plan.md
Due: none

refactor(audiobuffer): introduce unified audio buffer subsystem and update documentation
  README.md
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/Resampler.kt
  android/src/main/java/com/sherpaonnx/stt/AudioBufferRegistry.kt
  docs/audiobuffer.md
  docs/migration/audio_pipeline_buffers_7605bf7f.plan.md
  docs/migration/stt/stt-audiobuffer-migration.md
  docs/pcm-player.md
  docs/pcm-stream.md
  docs/stt-offline.md
  docs/stt-streaming.md
  example/src/screens/stt/STTScreen.tsx
  example/tsconfig.json
  ios/SherpaOnnx+PipelineAudio.mm
  ios/SherpaOnnx+PipelineAudioGlobals.h
  ios/SherpaOnnx+STT.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/index.tsx
  src/pcm-stream/index.ts
  src/stt/index.ts
  src/stt/types.ts
  tsconfig.json
Due: lint, types, types-example
