Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(js): add optional parameters for inference configuration including numThreads, provider, rule FSTs, rule FARs, and dither
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(js): extend STT initialization and runtime configuration with additional parameters for numThreads, provider, rule FSTs, and rule FARs
  src/stt/index.ts
Due: lint, types

feat(native): integrate additional parameters for STT initialization and configuration, including numThreads, provider, rule FSTs, rule FARs, and dither
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/SherpaOnnx+STT.mm
  ios/sherpa-onnx-stt-wrapper.h
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

docs(stt): update STT documentation to include new initialization and runtime configuration options such as numThreads, provider, rule FSTs, rule FARs, and dither
  docs/stt.md
Due: none

feat(js): expand model type options in STT configuration to include new models such as fire_red_asr, moonshine, dolphin, canary, omnilingual, medasr, and telespeech_ctc
  src/NativeSherpaOnnx.ts
  src/stt/types.ts
Due: lint, types

feat(cpp): add support for new STT models including fire_red_asr, moonshine, dolphin, canary, omnilingual, medasr, and telespeech_ctc, along with their respective configuration paths
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/sherpa-onnx-module-jni.cpp
  ios/sherpa-onnx-model-detect.h
  ios/sherpa-onnx-model-detect.mm
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

feat(native): add support for additional STT models including fire_red_asr, moonshine, dolphin, canary, omnilingual, medasr, and telespeech_ctc with their respective configuration paths
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
Due: none

docs(stt): enhance STT documentation to include new supported model types and their configuration details for improved clarity
  docs/stt.md
Due: none

feat(stt): enhance STTScreen with new state variables and file handling for hotwords and rule files, including CPU core count and threading options
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

feat(stt, tts): add runtime type lists for supported models and enhance type exports
  src/download/ModelDownloadManager.ts
  src/stt/index.ts
  src/stt/types.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

feat(model_download): enhance model type detection with additional model support and improve type validation
  example/src/screens/download/ModelManagementScreen.tsx
Due: lint, types, types-example

feat(js): add model-specific options to STT initialization for enhanced configuration flexibility
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

feat(native): integrate model-specific options for enhanced STT configuration across platforms
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/SherpaOnnx+STT.mm
  ios/sherpa-onnx-stt-wrapper.h
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

docs(stt, tts): update documentation to include model-specific options and Kotlin Offline API coverage for enhanced clarity and usability
  docs/stt.md
  docs/tts.md
Due: none

feat(stt_detect): implement model detection functionality for STT across Android and iOS platforms
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+STT.mm
Due: none

feat(stt_detect): add detectSttModel function for model type detection without initialization
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
Due: lint, types

docs(stt_detect): update README and stt.md to include new detectSttModel function and its usage details
  README.md
  docs/stt.md
Due: none

feat(tts_detect): implement TTS model detection functionality for Android and iOS without engine initialization
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+TTS.mm
Due: none

feat(tts_detect): add detectTtsModel function for TTS model type detection without engine initialization
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
Due: lint, types

docs(model_detection): add section for model type detection without initialization, including usage examples for detectSttModel and detectTtsModel
  docs/MODEL_SETUP.md
  docs/stt.md
  docs/tts.md
Due: none

feat(example_app): enhance STTScreen with model-specific options and detection logic for improved user experience
  README.md
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

feat(example_app): implement model-specific options for noise and length scales based on selected model type
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(hotword): add support for hotwords validation based on model type in STT initialization and configuration
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/SherpaOnnx+STT.mm
  ios/sherpa-onnx-stt-wrapper.h
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

feat(hotword): extend STT types with hotwords support and model type detection functions
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

feat(hotword): implement hotwords file validation for STT initialization and configuration across Android and iOS
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/SherpaOnnx+STT.mm
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

feat(hotword): integrate hotwords options in STTScreen with conditional rendering based on model type support
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

docs(hotword): clarify hotwords support and validation for transducer models in STT initialization and configuration
  docs/stt.md
Due: none

feat(crashlytics): add STT-specific context attributes for enhanced error reporting
  android/src/main/java/com/sherpaonnx/CrashlyticsHelper.kt
Due: none

feat(example_app): enhance STTScreen with configuration options and improved styling for better user guidance
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

feat(example_app): update downloaded models handling to include metadata and size on disk
  example/src/screens/download/ModelManagementScreen.tsx
Due: lint, types, types-example

feat(model_size): update progress reporting to include extracted size and enhance model metadata handling
  android/src/main/cpp/jni/sherpa-onnx-archive-helper.cpp
  example/src/screens/download/ModelManagementScreen.tsx
  ios/SherpaOnnxArchiveHelper.mm
  src/download/ModelDownloadManager.ts
Due: lint, types, types-example

chore(gradle): add Gradle wrapper files for project setup and dependency management
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

feat(hotword): enhance hotwords validation and decoding method handling in STT initialization for Android and iOS
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/SherpaOnnx+STT.mm
  ios/sherpa-onnx-stt-wrapper.h
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

feat(hotword): introduce SttInitResult interface for improved STT initialization result handling
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

docs(hotword): update STT initialization documentation to reflect SttInitResult structure and enhance hotwords validation details
  docs/stt.md
Due: none

fix(model_detection): increase file search depth for model detection and token file retrieval to support more complex directory structures
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
Due: none

fix(error_handling): update error messages in STT and TTS screens to inform users that issues have been reported and will be addressed in future updates
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(bpe_vocab): add support for BPE vocabulary in STT model detection and update result structure to include BPE vocab path
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/sherpa-onnx-module-jni.cpp
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

feat(bpe_vocab): add modeling unit and BPE vocab parameters to STT initialization for enhanced hotword tokenization
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

feat(bpe_vocab): enhance STTScreen with modeling unit and BPE vocab file handling for improved hotword support
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
