Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(system-tts): implement Android system TTS engine and model detection
  README.md
  android/proguard-rules.pro
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxNativeLoader.kt
  android/src/main/java/com/sherpaonnx/tts/system/SherpaOnnxCheckVoiceDataActivity.kt
  android/src/main/java/com/sherpaonnx/tts/system/SherpaOnnxGetSampleTextActivity.kt
  android/src/main/java/com/sherpaonnx/tts/system/SherpaOnnxTextToSpeechService.kt
  android/src/main/java/com/sherpaonnx/tts/system/SystemTtsConfig.kt
  android/src/main/java/com/sherpaonnx/tts/system/SystemTtsLocaleMapping.kt
  android/src/main/java/com/sherpaonnx/tts/system/SystemTtsLog.kt
  android/src/main/java/com/sherpaonnx/tts/system/SystemTtsSynthesisController.kt
  android/src/main/java/com/sherpaonnx/tts/system/SystemTtsVoiceDescriptor.kt
  android/src/main/java/com/sherpaonnx/tts/system/SystemTtsVoiceRegistry.kt
  android/src/main/java/com/sherpaonnx/tts/system/TtsModelDetect.kt
  android/src/test/java/com/sherpaonnx/tts/system/SystemTtsLocaleMappingTest.kt
  android/src/test/java/com/sherpaonnx/tts/system/SystemTtsPcmTest.kt
  android/src/test/java/com/sherpaonnx/tts/system/SystemTtsVoiceRegistryTest.kt
  docs/README.md
  docs/android-system-tts.md
  docs/tts-offline.md
Due: none

fix(android): update NDK configuration and remove obsolete packaging settings
  android/build.gradle
Due: none

ci(workflows): add source separation model collection workflow and update related scripts
  .github/workflows/collect-separation-model-structures.yml
  .github/workflows/test-model-detect.yml
  scripts/ci/check-model-csvs.sh
  scripts/ci/collect_all_sherpa_model_streams.sh
  scripts/ci/collect_one_sherpa_release_stream.sh
  scripts/ci/sherpa_separation_model_release_streams.json
  test/fixtures/source-separation-models-expected.csv
Due: none

chore(licenses): update license status for source separation models to MIT and add corresponding license links
  android/src/main/assets/model_licenses/source-separation-models-license-status.csv
  ios/Resources/model_licenses/source-separation-models-license-status.csv
Due: none

chore(models): update model_type in expected CSV for source separation models
  .github/workflows/collect-separation-model-structures.yml
  test/fixtures/source-separation-models-expected.csv
Due: none

feat(separation): add source separation model detection and validation
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-model-detect-separation.cpp
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-validate-separation.cpp
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-validate-separation.h
Due: none

test(separation): implement separation model detection and validation tests
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/custom_path_requirements_catalog_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
  test/cpp/model_detect/model_detect_test_utils.h
Due: none

ci(workflows): add source separation model detection workflow
  .github/workflows/test-model-detect.yml
  .github/workflows/test-separation-model-detect.yml
Due: none

feat(separation): implement source separation model detection and integration
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-separation-wrapper.cpp
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-separation-wrapper.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  ios/separation/bridge/SherpaOnnx+SeparationDetect.mm
Due: none

feat(separation): enhance source separation model detection and integration
  src/NativeSherpaOnnx.ts
  src/detect/detectModel.ts
  src/download/catalogDetectCategories.ts
  src/separation/index.ts
  src/separation/types.ts
  src/types/modelDetect.ts
Due: lint, types

test(separation): add unit tests for separation model detection
  docs/model-detect.md
  src/__tests__/detectModel.test.ts
  src/download/__tests__/catalogHints.test.ts
  src/separation/__tests__/detectSeparationModel.test.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

feat(separation): add separation model configuration and validation
  src/detect/validateCustomModelPaths.ts
  src/separation/customConfig.ts
  src/separation/index.ts
Due: lint, types

feat(example): add new models to separation category
  example/src/utils/recommendedModels.ts
Due: lint, types, types-example

test(separation): enhance unit tests for separation model handling
  src/download/__tests__/catalogHints.test.ts
  src/download/sources/__tests__/builtin-github.test.ts
  src/download/sources/__tests__/github-asset-rules.test.ts
  src/download/sources/__tests__/github-common.test.ts
  src/separation/__tests__/customConfig.test.ts
Due: lint, types

ci(workflows): remove push trigger from separation model collection workflow
  .github/workflows/collect-separation-model-structures.yml
Due: none

fix(separation): enhance separation model handling in JNI
  SherpaOnnx.podspec
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
Due: none

feat(separation): add separation functionality and JNI integration
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/separation/sherpa-onnx-separation-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/separation/config/SeparationInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/separation/core/SeparationErrorCodes.kt
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  ios/separation/bridge/SherpaOnnx+SeparationOffline.mm
  ios/separation/core/SeparationBridgeState.h
  ios/separation/core/SeparationBridgeState.mm
  ios/separation/sherpa-onnx-separation-wrapper.cpp
  ios/separation/sherpa-onnx-separation-wrapper.h
Due: none

feat(separation): implement offline source separation engine and related types
  src/NativeSherpaOnnx.ts
  src/nativeBridge/initBridgeTypes.ts
  src/separation/index.ts
  src/separation/orchestrate.ts
  src/separation/separationNativeBridge.ts
  src/separation/streamingTypes.ts
  src/separation/types.ts
Due: lint, types

test(separation): add unit tests for createSeparation and separationNativeBridge
  src/separation/__tests__/createSeparation.test.ts
  src/separation/__tests__/separationNativeBridge.test.ts
Due: lint, types

docs(separation): update documentation for source separation feature
  docs/internal/sdk-feature-support-matrix.md
  docs/migration/liveOverload/offline-stt-live-pipeline-mandatory-segmentation.md
  docs/model-detect.md
  docs/separation.md
Due: none

feat(separation): enhance offline audio separation orchestration
  src/pipeline/offlineOrchestrator.ts
  src/separation/index.ts
  src/separation/orchestrate.ts
  src/separation/types.ts
Due: lint, types

test(separation): add unit tests for offline separation orchestration
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/separation/__tests__/createSeparation.test.ts
  src/separation/__tests__/orchestrate.test.ts
Due: lint, types

docs(separation): update segmentation documentation and integration points
  docs/memory-and-models.md
  docs/segmentation-engine.md
  docs/separation.md
Due: none

docs(separation): add implementation plans for separation runtime and segmentation
  docs/migration/separation/separation_runtime_mvp_88ae5e27.plan.md
  docs/migration/separation/separation_segmentation_e1f99a65.plan.md
Due: none

feat(live-overload): implement offline live separation pipeline functionality
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  android/src/main/java/com/sherpaonnx/separation/pipeline/SeparationOfflineLivePipelineWorker.kt
  ios/audio/pipeline/PaLiveEntry.h
  ios/separation/SeparationOfflineLivePipelineWorker.h
  ios/separation/SeparationOfflineLivePipelineWorker.mm
  ios/separation/bridge/SherpaOnnx+SeparationOffline.mm
Due: none

feat(live-overload): add live audio separation functionality
  src/NativeSherpaOnnx.ts
  src/separation/index.ts
  src/separation/streamingTypes.ts
  src/separation/types.ts
Due: lint, types

feat(live-overload): enhance live separation tests and functionality
  src/livePipeline/__tests__/cross-feature.test.ts
  src/separation/__tests__/createSeparation.test.ts
  src/separation/__tests__/separate-live-offline.test.ts
Due: lint, types

docs(live-overload): update documentation for live audio separation functionality
  docs/internal/sdk-feature-support-matrix.md
  docs/migration/liveOverload/offline-stt-live-pipeline-mandatory-segmentation.md
  docs/separation.md
Due: none

fix(separation): rename variables for clarity in offline live pipeline worker
  android/src/main/java/com/sherpaonnx/separation/pipeline/SeparationOfflineLivePipelineWorker.kt
  ios/separation/SeparationOfflineLivePipelineWorker.mm
  src/separation/__tests__/createSeparation.test.ts
  src/separation/__tests__/separate-live-offline.test.ts
  src/separation/index.ts
Due: lint, types

feat(separation): implement separation custom initialization and UI enhancements
  example/src/components/ScreenIntroModal.tsx
  example/src/components/SegmentationPolicyControls.tsx
  example/src/components/modelInit/SeparationCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
  example/src/utils/separationCustomInitFill.ts
  example/src/utils/separationCustomInitLabels.ts
Due: lint, types, types-example

feat(separation): add separation detection and processing functionality
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-separation-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/separation/sherpa-onnx-separation-detect-wrapper.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/cpp/separation/sherpa-onnx-separation-wrapper.cpp
  android/src/main/cpp/separation/sherpa-onnx-separation-wrapper.h
  ios/separation/bridge/SherpaOnnx+SeparationOffline.mm
  ios/separation/core/SeparationBridgeState.mm
Due: none

feat(separation): enhance logging for separation initialization and processing
  android/src/main/cpp/jni/separation/sherpa-onnx-separation-jni.cpp
  android/src/main/cpp/separation/sherpa-onnx-separation-wrapper.cpp
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  android/src/main/java/com/sherpaonnx/separation/pipeline/SeparationOfflineLivePipelineWorker.kt
Due: none

fix(separation): upmix mono input to stereo for improved processing
  android/src/main/cpp/separation/sherpa-onnx-separation-wrapper.cpp
Due: none

fix(audio): enhance ADTS frame handling and logging
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
Due: none

feat(file-source): enhance audio file handling and display name resolution
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/src/components/OfflineAudioBufferWidget.tsx
  example/src/components/modelInit/FileSourceSlotPicker.tsx
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/fileio/fileioInputChannels.ts
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
  example/src/screens/tts/OfflineTTSScreen.tsx
  example/src/screens/vad/VADScreen.tsx
  example/src/utils/audioFilePcmPlayback.ts
  example/src/utils/decodableAudioPickerTypes.ts
  example/src/utils/fileSourceFromUri.ts
Due: lint, types, types-example

docs(future-work): add design note for live overload audio crossfade implementation
  docs/future-work/live-overload-audio-overlap-crossfade-future-work.md
Due: none

fix(separation): validate input sample rate for separation processing
  src/audiobuffer/index.ts
  src/pipeline/offlineOrchestrator.ts
  src/separation/index.ts
Due: lint, types

feat(offline-audio): add decode target sample rate support
  example/src/components/OfflineAudioBufferWidget.tsx
  example/src/screens/separation/SeparationScreen.tsx
  src/separation/__tests__/createSeparation.test.ts
Due: lint, types, types-example

feat(voicelab): add app representation in readme
  README.md
  docs/images/voicelab-01-home.png
  docs/images/voicelab-02-download.png
  docs/images/voicelab-03-provider.png
Due: none

docs(position): removed obsolete text and restructured disclaimer
  README.md
Due: none
