Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(example): add AudioTagging showcase screen with offline and live overload
  example/android/app/src/main/assets/test_wavs/audio-tagging/1.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/10.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/11.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/12.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/13.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/2.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/3.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/4.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/5.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/6.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/7.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/8.wav
  example/android/app/src/main/assets/test_wavs/audio-tagging/9.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/1.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/10.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/11.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/12.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/13.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/2.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/3.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/4.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/5.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/6.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/7.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/8.wav
  example/ios/sherpa_models/test_wavs/audio-tagging/9.wav
  example/src/audioConfig.ts
  example/src/components/OfflineAudioBufferWidget.styles.ts
  example/src/components/OfflineAudioBufferWidget.tsx
  example/src/components/modelInit/AudioTaggingCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/audio-tagging/AudioTaggingScreen.styles.ts
  example/src/screens/audio-tagging/AudioTaggingScreen.tsx
  example/src/utils/audioTaggingCustomInitFill.ts
  example/src/utils/audioTaggingModelCatalog.ts
  example/tsconfig.json
  tsconfig.json
Due: lint, types, types-example

chore(example): wire audio tagging catalog recommended pack and Home navigation
  example/scripts/model-download-config.json
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
  example/src/utils/recommendedModels.ts
Due: lint, types, types-example

docs(audio-tagging): mark Phase 5 showcase landed
  docs/internal/audio-tagging-plan.md
Due: none

fix(api): enforce AT live min span and LiveText events JSON
  src/audio-tagging/__tests__/tagAudioTagging.live.test.ts
  src/audio-tagging/__tests__/tagAudioTagging.segmented.test.ts
  src/audio-tagging/index.ts
  src/audio-tagging/live.ts
  src/audio-tagging/orchestrate.ts
  src/audio-tagging/types.ts
Due: lint, types

fix(android): stringify AT live top-K events in LiveText meta
  android/src/main/java/com/sherpaonnx/audiotagging/pipeline/AudioTaggingOfflineLivePipelineWorker.kt
Due: none

fix(ios): stringify AT live top-K events in LiveText meta
  ios/audio-tagging/pipeline/AudioTaggingOfflineLivePipelineWorker.mm
Due: none

feat(example): show per-segment top-K timeline for AT live overload
  example/src/screens/audio-tagging/AudioTaggingScreen.tsx
Due: lint, types, types-example

docs(example): add audio tagging offline and live README screenshots
  docs/images/example/audio_tagging_live_1.png
  docs/images/example/audio_tagging_live_2.png
  docs/images/example/audio_tagging_live_3.png
  docs/images/example/audio_tagging_offline_1.png
  docs/images/example/audio_tagging_offline_2.png
  docs/images/example/audio_tagging_offline_3.png
  example/README.md
Due: none

docs: plan LiveText meta JSON-tree contract after audio tagging
  docs/future-work/live-text-meta-json-tree-contract.md
  docs/internal/audio-tagging-plan.md
  docs/internal/livetextbuffer-internal.md
Due: none

fix(ios): keep shared android C++ headers private in the CocoaPods umbrella
  SherpaOnnx.podspec
  example/ios/Podfile.lock
Due: none

fix(ios): align STT/SLID/AT/diarization bridges with codegen and pipeline APIs
  ios/audio-tagging/bridge/SherpaOnnx+AudioTagging.mm
  ios/audio-tagging/bridge/SherpaOnnx+AudioTaggingLive.mm
  ios/diarization/bridge/SherpaOnnx+DiarizationStreaming.mm
  ios/slid/bridge/SherpaOnnx+LanguageIdLive.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
Due: none

docs(audio-tagging): add offline and live guides and mark Phase 6 landed
  README.md
  docs/README.md
  docs/audio-tagging-live.md
  docs/audio-tagging-offline.md
  docs/internal/audio-tagging-plan.md
Due: none

docs: wire audio tagging into setup, detect, and pipeline indexes
  docs/download-manager.md
  docs/model-detect.md
  docs/model-setup.md
  docs/segmentbuffer-offline.md
  docs/streaming-pipelines-overview.md
Due: none

docs: clarify live-overload evaluator matrices for SID, SLID, and separation
  docs/language-identification-live.md
  docs/separation-live.md
  docs/speaker-identification-live.md
Due: none

docs(future-work): plan API Types doc batch2 for speech and media guides
  docs/future-work/api_types_doc_batch2_bd4c737b.plan.md
Due: none

feat(textbuffer): sanitize LiveText meta as JSON trees
  src/textbuffer/__tests__/jsonMeta.test.ts
  src/textbuffer/index.ts
  src/textbuffer/jsonMeta.ts
  src/textbuffer/types.ts
Due: lint, types

fix(android): pack nested LiveText meta for emit and getSegments
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextJsonMeta.kt
Due: none

fix(ios): align SLID live durationMs meta with Android
  ios/slid/pipeline/SlidOfflineLivePipelineWorker.mm
Due: none

feat(audio-tagging): emit nested meta.events on live overload
  android/src/main/java/com/sherpaonnx/audiotagging/pipeline/AudioTaggingOfflineLivePipelineWorker.kt
  ios/audio-tagging/pipeline/AudioTaggingOfflineLivePipelineWorker.mm
  src/audio-tagging/__tests__/tagAudioTagging.live.test.ts
  src/audio-tagging/live.ts
Due: lint, types

docs: document livetext json-tree contract and at live meta migration
  docs/audio-tagging-live.md
  docs/future-work/live-text-meta-json-tree-contract.md
  docs/internal/audio-tagging-plan.md
  docs/internal/livetextbuffer-internal.md
  docs/textbuffer-streaming.md
Due: none

docs(changelog): note breaking livetext nested meta
  CHANGELOG.md
Due: none

docs(future-work): plan offline diacritization kotlin-api parity
  docs/future-work/offline-diacritization-kotlin-api-parity.md
Due: none

docs(future-work): fold diacritization research into kotlin-api parity note
  docs/future-work/offline-diacritization-kotlin-api-parity.md
Due: none

chore(sherpa-onnx): bump submodule and release tags to v1.13.8-1
  .github/workflows/framework-sherpa-onnx-ios-framework.yml
  README.md
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx_ios.sh
Due: none

feat(diarization): add opt-in silhouette confidence in offline C++ core
  android/src/main/cpp/diarization/agglomerative-clustering.cpp
  android/src/main/cpp/diarization/agglomerative-clustering.h
  android/src/main/cpp/diarization/diarization-session.cpp
  android/src/main/cpp/diarization/diarization-session.h
  android/src/main/cpp/diarization/diarization-types.h
  android/src/main/cpp/diarization/sherpa-onnx-diarization-wrapper.cpp
  android/src/main/cpp/diarization/sherpa-onnx-diarization-wrapper.h
  android/src/main/cpp/diarization/speaker-timeline.cpp
  android/src/main/cpp/diarization/speaker-timeline.h
  test/cpp/diarization/diarization_core_test.cpp
Due: none

feat(diarization): expose computeConfidence through bridges and TS API
  android/src/main/cpp/jni/diarization/sherpa-onnx-diarization-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  ios/diarization/bridge/SherpaOnnx+DiarizationOffline.mm
  src/NativeSherpaOnnx.ts
  src/diarization/diarizationNativeBridge.ts
  src/diarization/index.ts
  src/diarization/types.ts
Due: lint, types

feat(example): add diarization computeConfidence switch and timeline HUD
  example/src/screens/diarization/DiarizationScreen.styles.ts
  example/src/screens/diarization/DiarizationScreen.tsx
Due: lint, types, types-example

docs(diarization): document offline segment confidence opt-in
  CHANGELOG.md
  docs/diarization-offline.md
  docs/internal/speaker-embedding-foundation.md
Due: none

docs(tts): move live overload into tts-live.md
  docs/streaming-pipelines-overview.md
  docs/tts-live.md
  docs/tts-offline.md
Due: none

docs(audio-tagging): flatten API reference and Types tables
  docs/audio-tagging-live.md
  docs/audio-tagging-offline.md
Due: none

docs(slid+sid): flatten API reference and Types tables
  docs/language-identification-live.md
  docs/language-identification-offline.md
  docs/speaker-identification-live.md
  docs/speaker-identification-offline.md
Due: none

docs(separation+stt): flatten API reference and Types tables
  docs/separation-live.md
  docs/separation-offline.md
  docs/stt-offline.md
  docs/stt-streaming.md
Due: none

docs(vad+kws): flatten API reference and add KWS Types
  docs/kws-streaming.md
  docs/vad-streaming.md
Due: none

docs(enhancement+punctuation): flatten API reference and Types
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
Due: none

docs(alignment+diarization): flatten API reference and Types
  docs/alignment-offline.md
  docs/diarization-offline.md
  docs/diarization-streaming.md
Due: none

docs(tts): strip detectTtsModel field dump from API sample
  docs/tts-offline.md
Due: none

docs(audio-tagging): shorten intro and unify JS Events
  docs/audio-tagging-live.md
  docs/audio-tagging-offline.md
Due: none

docs(slid+sid): shorten intro and unify JS Events
  docs/language-identification-live.md
  docs/language-identification-offline.md
  docs/speaker-identification-live.md
  docs/speaker-identification-offline.md
Due: none

docs(separation+tts): shorten intro and unify JS Events
  docs/separation-live.md
  docs/separation-offline.md
  docs/tts-live.md
  docs/tts-offline.md
Due: none

docs(stt+vad+kws): shorten intro and unify JS Events
  docs/kws-streaming.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/vad-streaming.md
Due: none
