Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(alignment): add runCTCForcedAlignment method to interface for audio transcription
  src/NativeSherpaOnnx.ts
  src/index.tsx
Due: lint, types

chore(config): add alignment module and update TypeScript configuration
  example/tsconfig.json
  package.json
  tsconfig.json
Due: none

feat(generate-timestamp): enhance UI styles and integrate model download functionality
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

docs(subtitle): enhance subtitle generation with accurate mode and alignment model management
  docs/tts-subtitles.md
  docs/tts.md
Due: none

docs(readme): update TTS subtitles section to include full implementation details for `fast` and `accurate` modes, and add new API methods for subtitle generation
  README.md
Due: none

refactor(example): remove unused subtitle generation logic and related styles to streamline TTSScreen functionality
  example/src/screens/tts/TTSScreen.styles.ts
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

fix(tts): update TTS JNI integration to use boxed Integer for callback compatibility
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

feat(wav2vec2): add CSV-driven model release asset pipeline and GitHub Actions workflow for building and publishing models
  .github/workflows/wav2vec2-models-publish.yml
  .gitignore
  scripts/wav2vec2-models/README.md
  scripts/wav2vec2-models/build_and_upload.js
  scripts/wav2vec2-models/sources.csv
Due: lint, types

ci(wav2vec2): update GitHub Actions workflow to enable manual triggering and restore default input values for CSV path and release tag
  .github/workflows/wav2vec2-models-publish.yml
Due: none

feat(wav2vec2): add additional model entries to sources.csv for various ONNX formats
  scripts/wav2vec2-models/sources.csv
Due: none

ci(license): implement subtitle model license status synchronization and update CSV structure
  .github/workflows/wav2vec2-models-publish.yml
  android/src/main/assets/model_licenses/subtitle-models-license-status.csv
  ios/Resources/model_licenses/subtitle-models-license-status.csv
  scripts/wav2vec2-models/README.md
  scripts/wav2vec2-models/build_and_upload.js
  scripts/wav2vec2-models/sources.csv
  scripts/wav2vec2-models/sync_subtitle_license_status.js
Due: lint, types

chore: release 0.4.1
  CHANGELOG.md
  package.json
Due: none

feat(alignment): implement subtitle model management and update download functionality
  src/alignment/download.ts
  src/alignment/index.ts
  src/alignment/types.ts
  src/download/paths.ts
  src/download/registry.ts
  src/download/types.ts
  src/licenses.ts
Due: lint, types

feat(alignment): implement alignment auto model detection and validation functionality
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/sherpa-onnx-alignment-wrapper.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-alignment-wrapper.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-alignment.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-validate-alignment.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-validate-alignment.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

feat(alignment): implement alignment auto model detection and validation functionality for ios
  ios/SherpaOnnx+Alignment.mm
  ios/model_detect/sherpa-onnx-model-detect-alignment.mm
  ios/model_detect/sherpa-onnx-model-detect.h
  ios/model_detect/sherpa-onnx-validate-alignment.h
  ios/model_detect/sherpa-onnx-validate-alignment.mm
Due: none

refactor(alignment-download): moved direct download in alignment model api to download manager api
  src/alignment/download.ts
Due: lint, types

feat(alignment): add detectAlignmentModel function and update related types and paths
  src/NativeSherpaOnnx.ts
  src/alignment/index.ts
  src/alignment/types.ts
  src/download/paths.ts
  src/download/registry.ts
  src/download/types.ts
  src/index.tsx
  src/licenses.ts
  src/tts/index.ts
  src/tts/subtitles.ts
  src/tts/types.ts
Due: lint, types

refactor(rename): renaming subtitle to alignment for consistency
  .gitignore
  android/src/main/assets/model_licenses/alignment-models-license-status.csv
  ios/Resources/model_licenses/alignment-models-license-status.csv
  scripts/alignment-models/build_and_upload.js
  scripts/alignment-models/sources.csv
  scripts/alignment-models/sync_alignment_license_status.js
  scripts/wav2vec2-models/README.md
Due: lint, types

feat(example): redesign model selection and initialization process with enhanced UI and state management
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

ci(alignment-models): add GitHub Actions workflow for publishing alignment model assets
  .github/workflows/models-publish-alignment.yml
Due: none

docs(alignment): rename subtitles to alignment in documentation and add TTS alignment guide
  README.md
  docs/tts-alignment.md
  docs/tts-subtitles.md
  docs/tts.md
  scripts/alignment-models/README.md
Due: none

ci(workflow): change trigger from workflow_dispatch to push in models-publish-alignment.yml
  .github/workflows/models-publish-alignment.yml
Due: none

ci(workflow): restore workflow_dispatch trigger and inputs in models-publish-alignment.yml
  .github/workflows/models-publish-alignment.yml
Due: none

feat(example): enhance alignment model loading and selection process with improved state management and asset handling
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

fix(alignment-path): add support for model paths in alignment result handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

refactor(alignment): remove BuildFallbackLogProbs function and handle alignment error for missing ONNX Runtime
  ios/SherpaOnnx+Alignment.mm
Due: none

fix(alignment): add validation for required model, audio, and text paths in alignment processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
Due: none

refactor(alignment): streamline audio handling by consolidating temporary WAV file creation and updating alignment model interface
  src/NativeSherpaOnnx.ts
  src/index.tsx
  src/tts/index.ts
  src/tts/subtitles.ts
  src/tts/tempAudio.ts
Due: lint, types

refactor(segmenter): improve token handling by separating raw and lowercased token extraction for better clarity
  android/src/main/java/com/sherpaonnx/SherpaOnnxTextSegmenter.kt
  ios/SherpaOnnx+TTS.mm
  src/tts/subtitles.ts
Due: lint, types

refactor(token-extraction): update token extraction method to use modern Objective-C syntax for improved readability
  ios/SherpaOnnx+TTS.mm
Due: none

refactor(alignment): change elementCount type to size_t and update empty tensor check for improved clarity
  ios/SherpaOnnx+Alignment.mm
Due: none

refactor(alignment): implement runtime API resolution for ONNX Runtime to ensure compatibility and improve error handling
  ios/SherpaOnnx+Alignment.mm
Due: none

feat(build): add support for ONNX Runtime versioning and patching in iOS framework build process
  .github/workflows/framework-sherpa-onnx-ios-framework.yml
  .gitignore
  third_party/sherpa-onnx-prebuilt/build-ios-patched.sh
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx_ios.sh
Due: none

chore(build): update IOS_RELEASE_TAG version
  .gitignore
  third_party/sherpa-onnx-prebuilt/BUILD_IOS_SH_EXPECTED_SHA256
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
Due: none

feat(stt): add support for token and segment timestamps in Whisper model options for ios
  docs/stt.md
  ios/SherpaOnnx+STT.mm
  ios/stt/sherpa-onnx-stt-wrapper.h
  ios/stt/sherpa-onnx-stt-wrapper.mm
  src/stt/types.ts
Due: lint, types

chore: release 0.4.2
  CHANGELOG.md
  package.json
Due: none

chore(tag): update Android and iOS release tags to v1.12.35
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
Due: none

chore(licenses): update license status for cohere-transcribe model in ASR license files for Android and iOS
  android/src/main/assets/model_licenses/asr-models-license-status.csv
  ios/Resources/model_licenses/asr-models-license-status.csv
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
