Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(alignment): introduce accurate segmentation strategy and alignment warnings
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/engine.ts
  src/alignment/index.ts
  src/alignment/strategyA/driver.ts
  src/alignment/strategyA/types.ts
  src/alignment/types.ts
Due: lint, types

test(alignment): add unit tests for strategyA driver functionality
  src/alignment/strategyA/__tests__/driver-coverage.test.ts
  src/alignment/strategyA/__tests__/driver-offset.test.ts
  src/alignment/strategyA/__tests__/driver-options.test.ts
  src/alignment/strategyA/__tests__/driver-pipeline.test.ts
  src/alignment/strategyA/__tests__/missing-timestamps.test.ts
  src/segmentbuffer/__tests__/populate-offline-segment-buffer.test.ts
Due: lint, types

feat(segment): add normalization function for offline segment buffer modes
  src/segmentbuffer/index.ts
Due: lint, types

feat(alignment): add forced CTC alignment from PCM functionality
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.cpp
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.hpp
  android/src/main/cpp/jni/alignment/sherpa-onnx-alignment-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentResultMapper.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/alignment/core/AlignmentBridgeUtils.h
  ios/alignment/core/AlignmentBridgeUtils.mm
Due: none

feat(alignment): implement Strategy B for accurate forced CTC alignment
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/engine.ts
  src/alignment/strategyB/cursor.ts
  src/alignment/strategyB/driver.ts
  src/alignment/strategyB/types.ts
  src/alignment/types.ts
Due: lint, types

test(alignment): enhance tests for Strategy B alignment options and cursor functionality
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/strategyB/__tests__/cursor.test.ts
  src/alignment/strategyB/__tests__/driver-options.test.ts
  src/alignment/strategyB/__tests__/driver-pipeline.test.ts
  src/alignment/strategyB/__tests__/driver-progress.test.ts
  src/alignment/strategyB/__tests__/driver-stuck.test.ts
  src/alignment/strategyB/__tests__/native-spec.test.ts
Due: lint, types

feat(alignment): enhance error handling and PCM slice management
  android/src/main/cpp/jni/alignment/sherpa-onnx-alignment-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentErrorCodes.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentOptionParsers.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/alignment/core/AlignmentBridgeUtils.h
  ios/alignment/core/AlignmentBridgeUtils.mm
Due: none

feat(alignment): enhance alignment methods with new PCM handling and error codes
  src/NativeSherpaOnnx.ts
  src/alignment/strategyA/driver.ts
  src/alignment/strategyB/driver.ts
  src/alignment/types.ts
Due: lint, types

test(alignment): add comprehensive tests for native bridge error mapping and slice calls
  src/alignment/__tests__/native-bridge-error-mapping.test.ts
  src/alignment/__tests__/native-bridge-slice-call.test.ts
  src/alignment/__tests__/native-spec-shape.test.ts
  src/alignment/strategyA/__tests__/driver-coverage.test.ts
  src/alignment/strategyA/__tests__/driver-offset.test.ts
  src/alignment/strategyA/__tests__/driver-options.test.ts
  src/alignment/strategyA/__tests__/driver-pipeline.test.ts
  src/alignment/strategyA/__tests__/missing-timestamps.test.ts
  src/alignment/strategyB/__tests__/driver-pipeline.test.ts
Due: lint, types

test(alignment): add tests for error propagation and alignment validation
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/__tests__/error-codes-catalog.test.ts
  src/alignment/__tests__/legacy-import-guard.test.ts
  src/alignment/__tests__/public-surface-snapshot.test.ts
  src/alignment/linker/__tests__/runLinker.test.ts
  src/alignment/strategyA/__tests__/driver-options.test.ts
  src/alignment/strategyB/__tests__/driver-options.test.ts
Due: lint, types

feat(example-timestamp): enhance subtitle mode options and alignment logic
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
Due: lint, types, types-example

docs(alignment): introduce AlignmentEngine and update alignment methods
  docs/alignment.md
  docs/migration/alignment/accurate-vad-segmentation-high-level-plan.md
  docs/migration/alignment/alignment-public-modes-plan.md
  docs/migration/alignment/alignment_migration_overview.md
  docs/migration/alignment/sub-01-public-api-contract.md
  docs/migration/alignment/sub-02-linker-path3-core.md
  docs/migration/alignment/sub-03-accurate-strategy-a-integration.md
  docs/migration/alignment/sub-04-accurate-strategy-b-integration.md
  docs/migration/alignment/sub-05-native-bridge-and-platform-parity.md
  docs/migration/alignment/sub-06-tests-and-quality-gates.md
  docs/migration/alignment/sub-07-docs-example-and-cutover.md
Due: none

chore(rename): update terminology and enhance clarity in alignment strategies
  docs/alignment.md
  docs/migration/alignment/alignment-asr-mediated-ts-example.md
  docs/migration/alignment/alignment-public-modes-plan.md
  docs/migration/alignment/alignment_migration_overview.md
  docs/migration/alignment/sub-01-public-api-contract.md
  docs/migration/alignment/sub-02-linker-path3-core.md
  docs/migration/alignment/sub-03-accurate-asr-mediated-integration.md
  docs/migration/alignment/sub-04-accurate-chunked-forced-ctc-integration.md
  docs/migration/alignment/sub-05-native-bridge-and-platform-parity.md
  docs/migration/alignment/sub-06-tests-and-quality-gates.md
  docs/migration/alignment/sub-07-docs-example-and-cutover.md
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  src/NativeSherpaOnnx.ts
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/__tests__/native-bridge-error-mapping.test.ts
  src/alignment/__tests__/native-bridge-slice-call.test.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/asrMediated/__tests__/driver-coverage.test.ts
  src/alignment/asrMediated/__tests__/driver-offset.test.ts
  src/alignment/asrMediated/__tests__/driver-options.test.ts
  src/alignment/asrMediated/__tests__/driver-pipeline.test.ts
  src/alignment/asrMediated/__tests__/missing-timestamps.test.ts
  src/alignment/asrMediated/driver.ts
  src/alignment/asrMediated/types.ts
  src/alignment/chunkedForcedCtc/__tests__/cursor.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-options.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-progress.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-stuck.test.ts
  src/alignment/chunkedForcedCtc/__tests__/native-spec.test.ts
  src/alignment/chunkedForcedCtc/cursor.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/alignment/chunkedForcedCtc/types.ts
Due: lint, types, types-example

feat(alignment): integrate segment linking in alignment results
  src/alignment/asrMediated/driver.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/alignment/types.ts
Due: lint, types

test(alignment): add segment linking mocks and enhance driver tests
  src/alignment/__tests__/native-bridge-error-mapping.test.ts
  src/alignment/__tests__/native-bridge-slice-call.test.ts
  src/alignment/asrMediated/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-options.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-progress.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-stuck.test.ts
Due: lint, types

docs(alignment): integrate STT and segmentation into alignment process
  docs/alignment.md
  docs/migration/segmentationEngine/segmentation_engine_overview.md
  docs/migration/segmentationEngine/sub-05-feature-pipeline-migration.md
Due: none

feat(ec-02): enhance segment event handling by adding totalSegments parameter
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentBufferEventBridge.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/audiobuffer/__tests__/segment-events.test.ts
  src/audiobuffer/index.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

docs(cleanup): create cleanup plan
  docs/future-work/segmentation-ec-03-live-text-segment-index-dedup-invariant.md
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  docs/migration/segmentationEngine/sub-06-cleanup-contract-parity.md
Due: none

refactor(ec-08): rename pipelineLiveTextSegment to pipelineLiveTextSegmentAppended across Android, iOS, and TypeScript implementations
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  docs/future-work/segmentation-ec-03-live-text-segment-index-dedup-invariant.md
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  ios/SherpaOnnx.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  src/textbuffer/__tests__/segment-events.test.ts
  src/textbuffer/index.ts
Due: lint, types

refactor(ec-01): rename liveBufferId to segmentBufferId in event handling across Android, iOS, and TypeScript
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentBufferEventBridge.kt
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/audiobuffer/__tests__/segment-events.test.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

feat(ec-04): implement default values for reason, source, and createdAtMs in Speech segments
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/audiobuffer/__tests__/segment-events.test.ts
Due: lint, types

feat(ec-05): implement recursive JSON mapping for payloads in Android
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/JsonToReactUtils.kt
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  src/audiobuffer/__tests__/segment-events.test.ts
Due: lint, types

feat(ec-06): enhance segment annotation handling in speech segments
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/audiobuffer/__tests__/segment-events.test.ts
  src/audiobuffer/index.ts
Due: lint, types

feat(ec-07): implement subscribeLiveTextBufferEvents for dynamic listener management
  docs/audiobuffer-streaming.md
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  docs/textbuffer-streaming.md
  src/textbuffer/__tests__/segment-events.test.ts
  src/textbuffer/index.ts
Due: lint, types

docs(refactor): remove obsolete migration documents for STT and TTS
  docs/migration/stt/stt-audiobuffer-migration.md
  docs/migration/stt/stt-online-guard-implementation-spec.md
  docs/migration/stt/stt-pipeline-buffer-only-api-plan.md
  docs/migration/tts/tts-offline-buffer-pipeline-spec.md
  docs/migration/vad/vad-integration-plan.md
  docs/punctuation/punctuation-offline-streaming-high-level-plan.md
Due: none

fix(segment): remove legacy reason inference and ensure default reason handling for live text segments
  src/segment/__tests__/segment-api.test.ts
  src/segment/index.ts
Due: lint, types

refactor(audio): clarify comments and remove legacy references in LiveEntry and PaLiveEntry
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  ios/audio/pipeline/PaLiveEntry.h
  src/segment/index.ts
  src/segment/utils.ts
  src/stt/index.ts
  src/stt/types.ts
  src/textbuffer/index.ts
Due: lint, types

test(segment): add comprehensive tests for setPartial, appendPartial, and commitSegment functions
  src/segment/__tests__/segment-commit-partial.test.ts
Due: lint, types

feat(segment): implement segmentation validation logic across various modules
  src/alignment/engine.ts
  src/alignment/types.ts
  src/enhancement/orchestrate.ts
  src/enhancement/streaming.ts
  src/punctuation/orchestrate.ts
  src/punctuation/streaming.ts
  src/segment/validation.ts
  src/stt/index.ts
  src/tts/index.ts
  src/tts/orchestrate.ts
  src/tts/streaming.ts
Due: lint, types

test(segment): add validation tests for segmentation mode in alignment engine
  src/alignment/__tests__/engine-options-validation.test.ts
  src/segment/__tests__/segment-link-map.test.ts
  src/segment/__tests__/segmentation-engine-continuous-frames.test.ts
  src/segment/__tests__/segmentation-engine-punctuation.test.ts
  src/tts/__tests__/synthesize-mode2-linkmap.test.ts
  src/tts/__tests__/synthesize-mode2-segmented.test.ts
Due: lint, types

docs(cleanup): update README and migration documents for feature support and alignment changes
  README.md
  docs/internal/sdk-feature-support-matrix.md
  docs/migration/alignment/alignment-asr-mediated-ts-example.md
  docs/migration/segmentationEngine/sdk-feature-support-matrix.md
  docs/migration/segmentationEngine/sub-06-02-event-contract-parity-tracking.md
  docs/migration/segmentationEngine/sub-06-cleanup-contract-parity.md
  docs/stt-offline.md
Due: none

docs(rework): prepare doc rework structure
  .gitignore
  docs/alignment-offline.md
  docs/migration/docs/doc-rework-high-level-plan.md
  docs/tts-streaming-incremental.md
Due: none

fix(errors): enhance offline OOM error messages across multiple modules
  android/src/main/java/com/sherpaonnx/errors/OfflineOomError.kt
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
Due: none

docs(segmentation;tts;stt;enhancement): enhance documentation for segmentation engine and memory management
  README.md
  docs/README.md
  docs/alignment-offline.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/memory-and-models.md
  docs/migration/docs/doc-rework-high-level-plan.md
  docs/pcm-player.md
  docs/segmentation-engine.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/tts-streaming.md
  docs/vad-streaming.md
Due: none

docs(punctuation;segmentbuffer;textbuffer): enhance documentation for offline and streaming punctuation
  docs/README.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
  docs/segmentbuffer-offline.md
  docs/segmentbuffer-streaming.md
  docs/textbuffer-offline.md
  docs/textbuffer-streaming.md
Due: none

docs(rework): enhance documentation for pipeline composition and feature integrations
  README.md
  docs/KNOWN_ISSUES.md
  docs/README.md
  docs/alignment-offline.md
  docs/audio-conversion.md
  docs/audio-session.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/diarization.md
  docs/download-manager.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/execution-providers.md
  docs/extraction.md
  docs/feature-pipelines.md
  docs/fileio.md
  docs/hotwords.md
  docs/migration/docs/example-readme-rework-cursor-prompt.md
  docs/migration/docs/readme-rework-cursor-prompt.md
  docs/model-languages.md
  docs/model-setup.md
  docs/pcm-player.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
  docs/separation.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/tts-streaming.md
  docs/vad-streaming.md
  example/README.md
Due: none

test(fix): update test cases to include empty object parameter for populateOfflineTextBufferIfEmpty calls
  src/punctuation/__tests__/punctuation-segmented.test.ts
  src/stt/__tests__/transcribe-segmented.test.ts
Due: lint, types

feat(example-homescreen): add Segmentation Showcase screen and update HomeScreen layout
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
Due: lint, types, types-example

feat(navigation): add SegmentationShowcase type and update feature identifiers
  example/src/types/navigation.ts
  src/punctuation/offline.ts
  src/segment/index.ts
  src/stt/index.ts
Due: lint, types, types-example

feat(segmentation-screen): add Segmentation Showcase screen and styles
  example/src/screens/punctuation-streaming/PunctuationStreamingScreen.tsx
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.styles.ts
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
Due: lint, types, types-example
