Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

refactor(PcmLiveStream): simplify startPcmLiveStream method by removing option parsing and integrating with SpecStartPcmLiveStreamOptions
  ios/SherpaOnnx+PcmLiveStream.mm
Due: none

feat(tts): enhance TTS initialization logging and error handling, including detailed error messages for model detection and instance creation failures
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-tts.cpp
  ios/SherpaOnnx+TTS.mm
  ios/model_detect/sherpa-onnx-model-detect-tts.mm
  ios/tts/sherpa-onnx-tts-wrapper.h
  ios/tts/sherpa-onnx-tts-wrapper.mm
  src/download/validation.ts
  src/utils.ts
Due: lint, types

feat(sherpa-onnx): add iOS build script and update framework tagging for sherpa-onnx integration
  scripts/setup-ios-framework.sh
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx_ios.sh
  third_party/sherpa-onnx-prebuilt/issue-tts-espeak-ng-path-length.md
Due: none

chore(.gitignore): update ignore rules for sherpa-onnx prebuilt files to include necessary scripts and documentation
  .gitignore
Due: none

docs(README, model-setup): clarify XCFramework versioning format in README and add TTS error handling note in model-setup documentation
  README.md
  docs/model-setup.md
Due: none

ci(framework): update iOS framework build script to enhance versioning and error handling for sherpa-onnx integration
  .github/workflows/framework-sherpa-onnx-ios-framework.yml
Due: none

chore(scripts): improve backward compatibility handling for sherpa-onnx versioning and patch espeak-ng build script for long path support
  scripts/setup-ios-framework.sh
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
Due: none

chore(sherpa-onnx): update Android release tag to include version suffix for clarity
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
Due: none

ci(workflows): disable local cache in Android build workflows to prevent linking errors
  .github/workflows/build-ffmpeg-android-release.yml
  .github/workflows/build-onnxruntime-android-release.yml
  .github/workflows/build-sherpa-onnx-android-release.yml
  .github/workflows/sdk-android.yml
  .github/workflows/test-sdk-integration.yml
Due: none

fix(tts): improve error handling for reference audio in Zipvoice and Pocket TTS, ensuring non-empty referenceText and clarifying requirements for voice cloning
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

fix(options): set model specific options for voice cloning models
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/types.ts
Due: lint, types

docs(tts): clarify voice cloning requirements for Zipvoice and Pocket, specifying reference audio and text conditions for Android
  README.md
  docs/tts-streaming.md
  docs/tts.md
Due: none

feat(example): enhance TTSScreen with new state variables and debounced parameter updates for TTS model options
  example/src/screens/tts/TTSScreen.tsx
  example/tsconfig.json
Due: lint, types, types-example

feat(decode_audio): add method to decode audio files to float samples with target sample rate in SherpaOnnx
  ios/SherpaOnnx.mm
  ios/SherpaOnnxAudioConvert.h
  ios/SherpaOnnxAudioConvert.mm
Due: none

feat(decode_audio): implement decodeAudioFileToFloatSamples method in SherpaOnnxModule for audio decoding to float samples with target sample rate
  android/src/main/cpp/jni/audio/sherpa-onnx-audio-convert-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

feat(decode_audio): add decodeAudioFileToFloatSamples function to decode audio files to mono float samples with optional resampling
  src/NativeSherpaOnnx.ts
  src/audio/index.ts
Due: lint, types

docs(audio-conversion): update audio conversion documentation to include FFmpeg dependency for iOS and add details for decodeAudioFileToFloatSamples function
  .gitignore
  android/build.gradle
  android/src/main/cpp/CMakeLists.txt
  docs/audio-conversion.md
  docs/disable-ffmpeg.md
  docs/pcm-live-stream.md
Due: none

refactor(example): replace readWavToFloatSamples with decodeAudioFileToFloatSamples for improved audio decoding and update error message for clarity
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(ios): implement voice cloning support for Zipvoice and Pocket models, including validation for reference audio and text requirements
  ios/SherpaOnnx+TTS.mm
  ios/tts/sherpa-onnx-tts-wrapper.h
  ios/tts/sherpa-onnx-tts-wrapper.mm
Due: none

docs(tts): update voice cloning documentation to clarify requirements for iOS and Android, specifying Zipvoice and Pocket usage
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/types.ts
Due: lint, types

docs(tts): update voice cloning documentation to reflect support for iOS and Android, clarifying reference audio requirements for native playback
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-helper.cpp
  docs/audio-conversion.md
  docs/execution-providers.md
  docs/extraction.md
  docs/pcm-live-stream.md
  docs/stt-streaming.md
  docs/stt.md
  docs/tts-streaming.md
  docs/tts.md
  src/download/types.ts
Due: lint, types

fix(audio): update swr_convert input handling to use extended_data for improved audio conversion accuracy
  android/src/main/cpp/jni/audio/sherpa-onnx-audio-convert-jni.cpp
Due: none

feat(dither): add dither parameter to STT configuration for improved audio processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxOnlineSttHelper.kt
  ios/SherpaOnnx+OnlineSTT.mm
  ios/online_stt/sherpa-onnx-online-stt-wrapper.h
  ios/online_stt/sherpa-onnx-online-stt-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
Due: lint, types

fix(audio): enhance swr_convert input handling in decodeAudioFileToFloatMono for improved audio conversion accuracy
  ios/SherpaOnnxAudioConvert.mm
  ios/online_stt/sherpa-onnx-online-stt-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/stt/streamingTypes.ts
  src/stt/types.ts
Due: lint, types

docs(dither): update dither parameter description for clarity and platform-specific behavior
  docs/stt-streaming.md
  docs/stt.md
Due: none

refactor(android): enhance prebuilt download logic and update documentation for FFmpeg and libarchive integration
  android/build.gradle
  android/prebuilt-download.gradle
  android/src/main/cpp/CMakeLists.txt
  third_party/ffmpeg_prebuilt/README.md
  third_party/ffmpeg_prebuilt/copy_prebuilts_to_sdk.js
  third_party/libarchive_prebuilt/README.md
  third_party/libarchive_prebuilt/copy_prebuilts_to_sdk.js
  third_party/sherpa-onnx-prebuilt/README.md
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
  third_party/sherpa-onnx-prebuilt/copy_prebuilts_to_sdk.js
  third_party/shine_prebuilt/README.md
Due: lint, types

docs(tts): add investigation notes and product decisions for Pocket TTS and EOS issues, detailing upstream logic bug and cross-platform discrepancies
  docs/github-issue-pocket-tts-eos-frame-zero.md
Due: none

docs(tts): add KNOWN_ISSUES.md for Pocket TTS, detailing EOS challenges and cross-platform discrepancies
  README.md
  android/prebuilt-download.gradle
  docs/KNOWN_ISSUES.md
  docs/github-issue-pocket-tts-eos-frame-zero.md
Due: none

fix(tts): update Zipvoice requirements to enforce lexicon presence and clarify dataDir usage in TTS model validation
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-validate-tts.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  ios/model_detect/sherpa-onnx-model-detect-tts.mm
  ios/model_detect/sherpa-onnx-validate-tts.mm
Due: none

docs(tts): clarify Zipvoice requirements by specifying lexicon file formats and dataDir usage in TTS model validation
  docs/tts.md
Due: none

docs(tts): update Pocket TTS and Zipvoice descriptions to clarify voice cloning support on iOS and Android, and specify limitations for streaming TTS
  README.md
Due: none

chore(pinning): update sherpa-onnx version to 1.12.31 in prebuilt versions and release tags
  android/prebuilt-versions.gradle
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
Due: none

refactor(zipvoice): remove Zipvoice TTS wrapper and related JNI implementation; update CMakeLists.txt to reflect changes and improve warning messages
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/tts/sherpa-onnx-tts-zipvoice-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  android/src/main/java/com/sherpaonnx/ZipvoiceTtsWrapper.kt
Due: none

docs(tts): update TTS API comparison to reflect Kotlin-API enhancements for Zipvoice and clarify streaming progress limitations with C-API
  docs/TTS_API_COMPARISON.md
Due: none

docs(tts): enhance Zipvoice description to detail voice cloning capabilities on Android, including Kotlin API usage and default parameters
  README.md
Due: none

refactor(prebuilt-download): enhance logging for native library resolution process, clarifying source types and update triggers for sherpa-onnx, FFmpeg, and libarchive
  android/prebuilt-download.gradle
Due: none

docs(readme): add section for bundled sherpa-onnx version with platform-specific details
  README.md
Due: none

fix(tts): mark ttsInitState as volatile in TtsEngineInstance for thread safety
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

fix(download): implement recursive directory removal for native asset extraction and model deletion
  src/download/downloadTask.ts
  src/download/localModels.ts
  src/download/modelExtraction.ts
  src/download/paths.ts
  src/download/validation.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
