Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

chore: release 0.1.0
  package.json
Due: none

chore(submodule): add updated submodule for sherpa-onnx
  .gitmodules
Due: none

style(prettier): streamline whitespace and improve logging for local and public registry switching
  scripts/switch-registry.js
Due: lint, types

feat(ts_tts): implement Text-to-Speech methods and types for model initialization and speech generation
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

feat(android_tts): implement Text-to-Speech functionality with JNI integration
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

feat(ios_tts): add Text-to-Speech wrapper and methods for initialization, generation, and resource management
  ios/SherpaOnnx.mm
  ios/sherpa-onnx-wrapper.h
  ios/sherpa-onnx-wrapper.mm
Due: none

docs(tts): Add support for Text-to-Speech (TTS) models and update README
  README.md
  STT_MODEL_SETUP.md
  TTS_MODEL_SETUP.md
Due: none

refactor(example_app): changed layout to support current and future sherpa-onnx features
  .gitignore
  README.md
  example/package.json
  example/src/App.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/diarization/DiarizationScreen.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/screens/vad/VADScreen.tsx
  example/src/types/navigation.ts
  package-lock.json
  src/tts/index.ts
  yarn.lock
Due: lint, types, types-example

feat(example_app): integrate audio file selection and playback functionality with Document Picker
  example/package.json
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  package.json
  scripts/setup-assets.js
  yarn.lock
Due: lint, types, types-example

refactor(naming_convention): refactor STT wrapper and JNI methods for improved clarity and functionality to follow native<Feature><Action> convention
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  ios/sherpa-onnx-wrapper.h
  ios/sherpa-onnx-wrapper.mm
Due: none

feat(initialization): update STT and TTS initialization to return success status and detected models
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/src/screens/stt/STTScreen.tsx
  ios/SherpaOnnx.mm
  ios/sherpa-onnx-wrapper.h
  ios/sherpa-onnx-wrapper.mm
  package-lock.json
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/tts/index.ts
Due: lint, types, types-example

feat(example_app): implement Text-to-Speech functionality with model initialization, speech generation, and error handling
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(jni): enhance STT and TTS initialization with detailed logging and error handling
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
Due: none

refactor(jni): enhance error handling and logging in STT and TTS initialization methods
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
Due: none

fix(jni): correct method call for adding model to detected models list in TTS initialization
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
Due: none

feat(auto): add listAssetModels function to retrieve model folders from assets/models directory
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/index.tsx
  src/utils.ts
Due: lint, types

refactor(index): improve comments for type and utility exports
  src/index.tsx
Due: lint, types

feat(auto): enhance listAssetModels to return model hints and improve model type inference
  README.md
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/utils.ts
Due: lint, types

feat(example_app): implement automatic model loading
  example/src/modelConfig.ts
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

fix(auto_init): prioritize CTC model detection over Paraformer in model initialization
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
  ios/sherpa-onnx-wrapper.mm
Due: none

feat(audio_to_file): add functionality to save TTS audio to WAV files and share audio files
  README.md
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  ios/sherpa-onnx-wrapper.h
  ios/sherpa-onnx-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
Due: lint, types

feat(example_app): implement audio saving, playback, and sharing functionality
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/xml/file_paths.xml
  example/package.json
  example/src/screens/tts/TTSScreen.tsx
  yarn.lock
Due: lint, types, types-example

feat(home_screen): mark Text-to-Speech feature as implemented
  example/src/screens/home/HomeScreen.tsx
Due: lint, types, types-example

fix(kokoro): add error logging for missing data directory and lexicon file in Kokoro model initialization
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
Due: none

fix(kitten): enhance model detection by differentiating between Kokoro and Kitten based on directory name
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
Due: none

docs(tts_model_setup): add optional model.json metadata and language-specific files for improved TTS configuration
  TTS_MODEL_SETUP.md
Due: none

docs(models): add README files for various TTS models including Kokoro, Kitten, Matcha, and VITS Piper
  example/android/app/src/main/assets/models/kokoro-us/README.md
  example/android/app/src/main/assets/models/kokoro-us/dict/README.md
  example/android/app/src/main/assets/models/kokoro-zh/README.md
  example/android/app/src/main/assets/models/kokoro-zh/dict/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-kitten-nano-en-v0_1-fp16/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-matcha-icefall-en_US-ljspeech/README.md
  example/android/app/src/main/assets/models/sherpa-onnx-vits-piper-en_US-libritts_r-medium/README.md
Due: none

feat(streaming): implement streaming TTS generation with cancellation support
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/src/screens/tts/TTSScreen.tsx
  ios/SherpaOnnx.h
  ios/SherpaOnnx.mm
  ios/sherpa-onnx-wrapper.h
  ios/sherpa-onnx-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types, types-example

feat(pcm_playback): implement PCM playback for streaming TTS with start, write, and stop functionalities
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/tts.md
  example/src/screens/tts/TTSScreen.tsx
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
Due: lint, types, types-example

docs(streaming_pcm): enhance TTS documentation with streaming and PCM playback examples
  README.md
Due: none

docs(refactor): add own documentation for TTS, STT, and related features; implement model setup guides
  README.md
  docs/STT_MODEL_SETUP.md
  docs/TTS_MODEL_SETUP.md
  docs/diarization.md
  docs/enhancement.md
  docs/separation.md
  docs/stt.md
  docs/tts.md
  docs/tts_features_future.md
  docs/vad.md
  src/NativeSherpaOnnx.ts
Due: lint, types

refactor(wrapper): seperated logic for each feature of sherpa-onnx
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/sherpa-onnx-common.h
  android/src/main/cpp/jni/sherpa-onnx-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/sherpa-onnx-stt-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-stt-wrapper.h
  android/src/main/cpp/jni/sherpa-onnx-tts-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.h
  android/src/main/cpp/jni/sherpa-onnx-wrapper.cpp
  ios/SherpaOnnx+STT.mm
  ios/SherpaOnnx+TTS.mm
  ios/SherpaOnnx.mm
  ios/sherpa-onnx-common.h
  ios/sherpa-onnx-model-detect.h
  ios/sherpa-onnx-model-detect.mm
  ios/sherpa-onnx-stt-wrapper.h
  ios/sherpa-onnx-stt-wrapper.mm
  ios/sherpa-onnx-tts-wrapper.h
  ios/sherpa-onnx-tts-wrapper.mm
  ios/sherpa-onnx-wrapper.h
  ios/sherpa-onnx-wrapper.mm
Due: none

feat(subtitle): add TTS generation with timestamps and subtitles support
  android/src/main/cpp/jni/sherpa-onnx-tts-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/tts_features_future.md
  example/src/screens/tts/TTSScreen.tsx
  ios/SherpaOnnx+TTS.mm
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types, types-example

feat(tts): enhance streaming capabilities with stream ID management and callback safety
  android/src/main/cpp/jni/sherpa-onnx-tts-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.h
Due: none

feat(scaling): add noise and length scale parameters for TTS initialization and updates
  android/src/main/cpp/jni/sherpa-onnx-tts-jni.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/sherpa-onnx-tts-wrapper.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/stt.md
  docs/tts.md
  docs/tts_features_future.md
  example/src/screens/tts/TTSScreen.tsx
  ios/SherpaOnnx+TTS.mm
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types, types-example

refactor(android_native): add SherpaOnnx STT and TTS helper classes for speech processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxCoreHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

feat(example_app): integrate Ionicons for improved iconography across screens
  example/package.json
  example/src/screens/diarization/DiarizationScreen.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/screens/vad/VADScreen.tsx
  yarn.lock
Due: lint, types, types-example

feat(model_detection): enhance TTS model detection logic to prefer specific voice backends based on directory hints
  android/src/main/cpp/jni/sherpa-onnx-model-detect.cpp
Due: none

style(TTSScreen): adjust padding and margin for improved layout consistency
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

ci(android): remove JNI source file check from build workflow
  .github/workflows/android.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
