Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(cpp_init): integrate native error reporting to Firebase Crashlytics in JNI methods for improved error tracking
  android/src/main/cpp/jni/sherpa-onnx-archive-jni.cpp
Due: none

feat(crashlytics): enhance error reporting by adding context attributes for model operations and introducing a native bridge for JNI error logging
  android/src/main/java/com/sherpaonnx/CrashlyticsHelper.kt
  android/src/main/java/com/sherpaonnx/CrashlyticsNativeBridge.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

docs(crashlytics): remove outdated Crashlytics setup documentation from the example app
  example/CRASHLYTICS_SETUP.md
Due: none

chore(dependencies): update Play Asset Delivery and Firebase Crashlytics versions
  android/build.gradle
Due: none

feat(ci): export NDK path to environment variables for improved build configuration
  .github/workflows/sdk-android.yml
Due: none

refactor(build): unify Android build configuration by syncing values from root project
  build.gradle
  example/android/build.gradle
Due: none

ci(ndk): implement setup action for Android NDK and update workflows to use it
  .github/actions/setup-ndk/action.yml
  .github/workflows/app-android-release.yml
  .github/workflows/maven-build.yml
  .github/workflows/sdk-android.yml
Due: none

ci(workflows): update NDK setup to use official action and standardize naming
  .github/actions/setup-ndk/action.yml
  .github/workflows/app-android-release.yml
  .github/workflows/maven-build.yml
  .github/workflows/sdk-android.yml
Due: none

refactor(build): centralize Android build defaults in android-defaults.gradle
  build.gradle
  example/android/build.gradle
  gradle/android-defaults.gradle
Due: none

ci(secret_handling): enhance google-services.json handling in sdk-android workflow to skip execution when secret is not set
  .github/workflows/app-android-release.yml
  .github/workflows/sdk-android.yml
Due: none

refactor(build): move logging of build configuration to the end of build.gradle for clarity
  example/android/build.gradle
Due: none

ci(alias): improve build failure logging in sdk-android workflow and add autolinking CMake support for SherpaOnnxSpec
  .github/workflows/sdk-android.yml
  android/src/main/cpp/CMakeLists.txt
Due: none

ci(build): enhance Android build logging and streamline CMake debug output in sdk-android workflow
  .github/workflows/sdk-android.yml
  android/src/main/cpp/CMakeLists.txt
Due: none

ci(build): improve error handling and logging in Android build process of sdk-android workflow
  .github/workflows/sdk-android.yml
Due: none

ci(build): remove 'clean' step from Android build to prevent CMake failures in sdk-android workflow
  .github/workflows/sdk-android.yml
Due: none

feat(aar): disable manual codegen
  .github/workflows/sdk-android.yml
  android/build.gradle
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  package.json
Due: none

refactor(build): update codegen output paths for standalone AAR builds to use nested directory structure
  android/build.gradle
Due: none

refactor(build): normalize codegen output path for all builds and improve task handling
  android/build.gradle
Due: none

fix(import): add missing NativeSherpaOnnxSpec import to SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

docs(setups): update README and remove outdated documentation; add new Model Setup guide
  README.md
  docs/FFMPEG_INTEGRATION.md
  docs/MODEL_SETUP.md
  docs/PAD.md
  docs/STT_MODEL_SETUP.md
  docs/TTS_MODEL_SETUP.md
  docs/download-integration.md
Due: none

feat(build): add Gradle wrapper script and refactor codegen tasks for improved handling
  .github/workflows/sdk-android.yml
  android/build.gradle
  android/codegen.gradle
  gradlew.bat
Due: none

docs(tts): update TTS API documentation to include source information and new features
  docs/tts.md
Due: none

feat(TtsGenerationOptions): introduce TtsGenerationOptions for enhanced TTS generation features and update model types
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

feat(TtsGenerationOptions): update TTS methods to accept options for enhanced configuration and add new voice model "pocket"
  android/src/main/java/com/sherpaonnx/SherpaOnnxCoreHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

feat(TtsModelDetection): add support for "pocket" TTS model and enhance detection logic with additional file checks
  android/src/main/cpp/jni/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/sherpa-onnx-module-jni.cpp
Due: none

docs(tts): enhance TTS documentation with detailed options for speech generation, voice cloning, and model initialization
  docs/tts.md
Due: none

feat(TTSScreen): enhance ui for TTS generation options
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(cpuInfo): add native module for CPU core count retrieval on Android and iOS
  example/android/app/src/main/java/com/xdcobra/voicelab/CpuInfoModule.kt
  example/android/app/src/main/java/com/xdcobra/voicelab/CpuInfoPackage.kt
  example/android/app/src/main/java/com/xdcobra/voicelab/MainApplication.kt
  example/ios/VoiceLabOfflineTools.xcodeproj/project.pbxproj
  example/ios/VoiceLabOfflineTools/CpuInfo.m
  example/src/cpuInfo.ts
Due: lint, types, types-example

feat(TTSScreen): implement CPU core count retrieval and enhance TTS thread options UI
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

docs(tts): update TTS documentation to reflect feature support with checkmarks and add additional audio format options
  docs/tts.md
Due: none

fix(SherpaOnnxTtsHelper): improve documentation for parseGenerationConfig method to clarify return behavior and options handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

refactor(stt_init): rename methods and update documentation for Speech-to-Text (STT) integration across Android and iOS modules
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/SherpaOnnx+STT.mm
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/utils.ts
Due: lint, types

docs(stt): enhance STT documentation with detailed feature support, new methods, and improved result handling
  docs/stt.md
Due: none

feat(stt): add hotwords support and enhance recognition result structure
  src/stt/types.ts
Due: lint, types

feat(js_bridge): introduce new methods for sample transcription and runtime config updates, enhance STT result structure
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
Due: lint, types

feat(kotlin): add hotwords configuration and new methods for sample transcription and runtime updates
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
Due: none

feat(objc): enhance STT functionality with new recognition result structure, sample transcription methods, and runtime configuration options
  ios/SherpaOnnx+STT.mm
  ios/sherpa-onnx-stt-wrapper.h
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

docs(stt): update README and STT/TTS documentation to reflect breaking changes, new method signatures, and enhanced configuration options
  README.md
  docs/stt.md
  docs/tts.md
Due: none

docs(stt): marked model specific options for later
  docs/stt.md
  example/ios/Podfile
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

feat(stt): add new configuration options for inference threads, provider, rule FSTs, rule FARs, and dither
  src/stt/types.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
