Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(diarization): add shared C++ offline diarization core
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/diarization/agglomerative-clustering.cpp
  android/src/main/cpp/diarization/agglomerative-clustering.h
  android/src/main/cpp/diarization/diarization-session.cpp
  android/src/main/cpp/diarization/diarization-session.h
  android/src/main/cpp/diarization/diarization-types.h
  android/src/main/cpp/diarization/powerset.cpp
  android/src/main/cpp/diarization/powerset.h
  android/src/main/cpp/diarization/pyannote-segmentation-model.cpp
  android/src/main/cpp/diarization/pyannote-segmentation-model.h
  android/src/main/cpp/diarization/sherpa-onnx-diarization-wrapper.cpp
  android/src/main/cpp/diarization/sherpa-onnx-diarization-wrapper.h
  android/src/main/cpp/diarization/speaker-embedding-runner.cpp
  android/src/main/cpp/diarization/speaker-embedding-runner.h
  android/src/main/cpp/diarization/speaker-timeline.cpp
  android/src/main/cpp/diarization/speaker-timeline.h
Due: none

feat(segmentbuffer): accept diarization segment kind
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  example/src/screens/vad/VADScreen.tsx
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types, types-example

feat(diarization): wire Android and iOS offline diarization bridges
  android/src/main/cpp/jni/diarization/sherpa-onnx-diarization-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/diarization/core/DiarizationErrorCodes.kt
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  ios/SherpaOnnx.mm
  ios/diarization/bridge/SherpaOnnx+DiarizationOffline.mm
  ios/diarization/core/DiarizationBridgeState.h
  ios/diarization/core/DiarizationBridgeState.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(diarization): replace placeholders with createDiarization API
  src/diarization/__tests__/createDiarization.test.ts
  src/diarization/diarizationNativeBridge.ts
  src/diarization/index.ts
  src/diarization/types.ts
Due: lint, types

docs: document offline diarization API and supported status
  README.md
  docs/README.md
  docs/diarization-offline.md
  docs/diarization.md
Due: none

test(diarization): add core unit tests and CI workflow
  .github/workflows/test-diarization-core.yml
  .github/workflows/test-model-detect.yml
  test/cpp/CMakeLists.txt
  test/cpp/diarization/diarization_core_test.cpp
  test/fixtures/diarization/README.md
Due: none

feat(example): ship offline diarization demo screen
  example/scripts/model-download-config.json
  example/src/components/ScreenIntroModal.tsx
  example/src/screens/diarization/DiarizationScreen.tsx
  example/src/screens/home/HomeScreen.tsx
Due: lint, types, types-example

feat(speaker-embedding): promote shared C++ runner and manager core
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/diarization/diarization-session.cpp
  android/src/main/cpp/diarization/diarization-session.h
  android/src/main/cpp/diarization/diarization-types.h
  android/src/main/cpp/diarization/speaker-embedding-runner.h
  android/src/main/cpp/speaker-embedding/sherpa-onnx-speaker-embedding-wrapper.cpp
  android/src/main/cpp/speaker-embedding/sherpa-onnx-speaker-embedding-wrapper.h
  android/src/main/cpp/speaker-embedding/speaker-embedding-manager.cpp
  android/src/main/cpp/speaker-embedding/speaker-embedding-manager.h
  android/src/main/cpp/speaker-embedding/speaker-embedding-registry-key.h
  android/src/main/cpp/speaker-embedding/speaker-embedding-runner.cpp
  android/src/main/cpp/speaker-embedding/speaker-embedding-runner.h
  android/src/main/cpp/speaker-embedding/speaker-embedding-types.h
Due: none

refactor(speaker-embedding): drop JS engineCache for C++ registry sharing
  src/speaker-embedding/__tests__/engineCache.test.ts
  src/speaker-embedding/engine.ts
  src/speaker-embedding/engineCache.ts
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/__tests__/labelLiveSegments.test.ts
  src/speaker-identification/index.ts
Due: lint, types

feat(speaker-embedding): wire Android and iOS bridges to shared C++ core
  SherpaOnnx.podspec
  android/src/main/cpp/jni/speaker-embedding/sherpa-onnx-speaker-embedding-jni.cpp
  android/src/main/java/com/sherpaonnx/speakerembedding/core/SpeakerEmbeddingInstances.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  ios/speaker-embedding/native/sherpa-onnx-speaker-embedding-wrapper.h
  ios/speaker-embedding/native/sherpa-onnx-speaker-embedding-wrapper.mm
Due: none

docs(speaker-embedding): record shared migration and SID bridge future work
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/live-overload.md
  docs/internal/speaker-embedding-foundation.md
  docs/internal/speaker-embedding-sharing-verification.md
Due: none

test(speaker-embedding): add registry-key host tests and CI workflow
  .github/workflows/test-model-detect.yml
  .github/workflows/test-speaker-embedding-core.yml
  test/cpp/CMakeLists.txt
  test/cpp/speaker-embedding/speaker_embedding_core_test.cpp
Due: none

feat(speaker-identification): add Android SID offline-live pipeline worker
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/livePipeline/OfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  android/src/main/java/com/sherpaonnx/speakeridentification/facade/SherpaOnnxSpeakerIdentificationLivePipelineHelper.kt
  android/src/main/java/com/sherpaonnx/speakeridentification/pipeline/SpeakerIdentificationOfflineLivePipelineWorker.kt
Due: none

feat(speaker-identification): add iOS SID offline-live pipeline worker
  ios/livePipeline/OfflineLivePipelineWorker.h
  ios/livePipeline/OfflineLivePipelineWorker.mm
  ios/speaker-identification/bridge/SherpaOnnx+SpeakerIdentificationLive.mm
  ios/speaker-identification/pipeline/SpeakerIdentificationOfflineLivePipelineWorker.h
  ios/speaker-identification/pipeline/SpeakerIdentificationOfflineLivePipelineWorker.mm
Due: none

feat(speaker-identification): start native live pipeline from labelLiveSegments
  src/NativeSherpaOnnx.ts
  src/segmentbuffer/index.ts
  src/speaker-identification/live.ts
Due: lint, types

test(speaker-identification): retarget labelLiveSegments for native start
  src/speaker-identification/__tests__/labelLiveSegments.test.ts
Due: lint, types

docs(speaker-identification): mark native SID live Finding 1 done
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/live-overload.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-live.md
Due: none

feat(speaker-embedding): add native range args to offline compute
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(speaker-embedding): pass extract ranges straight to native compute
  src/speaker-embedding/engine.ts
Due: lint, types

test(speaker-embedding): cover native ranged offline extract
  src/speaker-embedding/__tests__/engine.extractFromOfflineAudio.test.ts
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
Due: lint, types

docs(speaker-embedding): mark Finding 2 native range extract done
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/speaker-embedding-foundation.md
Due: none

feat(speaker-embedding): add identifySpeakerOffline combined TM
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(speaker-identification): route identify through identifySpeakerOffline
  src/speaker-identification/index.ts
Due: lint, types

test(speaker-identification): expect combined identifySpeakerOffline
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
Due: lint, types

docs(speaker-embedding): mark Finding 3 combined identify done
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/live-overload.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-offline.md
Due: none

feat(speaker-embedding): add verifySpeakerOffline and unbox compute JNI
  android/src/main/cpp/jni/speaker-embedding/sherpa-onnx-speaker-embedding-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(speaker-identification): route verify through verifySpeakerOffline
  src/speaker-identification/index.ts
Due: lint, types

test(speaker-identification): expect combined verifySpeakerOffline
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
Due: lint, types

docs(speaker-embedding): mark Finding 4 path D done
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/live-overload.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-offline.md
Due: none

feat(speaker-embedding): narrow Android JNI mutex around registry only
  android/src/main/cpp/jni/speaker-embedding/sherpa-onnx-speaker-embedding-jni.cpp
  android/src/main/cpp/speaker-embedding/sherpa-onnx-speaker-embedding-wrapper.cpp
Due: none

docs(speaker-embedding): mark Finding 5 JNI mutex narrowing done
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/live-overload.md
  docs/internal/speaker-embedding-foundation.md
Due: none

docs(speaker-embedding): sync shipped diarization status (Finding 10)
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-offline.md
Due: none

feat(diarization): pin sessions with shared_ptr across process (Finding 6)
  android/src/main/cpp/jni/diarization/sherpa-onnx-diarization-jni.cpp
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/speaker-embedding-foundation.md
  ios/diarization/bridge/SherpaOnnx+DiarizationOffline.mm
  ios/diarization/core/DiarizationBridgeState.h
  ios/diarization/core/DiarizationBridgeState.mm
Due: none

feat(speaker-embedding): narrow iOS SID bridge mutex to registry (Finding 7)
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/speaker-embedding-foundation.md
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  ios/speaker-embedding/core/SpeakerEmbeddingBridgeState.h
  ios/speaker-embedding/core/SpeakerEmbeddingBridgeState.mm
  ios/speaker-identification/bridge/SherpaOnnx+SpeakerIdentificationLive.mm
  ios/speaker-identification/pipeline/SpeakerIdentificationOfflineLivePipelineWorker.h
  ios/speaker-identification/pipeline/SpeakerIdentificationOfflineLivePipelineWorker.mm
Due: none

feat(speaker-identification): enroll via combined enrollSpeakerOffline (Finding 8)
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-offline.md
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  src/NativeSherpaOnnx.ts
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
Due: lint, types

feat(diarization): write segmentsOut natively from diarizeOffline (Finding 9)
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  docs/diarization-offline.md
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/speaker-embedding-foundation.md
  ios/diarization/bridge/SherpaOnnx+DiarizationOffline.mm
  src/NativeSherpaOnnx.ts
  src/diarization/__tests__/createDiarization.test.ts
  src/diarization/index.ts
Due: lint, types

docs(speaker-embedding): retire SID bridge roundtrip future-work plan
  docs/future-work/speaker-embedding-sid-bridge-roundtrips-future-work.md
  docs/internal/live-overload.md
  docs/internal/speaker-embedding-foundation.md
Due: none

fix(speaker-identification): pass null ranges to identify/verify TurboModule
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
Due: lint, types

feat(segment): add PyannoteSegmentationSession for union speech spans
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/diarization/pyannote-segmentation-session.cpp
  android/src/main/cpp/diarization/pyannote-segmentation-session.h
  android/src/main/cpp/diarization/speaker-timeline.cpp
  android/src/main/cpp/diarization/speaker-timeline.h
  android/src/main/cpp/jni/segment/sherpa-onnx-pyannote-segmentation-jni.cpp
  test/cpp/diarization/diarization_core_test.cpp
Due: none

feat(segment): wire speech_pyannote_segmentation offline evaluator
  android/src/main/java/com/sherpaonnx/segment/core/PyannoteSegmentationRuntime.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  example/src/components/SegmentationPolicyControls.tsx
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/segment/__tests__/__snapshots__/segmentation-engine-vad.test.ts.snap
  src/segment/__tests__/resolveSpeechPyannoteModelForPolicy.test.ts
  src/segment/__tests__/segmentation-engine-pyannote.test.ts
  src/segment/engine-types.ts
  src/segment/index.ts
  src/segment/resolveSpeechPyannoteModelForPolicy.ts
  src/segment/validation.ts
  src/segmentbuffer/__tests__/speech-payload-pyannote.test.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types, types-example
