Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor(android): update build.gradle for consistent property assignment
  android/build.gradle
  example/android/app/build.gradle
Due: none

feat(android): implement Play Asset Delivery functionality in SherpaOnnx module
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackDelivery.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackLocator.kt
  android/src/main/java/com/sherpaonnx/assets/facade/SherpaOnnxAssetHelper.kt
  src/NativeSherpaOnnx.ts
  src/pad/assetPack.ts
  src/utils.ts
Due: lint, types

feat(ios): implement On-Demand Resource (ODR) support in SherpaOnnx module
  ios/SherpaOnnx.mm
  ios/assets/bridge/SherpaOnnx+OdrDelivery.mm
  ios/assets/core/OdrDelivery.h
  ios/assets/core/OdrDelivery.mm
  src/NativeSherpaOnnx.ts
  src/pad/assetPack.ts
Due: lint, types

chore(version): bump version to 0.4.3 in package.json
  package.json
Due: none

docs(pad-odr): update README and related documentation for on-demand model delivery
  README.md
  docs/README.md
  docs/extraction.md
  docs/fileio.md
  docs/model-detect.md
  docs/model-setup.md
  docs/on-demand-model-delivery.md
  src/extraction/index.ts
  src/pad/assetPack.ts
  src/utils.ts
Due: lint, types

docs(renaming): update references to on-demand model delivery documentation
  README.md
  docs/README.md
  docs/extraction.md
  docs/fileio.md
  docs/model-delivery-pad-odr.md
  docs/model-detect.md
  docs/model-setup.md
  src/extraction/index.ts
  src/pad/assetPack.ts
  src/utils.ts
Due: lint, types

feat(asset-delivery): add ensureAssetPackReady method for improved asset management
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackDelivery.kt
  android/src/main/java/com/sherpaonnx/assets/facade/SherpaOnnxAssetHelper.kt
  docs/extraction.md
  docs/model-delivery-pad-odr.md
  docs/model-setup.md
  ios/SherpaOnnx.mm
  ios/assets/bridge/SherpaOnnx+OdrDelivery.mm
  ios/assets/core/OdrDelivery.h
  ios/assets/core/OdrDelivery.mm
  src/NativeSherpaOnnx.ts
  src/pad/assetPack.ts
  src/utils.ts
Due: lint, types

feat(asset-delivery): refactor asset path listing and introduce ODR snapshot functionality
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackLocator.kt
  android/src/main/java/com/sherpaonnx/assets/facade/SherpaOnnxAssetHelper.kt
  android/src/main/java/com/sherpaonnx/extraction/ApkAssetPathLister.kt
  docs/extraction.md
  docs/model-delivery-pad-odr.md
  docs/model-setup.md
  ios/SherpaOnnx.mm
  ios/assets/bridge/SherpaOnnx+OdrDelivery.mm
  ios/assets/core/OdrDelivery.h
  ios/assets/core/OdrDelivery.mm
  src/NativeSherpaOnnx.ts
  src/alignment/asrMediated/driver.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/extraction/index.ts
  src/pad/assetPack.ts
  src/pad/odrDiagnostics.ts
  src/pad/shipContent.ts
  src/utils.ts
Due: lint, types

refactor(odr): remove deprecated discoverShipContentAtPack function and enhance ODR path resolution
  docs/model-delivery-pad-odr.md
  ios/assets/core/OdrDelivery.h
  ios/assets/core/OdrDelivery.mm
  src/pad/shipContent.ts
  src/utils.ts
Due: lint, types

feat(pad): enhance asset pack delivery diagnostics and logging
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackDelivery.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackLocator.kt
  ios/assets/core/OdrDelivery.mm
  src/pad/assetPack.ts
  src/pad/odrDiagnostics.ts
  src/pad/padDiagnostics.ts
Due: lint, types

feat(odr): enhance diagnostics and logging for asset pack path resolution
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackLocator.kt
  docs/model-delivery-pad-odr.md
  ios/assets/core/OdrDelivery.mm
  src/pad/odrDiagnostics.ts
Due: lint, types

chore(vad): add new runtime options types for VAD configuration
  src/vad/index.ts
Due: lint, types

fix(licenses): update ASR model license status files for Android and iOS
  android/src/main/assets/model_licenses/asr-models-license-status.csv
  ios/Resources/model_licenses/asr-models-license-status.csv
  scripts/ci/update_model_license_csv.sh
Due: none

fix(licenses): update TTS model license statuses for Android and iOS
  android/src/main/assets/model_licenses/tts-models-license-status.csv
  ios/Resources/model_licenses/tts-models-license-status.csv
Due: none

feat(validation): implement custom model path validation and requirements retrieval
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-validate-alignment.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-validate-alignment.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom-types.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.h
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-validate-enhancement.cpp
  android/src/main/cpp/jni/model_detect/enhancement/sherpa-onnx-validate-enhancement.h
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-validate-punctuation.cpp
  android/src/main/cpp/jni/model_detect/punctuation/sherpa-onnx-validate-punctuation.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-stt-wrapper.h
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-stt.h
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-validate-tts.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-validate-tts.h
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-validate-vad.cpp
  android/src/main/cpp/jni/model_detect/vad/sherpa-onnx-validate-vad.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/detect/ModelPathValidationNative.kt
  ios/detect/bridge/SherpaOnnx+ModelDetect.mm
  ios/detect/native/sherpa-onnx-validate-custom-bridge.h
  ios/detect/native/sherpa-onnx-validate-custom-bridge.mm
Due: none

feat(stt-custom-detect): enhance initialization options for custom models
  android/src/main/java/com/sherpaonnx/stt/config/SttInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxSttHelper.kt
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/native/sherpa-onnx-stt-wrapper.h
  ios/stt/native/sherpa-onnx-stt-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/detect/index.ts
  src/detect/resolveModelInput.ts
  src/detect/validateCustomModelPaths.ts
  src/stt/customConfig.ts
  src/stt/index.ts
  src/stt/sttNativeBridge.ts
  src/stt/types.ts
Due: lint, types

test(stt-custom-detect): add unit tests for custom model path validation and configuration
  src/stt/__tests__/customConfig.test.ts
  src/stt/__tests__/sttNativeBridge.test.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

feat(example): add components for STT model initialization
  example/src/components/modelInit/FileSourceSlotPicker.tsx
  example/src/components/modelInit/InitModeSelector.tsx
  example/src/components/modelInit/ModelFolderGrid.tsx
  example/src/components/modelInit/SttCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/hooks/useSttModelCatalog.ts
  example/src/screens/stt/STTScreen.tsx
  example/src/utils/sttCustomInitFill.ts
  example/src/utils/sttCustomInitLabels.ts
  example/src/utils/sttModelCatalog.ts
Due: lint, types, types-example

fix(stt): update initialization options and model paths
  SherpaOnnx.podspec
  ios/stt/bridge/SherpaOnnx+STT.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

refactor(stt): streamline model file source resolution
  src/stt/customConfig.ts
  src/stt/sttNativeBridge.ts
Due: lint, types

feat(stt): add online STT validation and custom initialization support
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-online-stt.cpp
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-online-stt.h
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/stt/config/OnlineSttInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/stt/core/OnlineSttRecognizerConfigFactory.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  docs/model-detect.md
  docs/model-setup.md
  docs/sdk-init-bridge.md
  docs/stt-offline.md
  docs/stt-streaming.md
  example/src/components/modelInit/StreamingSttCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
  example/src/utils/streamingCustomInitFill.ts
  example/src/utils/streamingCustomInitLabels.ts
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/stt/native/sherpa-onnx-online-stt-wrapper.h
  ios/stt/native/sherpa-onnx-online-stt-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/detect/validateCustomModelPaths.ts
  src/stt/__tests__/streamingCustomConfig.test.ts
  src/stt/__tests__/sttNativeBridge.test.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/stt/streamingCustomConfig.ts
  src/stt/streamingTypes.ts
  src/stt/sttNativeBridge.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types, types-example

feat(custom-shared-config): centralize custom init resolver and init-mode parsing
  android/src/main/java/com/sherpaonnx/bridge/InitModeModelPathsParser.kt
  android/src/main/java/com/sherpaonnx/stt/config/OnlineSttInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/stt/config/SttInitOptionsParser.kt
  src/detect/__tests__/customConfigResolver.test.ts
  src/detect/customConfigResolver.ts
  src/detect/index.ts
  src/nativeBridge/fileSourceBridgeHelpers.ts
  src/stt/customConfig.ts
  src/stt/streamingCustomConfig.ts
  src/stt/sttNativeBridge.ts
Due: lint, types

feat(tts): enhance TTS initialization with custom mode support
  android/src/main/java/com/sherpaonnx/tts/config/TtsInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsInitializationService.kt
  example/src/screens/tts-streaming/StreamingTTSScreen.tsx
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  ios/tts/native/sherpa-onnx-tts-wrapper.h
  ios/tts/native/sherpa-onnx-tts-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/tts/__tests__/customConfig.test.ts
  src/tts/__tests__/ttsNativeBridge.test.ts
  src/tts/customConfig.ts
  src/tts/index.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
Due: lint, types, types-example

feat(tts-example): implement custom initialization form and enhance TTS setup
  docs/model-detect.md
  docs/model-setup.md
  docs/sdk-init-bridge.md
  docs/tts-offline.md
  example/src/components/modelInit/TtsCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/tts/OfflineTTSScreen.styles.ts
  example/src/screens/tts/OfflineTTSScreen.tsx
  example/src/utils/ttsCustomInitFill.ts
  example/src/utils/ttsCustomInitLabels.ts
Due: lint, types, types-example

feat(vad): implement custom initialization support and enhance VAD setup
  android/src/main/java/com/sherpaonnx/vad/config/VadInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  docs/model-detect.md
  docs/model-setup.md
  docs/sdk-init-bridge.md
  docs/vad-streaming.md
  example/src/components/modelInit/VadCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/vad/VADScreen.tsx
  example/src/utils/vadCustomInitFill.ts
  example/src/utils/vadCustomInitLabels.ts
  ios/vad/bridge/SherpaOnnx+VAD.mm
  src/NativeSherpaOnnx.ts
  src/nativeBridge/initBridgeTypes.ts
  src/vad/__tests__/customConfig.test.ts
  src/vad/__tests__/vadNativeBridge.test.ts
  src/vad/customConfig.ts
  src/vad/engine.ts
  src/vad/index.ts
  src/vad/types.ts
  src/vad/vadNativeBridge.ts
Due: lint, types, types-example

feat(enhancement): implement custom initialization support for enhancement models
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/enhancement/config/EnhancementInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/model-detect.md
  docs/model-setup.md
  docs/sdk-init-bridge.md
  example/src/components/modelInit/EnhancementCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/utils/enhancementCustomInitFill.ts
  example/src/utils/enhancementCustomInitLabels.ts
  ios/enhancement/bridge/SherpaOnnx+EnhancementDetect.mm
  ios/enhancement/sherpa-onnx-enhancement-wrapper.h
  ios/enhancement/sherpa-onnx-enhancement-wrapper.mm
  src/NativeSherpaOnnx.ts
  src/enhancement/__tests__/customConfig.test.ts
  src/enhancement/__tests__/enhance-live-offline.test.ts
  src/enhancement/__tests__/enhancementNativeBridge.test.ts
  src/enhancement/customConfig.ts
  src/enhancement/enhancementNativeBridge.ts
  src/enhancement/index.ts
  src/enhancement/streaming.ts
  src/enhancement/types.ts
  src/nativeBridge/initBridgeTypes.ts
Due: lint, types, types-example

feat(punctuation-custom-init): implement custom initialization support for punctuation models
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/punctuation/config/PunctuationInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxOnlinePunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  docs/model-detect.md
  docs/model-setup.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
  docs/sdk-init-bridge.md
  example/src/components/modelInit/PunctuationOfflineCustomInitForm.tsx
  example/src/components/modelInit/PunctuationStreamingCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/punctuation-streaming/PunctuationStreamingScreen.tsx
  example/src/screens/punctuation/PunctuationScreen.tsx
  example/src/utils/punctuationCustomInitFill.ts
  example/src/utils/punctuationCustomInitLabels.ts
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/punctuation/bridge/SherpaOnnx+OnlinePunctuation.mm
  src/NativeSherpaOnnx.ts
  src/nativeBridge/initBridgeTypes.ts
  src/punctuation/__tests__/customConfig.test.ts
  src/punctuation/__tests__/punctuationNativeBridge.test.ts
  src/punctuation/__tests__/streaming-punctuation.test.ts
  src/punctuation/customConfig.ts
  src/punctuation/index.ts
  src/punctuation/offline.ts
  src/punctuation/punctuationNativeBridge.ts
  src/punctuation/streaming.ts
  src/punctuation/streamingTypes.ts
  src/punctuation/types.ts
Due: lint, types, types-example

feat(alignment-custom-model-path): implement custom model path support for accurate alignment
  docs/alignment-offline.md
  docs/model-detect.md
  docs/model-setup.md
  example/src/components/modelInit/AlignmentCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/utils/alignmentCustomInitFill.ts
  example/src/utils/alignmentCustomInitLabels.ts
  src/alignment/__tests__/customConfig.test.ts
  src/alignment/__tests__/engine-no-freestanding-export.test.ts
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/__tests__/native-bridge-error-mapping.test.ts
  src/alignment/__tests__/native-bridge-slice-call.test.ts
  src/alignment/__tests__/public-surface-snapshot.test.ts
  src/alignment/__tests__/resolveAlignmentOnnxPath.test.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/asrMediated/__tests__/driver-coverage.test.ts
  src/alignment/asrMediated/__tests__/driver-offset.test.ts
  src/alignment/asrMediated/__tests__/driver-options.test.ts
  src/alignment/asrMediated/__tests__/driver-pipeline.test.ts
  src/alignment/asrMediated/__tests__/missing-timestamps.test.ts
  src/alignment/asrMediated/driver.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-options.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-progress.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-stuck.test.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/alignment/customConfig.ts
  src/alignment/engine.ts
  src/alignment/index.ts
  src/alignment/resolveAlignmentOnnxPath.ts
  src/alignment/types.ts
Due: lint, types, types-example

feat(segment-speech-vad-custom-model-path): implement custom initialization support for speech VAD model
  docs/model-detect.md
  docs/model-setup.md
  docs/segmentation-engine.md
  example/src/components/SegmentationPolicyControls.tsx
  example/src/components/modelInit/SpeechVadSegmentationCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
  example/src/utils/segmentSpeechVadCustomInitFill.ts
  src/segment/__tests__/resolveSpeechVadModelForPolicy.test.ts
  src/segment/__tests__/segmentation-engine-vad.test.ts
  src/segment/engine-types.ts
  src/segment/index.ts
  src/segment/resolveSpeechVadModelForPolicy.ts
  src/segment/validation.ts
Due: lint, types, types-example

docs(rework): enhance README and model documentation for clarity and usability
  README.md
  docs/README.md
  docs/alignment-offline.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/model-detect.md
  docs/model-languages.md
  docs/model-setup.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
  docs/segmentation-engine.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/vad-streaming.md
Due: none

feat(custom-model-path): refactor custom model path handling and enhance validation
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom-types.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-validate-tts.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-validate-tts.h
  docs/model-detect.md
  example/src/components/modelInit/AlignmentCustomInitForm.tsx
  example/src/components/modelInit/EnhancementCustomInitForm.tsx
  example/src/components/modelInit/PunctuationOfflineCustomInitForm.tsx
  example/src/components/modelInit/PunctuationStreamingCustomInitForm.tsx
  example/src/components/modelInit/StreamingSttCustomInitForm.tsx
  example/src/components/modelInit/SttCustomInitForm.tsx
  example/src/components/modelInit/TtsCustomInitForm.tsx
  example/src/components/modelInit/VadCustomInitForm.tsx
  example/src/utils/alignmentCustomInitFill.ts
  example/src/utils/enhancementCustomInitFill.ts
  example/src/utils/punctuationCustomInitFill.ts
  example/src/utils/streamingCustomInitFill.ts
  example/src/utils/sttCustomInitFill.ts
  example/src/utils/ttsCustomInitFill.ts
  example/src/utils/vadCustomInitFill.ts
  ios/detect/native/sherpa-onnx-validate-custom-bridge.mm
  src/NativeSherpaOnnx.ts
  src/alignment/__tests__/customConfig.test.ts
  src/detect/__tests__/customConfigResolver.test.ts
  src/detect/__tests__/customModelPathRequirements.test.ts
  src/detect/__tests__/validateCustomModelPaths.test.ts
  src/detect/customConfigResolver.ts
  src/detect/customModelPathRequirements.ts
  src/detect/index.ts
  src/detect/validateCustomModelPaths.ts
  src/enhancement/__tests__/customConfig.test.ts
  src/punctuation/__tests__/customConfig.test.ts
  src/stt/__tests__/customConfig.test.ts
  src/stt/__tests__/streamingCustomConfig.test.ts
  src/tts/__tests__/customConfig.test.ts
  src/vad/__tests__/customConfig.test.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types, types-example

feat(model-detection): enhance model path handling and introduce string map utility
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-unified-detect-wrapper.cpp
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/model-detect.md
  docs/stt-offline.md
  docs/tts-offline.md
  ios/detect/native/sherpa-onnx-unified-detect-bridge.mm
  src/NativeSherpaOnnx.ts
  src/__tests__/detectModel.test.ts
  src/detect/__tests__/detectModelOutput.test.ts
  src/detect/detectModel.ts
  src/detect/detectModelOutput.ts
  src/enhancement/__tests__/detectEnhancementModel.test.ts
  src/enhancement/index.ts
  src/stt/index.ts
  src/tts/index.ts
  src/types/modelDetect.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

fix(types): update paths type in UnifiedDetectNativeResult and Spec interfaces
  src/NativeSherpaOnnx.ts
Due: lint, types

fix(vad): refactor VAD state management and introduce global state structures
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

fix(asset-pack): refine download percentage calculation logic
  src/pad/assetPack.ts
Due: lint, types

fix(SherpaOnnxModule): update field handling in result mapping
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

refactor(stt): update model path requirements and validation logic
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-validate-stt.cpp
  example/src/components/modelInit/StreamingSttCustomInitForm.tsx
  example/src/utils/streamingCustomInitFill.ts
  src/stt/streamingCustomConfig.ts
  src/stt/streamingTypes.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/custom_path_requirements_catalog_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types, types-example

feat(android): enhance release build configuration and debugging support
  android/build.gradle
  android/src/main/cpp/CMakeLists.txt
Due: none

fix(android): restore debug symbol generation for release builds
  android/build.gradle
Due: none
