Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs(segment): document pyannote evaluator and move diarization in README
  README.md
  docs/diarization-offline.md
  docs/internal/speaker-embedding-foundation.md
  docs/segmentation-engine.md
  docs/segmentbuffer-offline.md
Due: none

feat(segmentation-example): enhance segmentation showcase with Pyannote integration
  example/src/components/ScreenIntroModal.tsx
  example/src/components/SegmentationPolicyControls.tsx
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.styles.ts
  example/src/screens/segmentation-showcase/SegmentationShowcaseScreen.tsx
  example/src/utils/diarizationSegmentationModelCatalog.ts
Due: lint, types, types-example

feat(diarization): add named timeline mapping for speaker identification
  README.md
  docs/README.md
  docs/diarization-named-timeline.md
  docs/diarization-offline.md
  docs/diarization.md
  docs/feature-pipelines.md
  docs/internal/speaker-embedding-foundation.md
  docs/speaker-identification-offline.md
  src/diarization/__tests__/mapDiarizationToNames.test.ts
  src/diarization/index.ts
  src/diarization/mapDiarizationToNames.ts
  src/diarization/types.ts
  src/speaker-identification/__tests__/createSpeakerIdentification.test.ts
  src/speaker-identification/index.ts
  src/speaker-identification/types.ts
Due: lint, types

docs(diarization): update streaming documentation and clarify live overload status
  README.md
  docs/README.md
  docs/diarization-offline.md
  docs/diarization-streaming.md
Due: none

feat(asset-publish): implement CSV-driven pipeline for building and publishing diarization model assets
  .github/workflows/models-publish-diarization.yml
  .gitignore
  android/src/main/assets/model_licenses/diarization-models-license-status.csv
  ios/Resources/model_licenses/diarization-models-license-status.csv
  scripts/diarization-models/README.md
  scripts/diarization-models/build_and_upload.js
  scripts/diarization-models/metadata/diar_streaming_sortformer_4spk-v2.1.json
  scripts/diarization-models/sources.csv
  scripts/diarization-models/sync_diarization_license_status.js
  src/diarization/__tests__/mapDiarizationToNames.test.ts
  src/licenses.ts
Due: lint, types

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension
  android/build.gradle
Due: none

feat(diarization): add Sortformer model detect and validation in native C++ and bridges
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-diarization-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-model-detect-diarization.cpp
  android/src/main/cpp/jni/model_detect/diarization/sherpa-onnx-validate-diarization.cpp
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  ios/diarization/core/DiarizationBridgeUtils.mm
  test/cpp/model_detect/custom_path_requirements_catalog_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
Due: none

feat(diarization): add Sortformer support to TypeScript types and custom config
  src/NativeSherpaOnnx.ts
  src/diarization/__tests__/customConfig.test.ts
  src/diarization/__tests__/detectDiarizationModel.test.ts
  src/diarization/customConfig.ts
  src/diarization/index.ts
  src/diarization/types.ts
  src/types/modelDetect.ts
Due: lint, types

feat(diarization-downloadmanager): enhance model retrieval with fallback to secondary sources
  src/download/registry.ts
  src/download/sources/__tests__/builtin-github.test.ts
  src/download/sources/__tests__/registry.test.ts
  src/download/sources/builtin/github-xdcobra.ts
Due: lint, types

feat(diarization-streaming): implement C++ DSP, Sortformer model, and post-processor
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/diarization/sherpa-onnx-streaming-diarization-wrapper.cpp
  android/src/main/cpp/diarization/sherpa-onnx-streaming-diarization-wrapper.h
  android/src/main/cpp/diarization/sortformer-fbank.cpp
  android/src/main/cpp/diarization/sortformer-fbank.h
  android/src/main/cpp/diarization/sortformer-post-processor.cpp
  android/src/main/cpp/diarization/sortformer-post-processor.h
  android/src/main/cpp/diarization/sortformer-streaming-model.cpp
  android/src/main/cpp/diarization/sortformer-streaming-model.h
  android/src/main/cpp/diarization/speaker-timeline.cpp
  android/src/main/cpp/diarization/streaming-diarizer-interface.h
  test/cpp/CMakeLists.txt
  test/cpp/diarization/sortformer_cache_test.cpp
  test/cpp/diarization/sortformer_fbank_test.cpp
  test/cpp/diarization/sortformer_post_processing_test.cpp
Due: none

feat(diarization-streaming): add Android JNI bridge and streaming pipeline worker
  android/src/main/cpp/jni/diarization/sherpa-onnx-diarization-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  android/src/main/java/com/sherpaonnx/diarization/pipeline/DiarizationStreamingPipelineWorker.kt
Due: none

feat(diarization-streaming): add iOS streaming pipeline worker and native bridge
  SherpaOnnx.podspec
  ios/diarization/bridge/SherpaOnnx+DiarizationStreaming.mm
  ios/diarization/core/DiarizationBridgeState.h
  ios/diarization/core/DiarizationBridgeState.mm
  ios/diarization/pipeline/DiarizationStreamingPipelineWorker.h
  ios/diarization/pipeline/DiarizationStreamingPipelineWorker.mm
Due: none

feat(diarization-streaming): expose streaming diarization TypeScript API and pipeline handle
  src/NativeSherpaOnnx.ts
  src/diarization/__tests__/streaming.test.ts
  src/diarization/index.ts
  src/diarization/streaming.ts
  src/diarization/streamingTypes.ts
Due: lint, types

fix(diarization-streaming): optimize zero-allocation DSP paths and fix Android/iOS bridge events
  android/src/main/cpp/diarization/sherpa-onnx-streaming-diarization-wrapper.cpp
  android/src/main/cpp/diarization/sortformer-post-processor.cpp
  android/src/main/cpp/diarization/sortformer-streaming-model.cpp
  android/src/main/cpp/diarization/sortformer-streaming-model.h
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  android/src/main/java/com/sherpaonnx/diarization/pipeline/DiarizationStreamingPipelineWorker.kt
  ios/SherpaOnnx.mm
Due: none

docs(diarization-streaming): document Sortformer streaming diarization API and pipeline usage
  README.md
  docs/diarization-streaming.md
Due: none

docs(diarization-streaming): align documentation structure with streaming guides
  docs/diarization-streaming.md
Due: none

docs(diarization-streaming): refine streaming documentation and relocate segment observation section
  docs/diarization-streaming.md
Due: none

feat(example): add dedicated multi-speaker test audios for diarization
  example/android/app/src/main/assets/test_wavs/0-four-speakers-zh.wav
  example/android/app/src/main/assets/test_wavs/1-two-speakers-en.wav
  example/ios/sherpa_models/test_wavs/0-four-speakers-zh.wav
  example/ios/sherpa_models/test_wavs/1-two-speakers-en.wav
  example/src/audioConfig.ts
Due: lint, types, types-example

feat(example): add custom init and catalog utilities for streaming diarization
  example/src/components/modelInit/DiarizationStreamingCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/utils/diarizationCustomInitFill.ts
  example/src/utils/diarizationCustomInitLabels.ts
  example/src/utils/diarizationStreamingModelCatalog.ts
Due: lint, types, types-example

feat(example): implement streaming diarization showcase screen and navigation
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.styles.ts
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

fix(example): prevent fake model entries and resolve downloaded diarization paths
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.styles.ts
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.tsx
  example/src/utils/diarizationStreamingModelCatalog.ts
Due: lint, types, types-example

ci(diarization): switch from manual trigger to push event for init publishing diarization model assets
  .github/workflows/models-publish-diarization.yml
Due: none

fix(ci): auto-create github release tag if missing in diarization model upload
  scripts/diarization-models/build_and_upload.js
Due: lint, types

build(ios): follow symlinks when copying sherpa models into app bundle
  example/ios/VoiceLabOfflineTools.xcodeproj/project.pbxproj
Due: none

revert(ci): remove auto-create on 404 in diarization model upload
  scripts/diarization-models/build_and_upload.js
Due: lint, types

feat(example): enhance README with bundling models and test assets instructions; add sync task for iOS models in Android build
  example/README.md
  example/android/app/build.gradle
  example/ios/VoiceLabOfflineTools.xcodeproj/project.pbxproj
Due: none

refactor(AssetPathResolver): improve asset path resolution by filtering empty segments and enhancing directory/file extraction logic
  android/src/main/java/com/sherpaonnx/assets/core/AssetPathResolver.kt
Due: none

feat(segmentbuffer): add 'kind' property to segment data in Android and iOS implementations for improved event handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/segmentbuffer/index.ts
Due: lint, types

feat(OfflineAudioBufferWidget): add stopPlayback method and update DiarizationStreamingScreen to utilize offline audio buffer; remove unused styles and file picker logic
  example/src/components/OfflineAudioBufferWidget.tsx
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.styles.ts
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.tsx
Due: lint, types, types-example

feat(diarization): support configurable latency parameters in native engine and bridges
  android/src/main/cpp/diarization/sherpa-onnx-streaming-diarization-wrapper.cpp
  android/src/main/cpp/diarization/sherpa-onnx-streaming-diarization-wrapper.h
  android/src/main/cpp/diarization/sortformer-streaming-model.cpp
  android/src/main/cpp/diarization/streaming-diarizer-interface.h
  android/src/main/cpp/jni/diarization/sherpa-onnx-diarization-jni.cpp
  android/src/main/java/com/sherpaonnx/diarization/facade/SherpaOnnxDiarizationHelper.kt
  ios/diarization/bridge/SherpaOnnx+DiarizationStreaming.mm
  test/cpp/diarization/sortformer_cache_test.cpp
Due: none

feat(diarization): expose chunkLen, rightContext, and fifoLen in streaming API
  src/diarization/__tests__/streaming.test.ts
  src/diarization/streaming.ts
  src/diarization/streamingTypes.ts
Due: lint, types

feat(example): add latency profile selector with low latency default in diarization screen
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.styles.ts
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.tsx
Due: lint, types, types-example

docs(diarization): document streaming latency profiles and real-time live mic configuration
  docs/diarization-streaming.md
Due: none

feat(example): stitch contiguous speaker segments live across streaming chunks
  example/src/screens/diarization-streaming/DiarizationStreamingScreen.tsx
Due: lint, types, types-example

feat(docs): add example images for diarization streaming
  docs/images/example/diarization_streaming_1.png
  docs/images/example/diarization_streaming_2.png
  docs/images/example/diarization_streaming_3.png
Due: none

feat(diarization): expose segments array on DiarizeResult for diarize and recluster
  src/diarization/index.ts
  src/diarization/types.ts
Due: lint, types

feat(example): enhance model catalogs and OfflineAudioBufferInfo with audio duration and path resolution
  example/src/components/OfflineAudioBufferWidget.tsx
  example/src/utils/speakerEmbeddingModelCatalog.ts
Due: lint, types, types-example

feat(example): upgrade offline DiarizationScreen with airtime analytics, timeline, and instant reclustering
  example/src/screens/diarization/DiarizationScreen.styles.ts
  example/src/screens/diarization/DiarizationScreen.tsx
Due: lint, types, types-example

fix(diarization): resolve model file paths from directories in native C++
  android/src/main/cpp/diarization/pyannote-segmentation-model.cpp
  android/src/main/cpp/speaker-embedding/speaker-embedding-runner.cpp
Due: none

fix(diarization): auto-resolve directory model sources in native bridge and add unit test
  src/diarization/__tests__/createDiarization.test.ts
  src/diarization/__tests__/mapDiarizationToNames.test.ts
  src/diarization/detectDiarizationModel.ts
  src/diarization/diarizationNativeBridge.ts
  src/diarization/index.ts
  src/diarization/mapDiarizationToNames.ts
  src/diarization/streaming.ts
Due: lint, types
