Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(stt): add support for Cohere Transcribe model in ASR, including encoder/decoder paths and detection capabilities
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-stt.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-stt-wrapper.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-validate-stt.cpp
Due: none

feat(stt): enhance support for Cohere Transcribe model by adding options, detection capabilities, and integration into the STT framework
  ios/SherpaOnnx+STT.mm
  ios/model_detect/sherpa-onnx-model-detect-stt.mm
  ios/model_detect/sherpa-onnx-model-detect.h
  ios/model_detect/sherpa-onnx-validate-stt.mm
  ios/stt/sherpa-onnx-stt-wrapper.h
  ios/stt/sherpa-onnx-stt-wrapper.mm
Due: none

feat(stt): integrate Qwen3-ASR hotword support and enhance Cohere Transcribe model configuration in STT framework
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
Due: none

feat(js): update Cohere Transcribe model options and integrate into STT framework
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/types.ts
Due: lint, types

test(asr): update Cohere Transcribe model status in expected CSV to reflect integration changes
  test/cpp/model_detect_test_utils.cpp
  test/fixtures/asr-models-expected.csv
Due: none

fix(stt): simplify path validation and sample check in SherpaOnnxSttHelper
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
Due: none

docs(readme): update offline Speech-to-Text section to include Qwen3 ASR and Cohere Transcribe model details
  README.md
Due: none

feat(cohere-lang): add support for Cohere Transcribe 14-language bundle and related functions
  docs/stt.md
  src/stt/index.ts
  src/stt/sttModelLanguages.ts
Due: lint, types

fix(stt): normalize Qwen3 hotwords handling and improve sample reading in SherpaOnnxSttHelper
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  src/stt/index.ts
  src/stt/sttModelLanguages.ts
Due: lint, types

feat(stt): add Dolphin ASR language-region tags for informational use and update documentation
  docs/stt.md
  src/stt/index.ts
  src/stt/sttModelLanguages.ts
Due: lint, types

feat(stt): add Qwen3 ASR language support for informational use and update related documentation
  docs/stt.md
  src/stt/index.ts
  src/stt/sttModelLanguages.ts
Due: lint, types

fix(tts-language): implement language derivation from TTS asset IDs and add utility functions for language code mapping
  src/download/deriveTtsLanguages.ts
  src/download/registry.ts
Due: lint, types

test(tts-language): add unit tests for language derivation logic from TTS asset IDs
  src/download/__tests__/deriveLanguages.test.ts
Due: lint, types

ci(tts-language): add GitHub Actions workflow for Jest unit tests with TypeScript support
  .github/workflows/test-js.yml
Due: none

chore(refactor): delete current download-api logic
  src/download/ModelDownloadManager.ts
  src/download/activeModelOperations.ts
  src/download/background-downloader-types.ts
  src/download/bulkPurge.ts
  src/download/checksumPrompt.ts
  src/download/constants.ts
  src/download/downloadEvents.ts
  src/download/downloadTask.ts
  src/download/ensureModel.ts
  src/download/index.ts
  src/download/localModels.ts
  src/download/modelExtraction.ts
  src/download/paths.ts
  src/download/postDownloadProcessing.ts
  src/download/protectedModelKeys.ts
  src/download/registry.ts
  src/download/retry.ts
  src/download/types.ts
  src/download/validation.ts
Due: lint, types

refactor(archive): enhance extraction capabilities with resumable support and cancellation features
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-helper.cpp
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-helper.h
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  ios/archive/sherpa-onnx-archive-helper.h
  ios/archive/sherpa-onnx-archive-helper.mm
Due: none

refactor(extraction): unify archive extraction methods and introduce enhanced progress tracking and cancellation support
  src/NativeSherpaOnnx.ts
  src/extraction/extractTarBz2.ts
  src/extraction/extractTarZst.ts
  src/extraction/index.ts
  src/extraction/types.ts
  src/index.tsx
Due: lint, types

refactor(archive): include entry index in native extraction progress
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-helper.cpp
  android/src/main/cpp/jni/archive/sherpa-onnx-archive-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/archive/sherpa-onnx-archive-helper.mm
Due: none

feat(extraction): support resumable extraction progress and operation ids
  src/extraction/extractTarBz2.ts
  src/extraction/index.ts
  src/extraction/types.ts
Due: lint, types

feat(download): add model download and post-processing module
  package.json
  src/download/activeModelOperations.ts
  src/download/background-downloader-types.ts
  src/download/bulkPurge.ts
  src/download/constants.ts
  src/download/downloadEvents.ts
  src/download/downloadTask.ts
  src/download/ensureModel.ts
  src/download/index.ts
  src/download/localModels.ts
  src/download/modelExtraction.ts
  src/download/paths.ts
  src/download/postDownloadProcessing.ts
  src/download/protectedModelKeys.ts
  src/download/registry.ts
  src/download/retry.ts
  src/download/types.ts
  src/download/validation.ts
  src/utils.ts
  yarn.lock
Due: lint, types

docs: update download manager, extraction, and migration guides
  docs/download-manager.md
  docs/extraction.md
  docs/migration.md
Due: none

feat(example): add download showcase screen
  example/package.json
  example/src/navigation/RootNavigator.tsx
  example/src/screens/download-showcase/DownloadShowcaseScreen.styles.ts
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

feat(example): implement model deletion functionality in download showcase screen
  example/src/screens/download-showcase/DownloadShowcaseScreen.styles.ts
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  src/download/localModels.ts
Due: lint, types, types-example

chore(docs): moved internal documentation to specific folder
  docs/internal/PREBUILT_RESOLUTION.md
  docs/internal/TTS_API_COMPARISON.md
  docs/internal/github-issue-pocket-tts-eos-frame-zero.md
Due: none

docs(download-manager): enhance documentation with peer dependency details, model ID usage, and TypeScript signatures for API functions
  docs/download-manager.md
Due: none

docs(README): update Android and iOS version numbers to 1.12.35
  README.md
Due: none

refactor(tts): streamline TTS options handling and introduce native bridge for model options
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
Due: lint, types, types-example

feat(tts): unify saveAudio and native pcm encode pipeline
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/audio/audio_convert_file.cpp
  android/src/main/cpp/jni/audio/audio_convert_file.h
  android/src/main/cpp/jni/audio/audio_f32le_to_format.cpp
  android/src/main/cpp/jni/audio/audio_f32le_to_format_body.inc.cpp
  android/src/main/cpp/jni/audio/sherpa-onnx-audio-convert-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  ios/SherpaOnnx+TTS.mm
  ios/audio/SherpaOnnxAudioConvert.h
  ios/audio/SherpaOnnxAudioConvert.mm
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/tempAudio.ts
  src/tts/types.ts
Due: lint, types, types-example

docs(tts): document saveAudio and split offline TTS guide
  docs/audio-conversion.md
  docs/disable-ffmpeg.md
  docs/migration.md
  docs/tts-offline.md
  docs/tts-streaming.md
  docs/tts.md
Due: none

test: add host audio tests and split cpp suites
  .github/workflows/collect-tts-model-structures.yml
  .github/workflows/test-audio-convert-host.yml
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  ios/model_detect/sherpa-onnx-model-detect.h
  test/cpp/CMakeLists.txt
  test/cpp/audio_conversion/audio_convert_file_test.cpp
  test/cpp/audio_conversion/audio_f32le_host_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
  test/cpp/model_detect/model_detect_test_utils.h
Due: none

fix(audio): update audio conversion functions for FFmpeg compatibility
  android/src/main/cpp/jni/audio/audio_convert_file.cpp
  android/src/main/cpp/jni/audio/audio_f32le_to_format_body.inc.cpp
Due: none

ci(audio-test): reactivate correct run requirements
  .github/workflows/test-audio-convert-host.yml
Due: none

feat(native)!: rename file TurboModule methods and extract files helpers
  android/src/main/java/com/sherpaonnx/SherpaOnnxContentUriUtils.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxFilesHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  ios/SherpaOnnx+Files.mm
  ios/SherpaOnnx+TTS.mm
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(files): add public subpath and wire JS to native renames
  package.json
  src/files/index.ts
  src/index.tsx
  src/tts/index.ts
Due: lint, types

docs(files): add module doc and migration notes
  docs/audio-conversion.md
  docs/files.md
  docs/internal/TTS_API_COMPARISON.md
  docs/migration.md
  docs/tts-offline.md
Due: none

chore(example): import file helpers from react-native-sherpa-onnx/files
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/utils/audioFileWebPlayback.ts
Due: lint, types, types-example

docs(tts): update tts-offline.md to include saveAudio usage example
  docs/tts-offline.md
Due: none

feat(native): batch TTS catalog hints (C++, JNI, iOS, TurboModule)
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/sherpa-onnx-tts-catalog-hints.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-tts-wrapper.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-tts-wrapper.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx+TTS.mm
  src/NativeSherpaOnnx.ts
Due: lint, types

feat(download): TTS catalog from native batch hints with chunking
  src/download/__tests__/deriveLanguages.test.ts
  src/download/constants.ts
  src/download/deriveTtsLanguages.ts
  src/download/index.ts
  src/download/registry.ts
Due: lint, types

test(cpp): add TtsCatalogHints host gtests
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/tts_catalog_hints_test.cpp
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
