Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(audio-visualization): add 3D audio visualization component using Skia, enhance UI with new insights and update README for improved documentation
  example/README.md
  example/package.json
  example/src/components/ScreenIntroModal.tsx
  example/src/components/Spectrum3DView.tsx
  example/src/screens/audio-visualization/AudioVisualizationScreen.styles.ts
  example/src/screens/audio-visualization/AudioVisualizationScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  yarn.lock
Due: lint, types, types-example

docs(audio-visualization): update README and documentation with enhanced audio visualization details, including new rendering patterns and example images for static, heatmap, and pseudo-3D displays
  README.md
  docs/audio-visualization.md
  docs/images/example/vis_3d.png
  docs/images/example/vis_3d_cut.png
  docs/images/example/vis_heatmap.png
  docs/images/example/vis_heatmap_cut.png
  docs/images/example/vis_static.png
  docs/images/example/vis_static_cut.png
  example/README.md
Due: none

feat(audio-visualization): enhance audio visualization configuration with levelsMaxStftFrames and analysisSampleRateHz options for improved static level analysis and decoding efficiency
  android/src/main/cpp/jni/audio/AudioVisualization.cpp
  android/src/main/cpp/jni/audio/AudioVisualization.h
  android/src/main/cpp/jni/audio/audio_visualization_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/audio-visualization.md
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/visualization/index.ts
  src/visualization/types.ts
Due: lint, types

feat(audio-visualization): implement progress callback for audio visualization processing, enabling real-time updates during decode and STFT analysis phases
  android/src/main/cpp/jni/audio/AudioVisualization.cpp
  android/src/main/cpp/jni/audio/AudioVisualization.h
  android/src/main/cpp/jni/audio/audio_visualization_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/VisualizationProgressCallback.kt
  docs/audio-visualization.md
  ios/SherpaOnnx.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/visualization/__tests__/compute.test.ts
  src/visualization/__tests__/progress.test.ts
  src/visualization/__tests__/timelineOptions.test.ts
  src/visualization/index.ts
  src/visualization/types.ts
Due: lint, types

fix(segmentation): improve text segmentation logic to prefer materialized segment text and enhance boundary detection for better chunking
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/pipeline/offlineOrchestrator.ts
  src/segment/index.ts
Due: lint, types

feat(audiobuffer): update finalizeLiveAudioBuffer to return LiveAudioBufferFinishedRef with authoritative info and add refresh functions for live buffer metadata
  docs/audio-conversion.md
  docs/audiobuffer-offline.md
  docs/audiobuffer-streaming.md
  docs/enhancement-streaming.md
  docs/pcm-player.md
  docs/streaming-pipelines-overview.md
  docs/stt-streaming.md
  docs/vad-streaming.md
  src/audiobuffer/__tests__/finalize-info.test.ts
  src/audiobuffer/__tests__/segment-events.test.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
Due: lint, types

docs(migration): add comprehensive overview and execution prompt for Download Manager rework
  docs/migration/downloadManager/download_manager_overview.md
  docs/migration/downloadManager/execution-prompt.md
  docs/migration/downloadManager/sub-01-source-contract.md
  docs/migration/downloadManager/sub-02-source-registry-and-builtins.md
  docs/migration/downloadManager/sub-03-fetcher-and-headers.md
  docs/migration/downloadManager/sub-04-archive-layout-and-extraction-flags.md
  docs/migration/downloadManager/sub-05-huggingface-source.md
  docs/migration/downloadManager/sub-06-download-pipeline-rework.md
  docs/migration/downloadManager/sub-07-registry-and-cache-rework.md
  docs/migration/downloadManager/sub-08-cleanup-and-test-harness.md
Due: none

feat(download): introduce sourceId handling across model operations
  src/download/activeModelOperations.ts
  src/download/bulkPurge.ts
  src/download/constants.ts
  src/download/downloadTask.ts
  src/download/ensureModel.ts
  src/download/index.ts
  src/download/localModels.ts
  src/download/modelExtraction.ts
  src/download/paths.ts
  src/download/postDownloadProcessing.ts
  src/download/protectedModelKeys.ts
  src/download/registry.ts
  src/download/retry.ts
  src/download/sources/errors.ts
  src/download/sources/fetch.ts
  src/download/sources/formats.ts
  src/download/sources/index.ts
  src/download/sources/registry.ts
  src/download/sources/types.ts
  src/download/types.ts
Due: lint, types

feat(download): add GitHub and Hugging Face source providers with asset handling
  src/download/sources/builtin/github-k2-fsa.ts
  src/download/sources/builtin/github-xdcobra.ts
  src/download/sources/builtin/huggingface-defaults.ts
  src/download/sources/builtin/huggingface.ts
  src/download/sources/builtin/index.ts
  src/download/sources/github-asset-rules.ts
  src/download/sources/github-common.ts
  src/download/sources/hf-author-common.ts
  src/download/sources/hf-author-filter.ts
Due: lint, types

test(download-registry): add comprehensive test suite for download sources and error handling
  src/download/__tests__/downloadTask.multi-asset.test.ts
  src/download/__tests__/hf-author-common.test.ts
  src/download/sources/__tests__/builtin-github.test.ts
  src/download/sources/__tests__/errors.test.ts
  src/download/sources/__tests__/fetch.test.ts
  src/download/sources/__tests__/formats.test.ts
  src/download/sources/__tests__/registry.test.ts
  src/download/sources/__tests__/types.test.ts
  src/download/sources/builtin/__tests__/huggingface-fetch.test.ts
  src/download/sources/builtin/__tests__/huggingface.test.ts
Due: lint, types

fix(download-showcase): update extraction condition to check layout kind and extraction flag
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  src/download/constants.ts
Due: lint, types, types-example

docs(download-manager): enhance documentation for source-aware model handling and integration
  docs/download-manager.md
  docs/migration/downloadManager/download_manager_overview.md
  docs/migration/downloadManager/sub-08-cleanup-and-test-harness.md
  src/download/constants.ts
Due: lint, types

chore(detect): add detect module support and update configurations
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  example/tsconfig.json
  package.json
  tsconfig.json
Due: none

feat(detect): implement unified model detection for TTS, STT, VAD, and more
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-unified-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-unified-detect-wrapper.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/detect/bridge/SherpaOnnx+ModelDetect.mm
  ios/detect/native/sherpa-onnx-unified-detect-bridge.h
  ios/detect/native/sherpa-onnx-unified-detect-bridge.mm
Due: none

feat(detect): enhance unified model detection and refactor imports
  src/NativeSherpaOnnx.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/asrMediated/driver.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/alignment/index.ts
  src/detect/detectModel.ts
  src/detect/index.ts
  src/detect/resolveModelInput.ts
  src/download/catalogHints.ts
  src/download/index.ts
  src/download/sources/hf-author-common.ts
  src/enhancement/index.ts
  src/enhancement/streaming.ts
  src/punctuation/detect.ts
  src/punctuation/offline.ts
  src/punctuation/streaming.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/tts/index.ts
  src/vad/engine.ts
  test/cpp/CMakeLists.txt
Due: lint, types

test(detect): update import paths and add unit tests for model detection
  src/__tests__/detect-apkasset.test.ts
  src/__tests__/detectModel.test.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

docs(detect): enhance model detection documentation and introduce new model-detect guide
  docs/README.md
  docs/alignment-offline.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/memory-and-models.md
  docs/model-detect.md
  docs/model-setup.md
  docs/punctuation-offline.md
  docs/punctuation-streaming.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/vad-streaming.md
  src/detect/index.ts
Due: lint, types

fix(detect): update return type for native model detection functions
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

feat(detect): enhance model detection logic with catalog hit checks
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  src/download/sources/hf-author-common.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

fix(download): simplify cache validation logic in refreshModels function
  src/download/registry.ts
Due: lint, types

fix(detect): add extern "C" block for JNI functions
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
Due: none

feat(download): implement retry mechanism for failed asset downloads
  src/download/__tests__/downloadTask.multi-asset.test.ts
  src/download/downloadTask.ts
Due: lint, types

fix(download): improve path validation in isIncludedHfModelPath function
  src/download/sources/hf-author-common.ts
Due: lint, types

refactor(download): migrate to foreground download manager and remove background downloader dependency
  README.md
  android/build.gradle
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/download/ForegroundDownloader.kt
  docs/download-manager.md
  example/package.json
  example/tsconfig.json
  ios/SherpaOnnx.h
  ios/SherpaOnnx.mm
  ios/download/SherpaOnnx+ForegroundDownload.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/download/__tests__/downloadTask.multi-asset.test.ts
  src/download/background-downloader-types.ts
  src/download/downloadConcurrency.ts
  src/download/downloadTask.ts
  src/download/ensureModel.ts
  src/download/foregroundDownload.ts
  src/download/index.ts
  src/download/modelExtraction.ts
  src/download/protectedModelKeys.ts
  src/download/types.ts
  tsconfig.json
Due: lint, types

feat(download): update download task to emit models list after deletion
  src/download/downloadTask.ts
Due: lint, types

docs(readme): update model configuration section and enhance memory usage guidelines
  README.md
Due: none

test(fix): enhance tests by adding text input normalization and mocking detect functions
  src/download/sources/__tests__/builtin-github.test.ts
  src/download/sources/__tests__/registry.test.ts
  src/punctuation/__tests__/live-offline.test.ts
  src/punctuation/__tests__/punctuation-segmented.test.ts
Due: lint, types

fix(ios): update audio processing functions to use explicit input file descriptors and improve error handling
  SherpaOnnx.podspec
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.h
  example/ios/Podfile.lock
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/enhancement/EnhancementOfflineLivePipelineWorker.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
Due: none

fix(ios): update bridge methods to use structured options types
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/audio/bridge/SherpaOnnx+AudioSession.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudioMic.mm
  ios/diagnostic/SherpaOnnx+Diagnostics.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/segment/bridge/SherpaOnnx+SegmentLinkMap.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/tts/bridge/SherpaOnnx+TTSCommon.mm
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
Due: none

refactor(asset): update asset path resolution methods for clarity and platform compatibility
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/assets/core/AssetPathResolver.kt
  android/src/main/java/com/sherpaonnx/assets/facade/SherpaOnnxAssetHelper.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
  ios/SherpaOnnx.mm
  ios/assets/bridge/SherpaOnnx+Assets.h
  ios/assets/bridge/SherpaOnnx+AssetsPaths.mm
  ios/fileio/FileIOResolver.mm
Due: none

refactor(fileio): enhance file source handling for bundled assets and platform compatibility
  example/src/modelConfig.ts
  example/src/screens/fileio/FileIOScreen.tsx
  example/src/screens/fileio/fileioInputChannels.ts
  example/src/utils/fileSourceFromUri.ts
  example/tsconfig.json
  src/NativeSherpaOnnx.ts
  src/detect/index.ts
  src/detect/resolveModelInput.ts
  src/extraction/index.ts
  src/fileio/index.ts
  src/fileio/types.ts
  src/segment/validation.ts
  src/utils.ts
Due: lint, types, types-example

test(refactor): rename resolveModelPath to resolveBundledAssetPath across test files
  src/__tests__/detect-apkasset.test.ts
  src/__tests__/detect-auto.test.ts
  src/alignment/__tests__/engine-create.test.ts
  src/alignment/__tests__/engine-no-freestanding-export.test.ts
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/__tests__/engine-row-parity.test.ts
  src/alignment/__tests__/native-bridge-error-mapping.test.ts
  src/alignment/__tests__/native-bridge-slice-call.test.ts
  src/alignment/__tests__/public-surface-snapshot.test.ts
  src/alignment/asrMediated/__tests__/driver-coverage.test.ts
  src/alignment/asrMediated/__tests__/driver-offset.test.ts
  src/alignment/asrMediated/__tests__/driver-options.test.ts
  src/alignment/asrMediated/__tests__/driver-pipeline.test.ts
  src/alignment/asrMediated/__tests__/missing-timestamps.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-options.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-progress.test.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-stuck.test.ts
  src/segment/__tests__/segment-api.test.ts
  src/segment/__tests__/segment-commit-partial.test.ts
  src/segment/__tests__/segment-link-map.test.ts
  src/segment/__tests__/segmentation-engine-continuous-frames.test.ts
  src/segment/__tests__/segmentation-engine-punctuation.test.ts
  src/stt/__tests__/transcribe-segmented.test.ts
  src/tts/__tests__/synthesize-mode1-oneshot.test.ts
  src/tts/__tests__/synthesize-mode2-linkmap.test.ts
  src/tts/__tests__/synthesize-mode2-segmented.test.ts
Due: lint, types

docs(detect): update documentation for model path resolution and file sources
  docs/extraction.md
  docs/fileio.md
  docs/migration/alignment/sub-01-public-api-contract.md
  docs/model-setup.md
  docs/punctuation-offline.md
  docs/stt-offline.md
  example/ios/Podfile.lock
Due: none

feat(event-emitter): implement addListener and removeListeners methods for NativeEventEmitter compliance
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/streamingPipelineCompletion.ts
  src/segmentbuffer/index.ts
  src/textbuffer/index.ts
  src/vad/engine.ts
  src/visualization/index.ts
Due: lint, types

feat(example): enhance file source handling in OfflineAudioBufferWidget
  example/src/components/OfflineAudioBufferWidget.tsx
Due: lint, types, types-example

refactor(ios): improve codegen header handling and add demuxer auto probe option
  ios/SherpaOnnx.h
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
Due: none

feat(fileio): enhance platform compatibility for file handling and error management
  example/ios/Podfile.lock
  example/src/components/AudioSaveDestinationPicker.tsx
  example/src/screens/fileio/FileIOScreen.tsx
  example/src/screens/fileio/fileioActions.ts
  example/src/screens/fileio/fileioInputChannels.ts
  src/audio/index.ts
  src/fileio/index.ts
  src/fileio/platformValidation.ts
Due: lint, types, types-example

feat(turbomodule): add iOS TurboModule signature check and enhance model detection methods
  .github/workflows/test-js.yml
  .gitignore
  example/ios/Podfile.lock
  ios/detect/bridge/SherpaOnnx+ModelDetect.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementDetect.mm
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/punctuation/bridge/SherpaOnnx+OnlinePunctuation.mm
  ios/punctuation/bridge/SherpaOnnx+PunctuationDetect.mm
  ios/segment/bridge/SherpaOnnx+SegmentLinkMap.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/tts/bridge/SherpaOnnx+TTSCommon.mm
  ios/vad/bridge/SherpaOnnx+VAD.mm
  package.json
  scripts/check-ios-turbo-signatures.mjs
  src/segmentbuffer/index.ts
Due: lint, types

fix(segment): ensure linkMapId is properly validated and used in segment link map creation
  ios/segment/bridge/SherpaOnnx+SegmentLinkMap.mm
  src/segment/index.ts
  src/stt/index.ts
  src/tts/index.ts
Due: lint, types

fix(ios-segment): improve spooling logic and error handling in segment buffer
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/vad/engine.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
