Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(js): add comprehensive speech enhancement methods and streaming support
  src/NativeSherpaOnnx.ts
  src/enhancement/index.ts
  src/enhancement/streaming.ts
  src/enhancement/streamingTypes.ts
  src/enhancement/types.ts
Due: lint, types

chore(podfile): update Podfile.lock to reflect dependency version changes and checksum updates
  example/ios/Podfile.lock
Due: none

docs(enhancement): update speech enhancement documentation and add new API reference
  docs/enhancement.md
  docs/speech-enhancement.md
Due: none

docs(linking): update links for speech enhancement documentation and remove obsolete file
  README.md
  docs/enhancement.md
Due: none

chore(example-dependencies): update react-native-audio-api to version 0.11.7 and remove react-native-sound from dependencies
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  yarn.lock
Due: none

chore(example-build): exclude bundled FFmpeg libraries from react-native-audio-api to prevent conflicts with sherpa-onnx
  example/android/build.gradle
  example/android/gradle.properties
Due: none

feat(asset-helper): add model detection for speech enhancement in SherpaOnnxAssetHelper
  android/src/main/java/com/sherpaonnx/SherpaOnnxAssetHelper.kt
Due: none

feat(asset-helper): enhance model detection to classify 'gtcrn' and 'dpdfnet' as enhancements
  ios/SherpaOnnx+Assets.mm
Due: none

feat(example): implement speech enhancement screen with model selection and audio playback features
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  example/src/utils/audioFileWebPlayback.ts
Due: lint, types, types-example

docs(README): update Android and iOS version numbers to 1.12.34
  README.md
Due: none

test(model-detect): refactor model detection to support file list input and enhance validation for speech enhancement models
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect-enhancement.cpp
  android/src/main/cpp/jni/model_detect/sherpa-onnx-model-detect.h
  test/cpp/CMakeLists.txt
  test/cpp/model_detect_test.cpp
  test/cpp/model_detect_test_utils.cpp
  test/cpp/model_detect_test_utils.h
Due: none

feat(ci): extend model CSV checks and collection scripts to include speech enhancement models
  scripts/ci/check-model-csvs.sh
  scripts/ci/collect_all_sherpa_model_streams.sh
  scripts/ci/collect_one_sherpa_release_stream.sh
  scripts/ci/sherpa_speech_enhancement_model_release_streams.json
  scripts/ci/update_model_license_csv.sh
Due: none

feat(licenses): add CSV files for speech enhancement models' license status in Android and iOS
  android/src/main/assets/model_licenses/speech-enhancement-models-license-status.csv
  ios/Resources/model_licenses/speech-enhancement-models-license-status.csv
  test/fixtures/speech-enhancement-models-expected.csv
  test/fixtures/speech-enhancement-models-structure.txt
Due: none

ci(enhancement): add workflows for speech enhancement model collection, detection, and validation
  .github/workflows/collect-speech-enhancement-model-structures.yml
  .github/workflows/test-enhancement-model-detect.yml
  .github/workflows/test-enhancement-validate.yml
  .github/workflows/test-model-detect.yml
Due: none

ci(workflow): change trigger from manual dispatch to push for speech enhancement model collection
  .github/workflows/collect-speech-enhancement-model-structures.yml
Due: none

ci(workflow): change trigger to manual dispatch for speech enhancement model collection with asset limit input
  .github/workflows/collect-speech-enhancement-model-structures.yml
Due: none

chore(tests): update expected CSV for speech enhancement models to include model types
  test/fixtures/speech-enhancement-models-expected.csv
Due: none

docs(README): add section for Speech Enhancement Models with details on model types and usage
  README.md
Due: none

chore(licenses): update license status for speech enhancement models in Android and iOS CSV files to reflect new licensing information and sources
  android/src/main/assets/model_licenses/speech-enhancement-models-license-status.csv
  ios/Resources/model_licenses/speech-enhancement-models-license-status.csv
Due: none

chore(package): update TypeScript type definitions paths in package.json to point to source files
  package.json
Due: none

feat(licenses): include speech enhancement model licenses in getModelLicenses function
  src/licenses.ts
Due: lint, types

refactor(download): remove unused function and update documentation for model directory management
  src/download/localModels.ts
  src/download/paths.ts
Due: lint, types

feat(release): update Android release tag format and include ORT headers in AAR
  .github/workflows/build-onnxruntime-android-release.yml
  .github/workflows/build-sherpa-onnx-android-release.yml
  android/prebuilt-download.gradle
  android/prebuilt-versions.gradle
  docs/PREBUILT_RESOLUTION.md
  docs/execution-providers.md
  third_party/onnxruntime_prebuilt/ANDROID_RELEASE_TAG
  third_party/onnxruntime_prebuilt/README.md
  third_party/onnxruntime_prebuilt/VERSIONS
  third_party/onnxruntime_prebuilt/build_onnxruntime_android_aar.sh
  third_party/onnxruntime_prebuilt/publish-maven/README.md
  third_party/onnxruntime_prebuilt/publish-maven/build.gradle
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
  third_party/sherpa-onnx-prebuilt/create_sherpa_onnx_aar.sh
Due: none

chore(release): update ONNX Runtime version to 1.24.4 in release tag and related files
  .github/workflows/build-onnxruntime-android-release.yml
  android/prebuilt-versions.gradle
  docs/PREBUILT_RESOLUTION.md
  third_party/onnxruntime_prebuilt/ANDROID_RELEASE_TAG
  third_party/onnxruntime_prebuilt/VERSIONS
Due: none

chore(release): increment Android release tag version from v1.12.34-1 to v1.12.34-2
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
Due: none

feat(build): enhance build script to dynamically detect onnxruntime_version from upstream scripts and ensure consistency across builds
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
Due: none

docs(README): update Speech Enhancement status to supported and enhance documentation with API details
  README.md
Due: none

feat(kotlin): implement text segmentation and subtitle generation in SherpaOnnxTextSegmenter, enhancing TTS functionality with accurate and word-level subtitle options
  android/src/main/java/com/sherpaonnx/SherpaOnnxTextSegmenter.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

feat(ios): add text processing utilities for improved subtitle timing and segmentation in SherpaOnnx+TTS
  ios/SherpaOnnx+TTS.mm
Due: none

feat(tts): enhance subtitle generation with new options and methods for improved timing and granularity
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/subtitles.ts
  src/tts/types.ts
Due: lint, types

docs(subtitles): add TTS Subtitles and Timestamps documentation with API details and examples for improved subtitle generation
  README.md
  docs/tts-subtitles.md
  docs/tts.md
Due: none

fix(example): update subtitle estimation logic to use timingMode for improved accuracy in TTSScreen
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

chore(lint): simplify asset name check in parseCsv function
  src/licenses.ts
Due: lint, types

feat(example): add GenerateTimestampScreen for generating subtitles from audio files
  example/src/navigation/RootNavigator.tsx
  example/src/screens/generate-timestamp/GenerateTimestampScreen.styles.ts
  example/src/screens/generate-timestamp/GenerateTimestampScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

chore: release 0.4.0
  CHANGELOG.md
  package.json
Due: none

feat(alignment-kotlin): implement CTC forced alignment helper for audio transcription
  android/src/main/java/com/sherpaonnx/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none

feat(alignment-ios): add alignment functionality and character granularity option for TTS subtitles
  ios/SherpaOnnx+Alignment.mm
  ios/SherpaOnnx+TTS.mm
Due: none

feat(tts): implement accurate subtitle generation with forced alignment and character granularity support
  src/tts/index.ts
  src/tts/subtitles.ts
  src/tts/types.ts
Due: lint, types

feat(alignment): add download functionality for alignment model and related types
  src/alignment/download.ts
  src/alignment/index.ts
  src/alignment/types.ts
  src/alignment/vocab.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
