Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

refactor(audio): remove persistence format from audio buffer options
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
Due: lint, types

refactor(audio): remove persistence format from PipelineShowcaseScreen
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
Due: lint, types, types-example

docs(audio): standardize offline audio buffer storage and simplify persistence handling
  docs/audiobuffer-offline.md
  docs/migration/audiobuffer/audiobuffer-jsi-arraybuffer-implementation-spec.md
  docs/migration/mmap/perf-offline-audio-buffer-backing-spec.md
  docs/migration/mmap/perf-offline-audio-buffer-mmap-impl-spec.md
  docs/migration/mmap/spool-format-f32-vs-wav-analysis.md
  docs/migration/mmap/spool-format-migration-spec.md
Due: none

feat(kotlin): enhance mmap support for audio buffers
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MmapThresholdPolicy.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
Due: none

feat(ios): implement dynamic thresholding for mmap audio buffer management
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
Due: none

docs(mmap): introduce dynamic mmap threshold implementation plan
  docs/migration/mmap/dynamic-mmap-threshold-implementation-plan.md
  docs/migration/mmap/perf-offline-audio-buffer-mmap-impl-spec.md
Due: none

feat(oom): handle OutOfMemoryError in various components
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MmapThresholdPolicy.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/OfflineEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerService.kt
  android/src/main/java/com/sherpaonnx/pcm/PcmPlayerSession.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
Due: none

feat(oom-error): add OFFLINE_OOM error code and message handling
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentErrorCodes.kt
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementErrorCodes.kt
  android/src/main/java/com/sherpaonnx/errors/OfflineOomError.kt
  android/src/main/java/com/sherpaonnx/stt/core/SttErrorCodes.kt
Due: none

feat(oom): enhance OutOfMemory handling across components
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/pcm/PcmPlayerRegistry.h
  ios/pcm/PcmPlayerRegistry.mm
  ios/pcm/SherpaOnnx+PcmPlayer.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
Due: none

docs(oom-error): add OFFLINE_OOM error code documentation across various components
  docs/alignment.md
  docs/blog/onnxruntime-execution-providers-medium-draft.md
  docs/enhancement-offline.md
  docs/enhancement-streaming.md
  docs/migration/player/pcm-player-offline-oom-backpressure-spec.md
  docs/pcm-player.md
  docs/stt-offline.md
  docs/tts-offline.md
Due: none

feat(example): implement prepared input buffer management in EnhancementScreen
  example/src/screens/enhancement/EnhancementScreen.tsx
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.styles.ts
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/stt/STTScreen.styles.ts
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

feat(example): add streaming enhancement screen and update navigation
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
Due: lint, types, types-example

feat(pipeline): enhance streaming pipeline completion handling
  android/src/main/java/com/sherpaonnx/audio/pipeline/StreamingPipelineRegistry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/StreamingPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  ios/SherpaOnnx.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOnline.mm
  ios/pipeline/bridge/SherpaOnnx+StreamingPipelineCompletion.h
  ios/pipeline/bridge/SherpaOnnx+StreamingPipelineCompletion.mm
  ios/pipeline/bridge/SherpaOnnx+StreamingPipelineControl.mm
  ios/pipeline/core/SherpaOnnx+StreamingPipeline.h
  ios/pipeline/core/SherpaOnnx+StreamingPipeline.mm
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
Due: none

feat(streaming): implement streaming pipeline completion handling
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  src/audiobuffer/index.ts
  src/audiobuffer/streamingPipelineCompletion.ts
  src/audiobuffer/streamingPipelineTypes.ts
  src/enhancement/streaming.ts
  src/stt/streaming.ts
  src/tts/streaming.ts
Due: lint, types, types-example

feat(pipeline): enhance live audio processing with backpressure and retention options
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/pipeline/PaLiveEntry.h
Due: none

refactor(audiobuffer): update live audio buffer creation options for retention and ring buffer
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
  example/src/screens/pipeline-showcase/PipelineShowcaseScreen.tsx
  example/src/screens/stt/STTScreen.tsx
  src/NativeSherpaOnnx.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
Due: lint, types, types-example

docs(migration): add implementation specification for lossless LiveAudioBuffer pipeline
  docs/migration/enhancement/live-audio-buffer-lossless-pipeline-spec.md
Due: none

docs(future-work): add future optimization notes for lock-free audio buffer and mmap-backed spool
  docs/future-work/live-audio-buffer-lock-free-ring-future-work.md
  docs/future-work/live-audio-buffer-mmap-spool-future-work.md
Due: none

feat(example): add STT and TTS streaming screens with navigation and feature integration
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
  example/src/screens/tts-streaming/TTSStreamingScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

refactor(tts-streaming): simplify segmentation settings and clean up unused code
  example/src/screens/tts-streaming/TTSStreamingScreen.tsx
Due: lint, types, types-example

refactor(tts-streaming): optimize live input handling and improve text processing
  README.md
  docs/tts-streaming-incremental.md
  example/src/components/ScreenIntroModal.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/screens/punctuation/PunctuationScreen.tsx
  example/src/screens/tts-streaming/TTSStreamingScreen.tsx
  example/src/types/navigation.ts
Due: lint, types, types-example

fix(SherpaOnnxModule): update chunk handling method for audio processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none

fix(CMakeLists): add page-size compatibility for arm64 devices on Android 15+
  android/src/main/cpp/CMakeLists.txt
Due: none

feat(text-pipeline): enhance spooling functionality and error handling
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextErrorCodes.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextPipelineException.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextPipelineRegistry.kt
Due: none

feat(text-buffer): implement text spooling enhancements and error management
  ios/SherpaOnnx.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: none

feat(text-buffer): enhance spooling configuration and management
  src/NativeSherpaOnnx.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

docs(textbuffer): update live text buffer documentation and spooling guarantees
  docs/textbuffer.md
Due: none

docs(textbuffer): add offline and live text buffer documentation
  docs/migration/textbuffer/textbuffer-pipeline-spec.md
  docs/textbuffer-offline.md
  docs/textbuffer-streaming.md
  docs/textbuffer.md
Due: none

fix(fullIfSpooled): capture full history snapshot before ring eviction in LiveTextEntry
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
Due: none

feat(segment-pipeline): implement live and offline segment buffer management
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/OfflineSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentErrorCodes.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentModels.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentPipelineRegistry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentSpoolIO.kt
Due: none

feat(segment-buffer): add segment buffer management and integration
  ios/SherpaOnnx.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/segmentbuffer/core/SherpaOnnx+SegmentBufferGlobals.h
Due: none

feat(segment-buffer): expand segment buffer functionality with new methods and types
  src/NativeSherpaOnnx.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

chore(segment-buffer): add segment buffer entry to package and tsconfig
  package.json
  tsconfig.json
Due: none

docs(segment-buffer): add documentation for offline and live segment buffers
  docs/segmentbuffer-offline.md
  docs/segmentbuffer-streaming.md
  docs/vad.md
Due: none

refactor(segment-buffer): implement v2 spooling mechanism with journal and checkpoint writers
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentSpoolIO.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
Due: none

feat(segment-buffer): enhance LiveTextEntry with v2 spooling features
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: none

refactor(segment-buffer): unify spooling format across LiveSegmentEntry and LiveTextEntry
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentSpoolIO.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: none

docs(spool-formats): add documentation for SegmentBuffer and TextBuffer spool formats
  docs/internal/segmentbuffer-spool-v2-format.md
  docs/internal/textbuffer-spool-v2-format.md
Due: none

docs(segment-buffer): update error code documentation for segment buffers
  docs/segmentbuffer-offline.md
  docs/segmentbuffer-streaming.md
  docs/textbuffer-offline.md
  docs/textbuffer-streaming.md
Due: none

feat(segment-buffer): add validation checks and checksum handling for segment spooling
  android/src/main/java/com/sherpaonnx/segment/pipeline/LiveSegmentEntry.kt
  android/src/main/java/com/sherpaonnx/segment/pipeline/SegmentPipelineRegistry.kt
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
