Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

test(audiobuffer): add 16k/48k WAV fixture matrix for rate conversion
  android/build.gradle
  android/src/test/java/com/sherpaonnx/audio/pipeline/OfflineResampleRegistryTest.kt
  android/src/test/java/com/sherpaonnx/audio/pipeline/WavFixtureLoader.kt
  test/fixtures/audiobuffer/README.md
  test/fixtures/audiobuffer/tone-16k-mono.wav
  test/fixtures/audiobuffer/tone-48k-mono.wav
Due: none

docs(audiobuffer): document JVM rate-conversion matrix test coverage
  docs/audiobuffer-offline.md
Due: none

fix(assetpack): resolve promises with individual maps to prevent crashes
  android/src/main/java/com/sherpaonnx/assets/core/AssetPackDelivery.kt
  android/src/test/java/com/sherpaonnx/assets/AssetPackCompleteEnsuresMapTest.kt
Due: none

feat(alignment-models): add tokens_url and vocab_url to sources and update build script
  scripts/alignment-models/README.md
  scripts/alignment-models/build_and_upload.js
  scripts/alignment-models/sources.csv
Due: lint, types

feat(alignment): add dynamic vocab profile for char-CTC packs
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.cpp
  android/src/main/cpp/alignment/sherpa_onnx_alignment_engine.hpp
  android/src/main/cpp/alignment/sherpa_onnx_ctc_alignment.cpp
  android/src/main/cpp/alignment/sherpa_onnx_ctc_alignment.hpp
  test/cpp/alignment/ctc_alignment_host_test.cpp
  test/fixtures/alignment/vocab_mms_fa.json
  test/fixtures/alignment/vocab_voxpopuli_de.json
  test/fixtures/alignment/vocab_xlsr_pad.json
Due: none

feat(alignment): plumb optional vocabPath through native bridges
  android/src/main/cpp/jni/alignment/sherpa-onnx-alignment-jni.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-alignment-wrapper.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-model-detect-alignment.cpp
  android/src/main/cpp/jni/model_detect/alignment/sherpa-onnx-validate-alignment.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentOptionParsers.kt
  android/src/main/java/com/sherpaonnx/alignment/facade/SherpaOnnxAlignmentHelper.kt
  example/src/utils/alignmentCustomInitLabels.ts
  ios/alignment/bridge/SherpaOnnx+Alignment.mm
  ios/alignment/core/AlignmentBridgeUtils.h
  ios/alignment/core/AlignmentBridgeUtils.mm
  src/NativeSherpaOnnx.ts
  src/alignment/customConfig.ts
  src/types/modelDetect.ts
Due: lint, types, types-example

feat(alignment): add pack profiles and latin diacritic romanization
  src/alignment/__tests__/engine-no-freestanding-export.test.ts
  src/alignment/__tests__/modelProfiles-romanization.test.ts
  src/alignment/__tests__/native-bridge-slice-call.test.ts
  src/alignment/__tests__/public-surface-snapshot.test.ts
  src/alignment/__tests__/resolveAlignmentOnnxPath.test.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/asrMediated/__tests__/driver-pipeline.test.ts
  src/alignment/asrMediated/driver.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/alignment/index.ts
  src/alignment/modelProfiles.ts
  src/alignment/resolveAlignmentOnnxPath.ts
  src/alignment/romanization/identity.ts
  src/alignment/romanization/index.ts
  src/alignment/romanization/latinDiacritic.ts
  src/alignment/romanization/registry.ts
  src/alignment/romanization/types.ts
  src/alignment/types.ts
Due: lint, types

feat(alignment): add language catalog hints for multilang packs
  android/src/main/cpp/jni/model_detect/common/model_language_catalog.cpp
  catalog/model-language-catalog.json
  eslint.config.mjs
  scripts/generate-model-language-catalog.mjs
  src/model-languages/alignment/__tests__/hints.test.ts
  src/model-languages/generated/catalog.ts
Due: lint, types

chore(alignment-models): remove omnilingual from alignment catalog
  scripts/alignment-models/README.md
  scripts/alignment-models/sources.csv
Due: none

docs(alignment): document vocab profile and romanization design
  docs/migration/alignment/vocab-profile-and-romanization.md
Due: none

feat(alignment): add uroman romanizer for MMS-style ASCII vocabs
  .prettierignore
  eslint.config.mjs
  scripts/alignment-romanization/export-uroman-tables.py
  src/alignment/__tests__/engine-no-freestanding-export.test.ts
  src/alignment/__tests__/modelProfiles-romanization.test.ts
  src/alignment/__tests__/public-surface-snapshot.test.ts
  src/alignment/index.ts
  src/alignment/modelProfiles.ts
  src/alignment/romanization/__fixtures__/uroman-goldens.json
  src/alignment/romanization/__tests__/uroman.test.ts
  src/alignment/romanization/index.ts
  src/alignment/romanization/latinDiacritic.ts
  src/alignment/romanization/registry.ts
  src/alignment/romanization/types.ts
  src/alignment/romanization/uroman/NOTICE.md
  src/alignment/romanization/uroman/data/rules.json
  src/alignment/romanization/uroman/engine.ts
  src/alignment/romanization/uroman/index.ts
  src/alignment/romanization/uroman/langCodes.ts
  src/alignment/romanization/uroman/mmsNormalize.ts
Due: lint, types

feat(alignment): infer romanizer from vocab charset at resolve time
  src/alignment/__tests__/engine-no-freestanding-export.test.ts
  src/alignment/__tests__/modelProfiles-romanization.test.ts
  src/alignment/__tests__/public-surface-snapshot.test.ts
  src/alignment/__tests__/resolveAlignmentOnnxPath.test.ts
  src/alignment/index.ts
  src/alignment/modelProfiles.ts
  src/alignment/resolveAlignmentOnnxPath.ts
  src/alignment/romanization/__tests__/inferFromVocab.test.ts
  src/alignment/romanization/index.ts
  src/alignment/romanization/inferFromVocab.ts
  test/fixtures/alignment/vocab_xlsr_nonlatin_sample.json
Due: lint, types

docs(alignment): document vocab-primary romanizer and uroman backend
  docs/migration/alignment/vocab-profile-and-romanization.md
Due: none

chore(alignment-models): add commercial XLSR Chinese and Turkish packs
  scripts/alignment-models/sources.csv
Due: none

chore(alignment-models): add HF ONNX pack export script
  scripts/alignment-models/README.md
  scripts/alignment-models/export_hf_onnx_pack.py
Due: none

chore(alignment-models): add Korean and Vietnamese XLSR packs
  scripts/alignment-models/sources.csv
Due: none

feat(alignment-models): add languages column to alignment sources
  scripts/alignment-models/README.md
  scripts/alignment-models/build_and_upload.js
  scripts/alignment-models/sources.csv
Due: lint, types

feat(model-languages): resolve alignment hints pack-first from sources
  catalog/model-language-catalog.json
  scripts/generate-model-language-catalog.mjs
  src/alignment/__tests__/modelProfiles-romanization.test.ts
  src/alignment/modelProfiles.ts
  src/model-languages/alignment/__tests__/hints.test.ts
  src/model-languages/alignment/index.ts
  src/model-languages/generated/catalog.ts
Due: lint, types

docs(model-languages): document pack-first alignment language hints
  docs/migration/alignment/vocab-profile-and-romanization.md
  docs/model-languages.md
Due: none

feat(alignment-models): pack pt/ru/ar and correct VoxPopuli to CC-BY-NC
  android/src/main/assets/model_licenses/alignment-models-license-status.csv
  ios/Resources/model_licenses/alignment-models-license-status.csv
  scripts/alignment-models/sources.csv
  src/model-languages/generated/catalog.ts
Due: lint, types

feat(alignment-models): add Dutch, Polish, Japanese, and Swedish packs
  android/src/main/assets/model_licenses/alignment-models-license-status.csv
  ios/Resources/model_licenses/alignment-models-license-status.csv
  scripts/alignment-models/sources.csv
  src/model-languages/generated/catalog.ts
Due: lint, types

feat(alignment-models): add Apache XLSR packs for de/es/fr/it
  android/src/main/assets/model_licenses/alignment-models-license-status.csv
  ios/Resources/model_licenses/alignment-models-license-status.csv
  scripts/alignment-models/sources.csv
  src/model-languages/generated/catalog.ts
Due: lint, types

feat(alignment-models): add Apache XLSR P1 packs (el/hu/fa/fi/et/sl/uk/ro)
  android/src/main/assets/model_licenses/alignment-models-license-status.csv
  ios/Resources/model_licenses/alignment-models-license-status.csv
  scripts/alignment-models/export_hf_onnx_pack.py
  scripts/alignment-models/sources.csv
  src/model-languages/generated/catalog.ts
Due: lint, types

feat(alignment-models): add Apache XLSR P2 packs (he/te/pa)
  android/src/main/assets/model_licenses/alignment-models-license-status.csv
  ios/Resources/model_licenses/alignment-models-license-status.csv
  scripts/alignment-models/sources.csv
  src/model-languages/generated/catalog.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
