Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(punctuation): introduce text input normalization for punctuation processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/punctuation/core/PunctuationTextInputNormalization.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxOfflinePunctuationLivePipelineHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxOnlinePunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/facade/SherpaOnnxPunctuationHelper.kt
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  docs/punctuation-streaming.md
  ios/punctuation/bridge/SherpaOnnx+OfflinePunctuation.mm
  ios/punctuation/bridge/SherpaOnnx+OnlinePunctuation.mm
  ios/punctuation/core/PunctuationTextInputNormalization.hpp
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  src/NativeSherpaOnnx.ts
  src/punctuation/__tests__/orchestrate.test.ts
  src/punctuation/__tests__/streaming-punctuation.test.ts
  src/punctuation/__tests__/textInputNormalization.test.ts
  src/punctuation/index.ts
  src/punctuation/offline.ts
  src/punctuation/orchestrate.ts
  src/punctuation/streaming.ts
  src/punctuation/streamingTypes.ts
  src/punctuation/textInputNormalization.ts
  src/punctuation/types.ts
Due: lint, types

feat(catalog): implement catalog detection for model categories
  docs/download-manager.md
  src/download/__tests__/catalogHints.test.ts
  src/download/catalogDetectCategories.ts
  src/download/catalogHints.ts
  src/download/registry.ts
  src/download/types.ts
Due: lint, types

feat(audio-duration): add audio file duration probing functionality
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/README.md
  docs/audio-conversion.md
  docs/audio-session.md
  docs/audiobuffer-offline.md
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/NativeSherpaOnnx.ts
  src/audio/index.ts
  src/audio/probe.ts
Due: lint, types

chore(test_codec): add codec test assets for audio file I/O
  .gitignore
  example/android/app/src/main/assets/test_codec/.gitkeep
  example/android/app/src/main/assets/test_codec/README.md
  example/android/app/src/main/assets/test_codec/sample.aac
  example/android/app/src/main/assets/test_codec/sample.flac
  example/android/app/src/main/assets/test_codec/sample.m4a
  example/android/app/src/main/assets/test_codec/sample.mkv
  example/android/app/src/main/assets/test_codec/sample.mp3
  example/android/app/src/main/assets/test_codec/sample.ogg
  example/android/app/src/main/assets/test_codec/sample.opus
  example/android/app/src/main/assets/test_codec/sample.wav
  example/android/app/src/main/assets/test_codec/sample.webm
  example/ios/VoiceLabOfflineTools.xcodeproj/project.pbxproj
  example/ios/sherpa_models/test_codec/.gitkeep
  example/ios/sherpa_models/test_codec/README.md
  example/ios/sherpa_models/test_codec/sample.aac
  example/ios/sherpa_models/test_codec/sample.flac
  example/ios/sherpa_models/test_codec/sample.m4a
  example/ios/sherpa_models/test_codec/sample.mkv
  example/ios/sherpa_models/test_codec/sample.mp3
  example/ios/sherpa_models/test_codec/sample.ogg
  example/ios/sherpa_models/test_codec/sample.opus
  example/ios/sherpa_models/test_codec/sample.wav
  example/ios/sherpa_models/test_codec/sample.webm
Due: none

feat(fileio): enhance codec handling and input source management
  example/README.md
  example/src/audioConfig.ts
  example/src/components/ScreenIntroModal.tsx
  example/src/screens/fileio/FileIOScreen.tsx
  example/src/screens/fileio/fileioActions.ts
  example/src/screens/fileio/fileioInputChannels.ts
  example/src/utils/audioFilePcmPlayback.ts
  example/src/utils/fileSourceFromUri.ts
Due: lint, types, types-example

fix(apkAsset): add support for resolving APK asset files
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
  example/README.md
  example/android/app/src/main/assets/test_codec/README.md
  example/ios/sherpa_models/test_codec/README.md
  ios/fileio/FileIOResolver.mm
Due: none

refactor(FileIOScreen): replace ScrollView with View for codec chips layout
  example/src/screens/fileio/FileIOScreen.tsx
Due: lint, types, types-example

feat(fileioBatch): implement batch processing for file I/O operations
  example/src/screens/fileio/FileIOScreen.tsx
  example/src/screens/fileio/fileioBatch.ts
  example/src/screens/fileio/fileioInputChannels.ts
Due: lint, types, types-example

feat(ffmpeg): add FfmpegFormatGuard for enhanced format handling
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.cpp
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.h
Due: none

chore(ffmpeg-aac): enhance FFmpeg integration and error handling
  android/prebuilt-download.gradle
  third_party/ffmpeg_prebuilt/ANDROID_RELEASE_TAG
  third_party/ffmpeg_prebuilt/IOS_RELEASE_TAG
  third_party/ffmpeg_prebuilt/build_ffmpeg.sh
  third_party/ffmpeg_prebuilt/build_ffmpeg_ios.sh
  third_party/ffmpeg_prebuilt/build_ffmpeg_msys2.sh
Due: none

feat(fileio): improve error handling for bundled assets and probe failures
  example/src/screens/fileio/fileioActions.ts
Due: lint, types, types-example

fix(ffmpeg): improve error message for unsupported FFmpeg builds
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.cpp
  android/src/main/java/com/sherpaonnx/fileio/FileIOResolver.kt
  example/src/utils/fileSourceFromUri.ts
Due: lint, types, types-example

chore(sherpa-onnx): update Android and iOS release tags to v1.13.2
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
Due: none

chore(sherpa-onnx): update expected SHA256 and add binary option for iOS builds
  third_party/sherpa-onnx-prebuilt/BUILD_IOS_SH_EXPECTED_SHA256
  third_party/sherpa-onnx-prebuilt/build-ios-patched.sh
Due: none

chore(workflows): update model structure collection scripts to include asset updated_at handling and improve cache skip logic
  .github/workflows/collect-asr-model-structures.yml
  .github/workflows/collect-punctuation-model-structures.yml
  .github/workflows/collect-speech-enhancement-model-structures.yml
  .github/workflows/collect-tts-model-structures.yml
  scripts/ci/collect_one_sherpa_release_stream.sh
  scripts/ci/update_model_license_csv.sh
Due: none

chore(workflows): refine skip policy documentation and update asset handling in collection scripts
  .github/workflows/collect-asr-model-structures.yml
  .github/workflows/collect-punctuation-model-structures.yml
  .github/workflows/collect-speech-enhancement-model-structures.yml
  .github/workflows/collect-tts-model-structures.yml
  scripts/ci/collect_one_sherpa_release_stream.sh
  test/cpp/model_detect/model_detect_test_utils.cpp
Due: none

chore(assets): update asset metadata with timestamps for multiple models in the TTS structure
  test/fixtures/tts-models-structure.txt
Due: none

chore(testdata): remove outdated timestamps from TTS model structure files
  test/fixtures/tts-models-structure.txt
Due: none

feat(nemotron): add support for nemo_transducer model type in various components and update documentation
  android/src/main/cpp/jni/model_detect/stt/sherpa-onnx-model-detect-stt.cpp
  android/src/main/java/com/sherpaonnx/stt/core/OnlineSttRecognizerConfigFactory.kt
  docs/stt-streaming.md
  ios/stt/native/sherpa-onnx-online-stt-wrapper.mm
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
  test/fixtures/asr-models-expected.csv
  test/fixtures/vad-models-expected.csv
Due: lint, types

chore(testdata): update ASR model expected CSV to include nemo_transducer type for additional models
  test/fixtures/asr-models-expected.csv
Due: none

chore(testdata): update TTS model expected CSV to include missing model types for various entries
  test/fixtures/tts-models-expected.csv
Due: none

ci(workflows): add workflow_dispatch trigger to test-model-detect workflow
  .github/workflows/test-model-detect.yml
Due: none

chore(testdata): mark additional TTS and ASR models as unsupported in expected CSV
  test/fixtures/vad-models-expected.csv
Due: none

chore(licenses): synchronize ASR and TTS model license status CSV files across Android and iOS platforms
  android/src/main/assets/model_licenses/asr-models-license-status.csv
  android/src/main/assets/model_licenses/tts-models-license-status.csv
  ios/Resources/model_licenses/asr-models-license-status.csv
  ios/Resources/model_licenses/tts-models-license-status.csv
Due: none

feat(model-languages): enhance TTS model language hinting with Supertonic 3 support and modelKey integration
  docs/model-languages.md
  src/download/catalogHints.ts
  src/model-languages/resolvePublicLanguageHints.ts
  src/model-languages/tts/__tests__/hints.test.ts
  src/model-languages/tts/hints.ts
  src/model-languages/tts/index.ts
  src/model-languages/tts/supertonic.ts
  src/model-languages/tts/supertonic3.ts
  src/tts/index.ts
Due: lint, types

feat(tts): introduce language policy for TTS models and enhance lexicon handling
  src/tts/index.ts
  src/tts/languagePolicy.ts
  src/tts/types.ts
  src/types/modelDetect.ts
Due: lint, types

feat(lexicon): add BuildLexiconLanguagesList function and enhance lexicon handling in TTS
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-detect-jni-common.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-helper.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-helper.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-model-detect-tts.cpp
  android/src/main/cpp/jni/model_detect/tts/sherpa-onnx-tts-wrapper.cpp
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/tts/bridge/SherpaOnnx+TTSBatch.mm
  ios/tts/bridge/SherpaOnnx+TTSCommon.mm
  ios/tts/bridge/SherpaOnnx+TTSInit.mm
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/native/sherpa-onnx-tts-wrapper.h
  ios/tts/native/sherpa-onnx-tts-wrapper.mm
  ios/tts/options/TtsGenerationOptionsHelpers.h
  ios/tts/options/TtsGenerationOptionsHelpers.mm
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.h
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.mm
Due: none

refactor(tts): streamline TTS and STT initialization by consolidating options into a single ReadableMap and adding dedicated options parsers
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/stt/config/SttInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/tts/config/TtsGenerationOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/config/TtsInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/tts/config/TtsOfflineConfigBuilder.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxCommonTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsBatchGenerationService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsInitializationService.kt
  android/src/main/java/com/sherpaonnx/tts/service/TtsLifecycleService.kt
Due: none

feat(init): introduce structured initialization options for STT and TTS, enhancing type safety and modularity
  src/NativeSherpaOnnx.ts
  src/nativeBridge/initBridgeTypes.ts
  src/stt/index.ts
  src/stt/streaming.ts
  src/stt/sttNativeBridge.ts
  src/tts/index.ts
  src/tts/languagePolicy.ts
  src/tts/ttsNativeBridge.ts
  src/tts/types.ts
  src/types/modelDetect.ts
Due: lint, types

test(stt): add unit tests for STT bridge options builders to ensure correct mapping and flattening of configurations
  src/stt/__tests__/sttNativeBridge.test.ts
  test/cpp/model_detect/model_detect_test.cpp
Due: lint, types

docs(language): update model setup and TTS documentation to reflect changes in lexicon handling and SDK initialization options
  docs/model-setup.md
  docs/tts-offline.md
Due: none

feat(audio): add container format probing functionality and enhance audio decoding options with allowDemuxerAutoProbe flag
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.cpp
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.h
  android/src/main/cpp/jni/audio/audio_decode_jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/audio-conversion.md
  docs/audio-session.md
  docs/audiobuffer-offline.md
  docs/sdk-init-bridge.md
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/NativeSherpaOnnx.ts
  src/audio/index.ts
  src/audio/probe.ts
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
  src/fileio/types.ts
Due: lint, types

feat(diagnostics): implement native diagnostics framework with signal handling and snapshot capabilities
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.cpp
  android/src/main/cpp/jni/diagnostic/NativeDiagnostic.cpp
  android/src/main/cpp/jni/diagnostic/NativeDiagnostic.h
  android/src/main/cpp/jni/diagnostic/NativeDiagnosticAndroid.cpp
  android/src/main/cpp/jni/diagnostic/NativeDiagnosticIOS.mm
  android/src/main/cpp/jni/diagnostic/native_diagnostic_jni.cpp
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/diagnostic/SherpaOnnx+Diagnostics.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/diagnostics/index.ts
  src/diagnostics/nativeDiagnostic.ts
Due: lint, types

fix(audio): improve error handling in FfmpegFormatGuard for demuxer failures and enhance error messages with extension details
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.cpp
Due: none

refactor(audio): enhance container format probing by adding a flag to control extension demuxer usage, ensuring accurate detection of mislabeled audio files
  android/src/main/cpp/jni/audio/AudioDecodeSession.cpp
  android/src/main/cpp/jni/audio/AudioDecodeSession.h
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.cpp
  android/src/main/cpp/jni/audio/FfmpegFormatGuard.h
  docs/audio-conversion.md
Due: none

docs(visualization): add audio visualization documentation, detailing API usage for static and animated spectrum profiles, and update README to include new section links
  README.md
  docs/README.md
  docs/audio-visualization.md
Due: none

feat(example-visualization): add audio visualization screen and components, including spectrum bars and heatmap views, with enhanced error handling and timeline management
  android/src/main/cpp/jni/audio/AudioVisualization.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/internal/live-overload.md
  example/src/components/ScreenIntroModal.tsx
  example/src/components/SpectrumBarsView.tsx
  example/src/components/SpectrumHeatmapView.tsx
  example/src/navigation/RootNavigator.tsx
  example/src/screens/audio-visualization/AudioVisualizationScreen.styles.ts
  example/src/screens/audio-visualization/AudioVisualizationScreen.tsx
  example/src/screens/fileio/fileioActions.ts
  example/src/screens/fileio/fileioInputChannels.ts
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
  example/tsconfig.json
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  src/NativeSherpaOnnx.ts
  src/stt/types.ts
  src/visualization/__tests__/compute.test.ts
  src/visualization/__tests__/timelineOptions.test.ts
  src/visualization/index.ts
  tsconfig.json
Due: lint, types, types-example

feat(audio-visualization): enhance audio visualization processing with percentile normalization and debug logging capabilities for improved level analysis
  android/src/main/cpp/jni/audio/AudioVisualization.cpp
  android/src/main/cpp/jni/audio/AudioVisualization.h
  docs/audio-visualization.md
  example/src/components/SpectrumBarsView.tsx
  example/src/screens/audio-visualization/AudioVisualizationScreen.tsx
  example/src/screens/audio-visualization/audioVisualizationDebug.ts
  src/visualization/index.ts
Due: lint, types, types-example
