Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore(gradle): downgrade Gradle version from 9.0.0 to 8.13 in wrapper properties
  example/android/gradle/wrapper/gradle-wrapper.properties
Due: none

feat(android): enhance build process to include sherpa-onnx Java API and update workflow documentation
  .github/workflows/build-sherpa-onnx-android-release.yml
  .gitignore
  android/build.gradle
  gradlew
  third_party/sherpa-onnx-prebuilt/README.md
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
  third_party/sherpa-onnx-prebuilt/copy_prebuilts_to_sdk.js
Due: lint, types

feat(android): update build process to include FFmpeg headers and improve extraction logic
  .github/workflows/build-ffmpeg-android-release.yml
  .gitignore
  android/build.gradle
  android/src/main/cpp/CMakeLists.txt
Due: none

feat(android): add QNN support check for sherpa-onnx build and expose API methods
  android/src/main/cpp/jni/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/index.tsx
Due: lint, types

feat(settings): implement QNN support check in SettingsScreen with loading state
  example/src/screens/settings/SettingsScreen.tsx
Due: lint, types, types-example

chore(prettier): update .prettierignore to exclude additional directories
  .prettierignore
Due: none

chore(prettier): refine prettier command to target specific directories for formatting
  package.json
Due: none

docs(qnn): add QNN support documentation and update references in README and model setup files
  README.md
  docs/MODEL_SETUP.md
  docs/qnn.md
  docs/stt.md
  scripts/copy-headers.js
  src/NativeSherpaOnnx.ts
Due: lint, types

chore(submodule): update ONNX Runtime submodule URL to point to own repository
  .gitmodules
Due: none

feat(onnxruntime): added qnn, nnapi and xnnpack support
  .github/workflows/build-onnxruntime-android-release.yml
  .gitignore
  third_party/onnxruntime_prebuilt/README.md
  third_party/onnxruntime_prebuilt/build_onnxruntime.sh
  third_party/onnxruntime_prebuilt/build_onnxruntime_android_aar.sh
  third_party/sherpa-onnx-prebuilt/README.md
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
Due: none

ci(onnxruntime): activate temporarily
  .github/workflows/build-onnxruntime-android-release.yml
Due: none

ci(onnxruntime): enable workflow for main branch and specific paths
  .github/workflows/build-onnxruntime-android-release.yml
Due: none

feat(maven): added maven release to onnxruntime
  .github/workflows/build-onnxruntime-android-release.yml
  .gitignore
  third_party/onnxruntime_prebuilt/publish-maven/README.md
  third_party/onnxruntime_prebuilt/publish-maven/build.gradle
  third_party/onnxruntime_prebuilt/publish-maven/publish-to-github-pages.sh
  third_party/onnxruntime_prebuilt/publish-maven/publish.env.example
  third_party/onnxruntime_prebuilt/publish-maven/settings.gradle
Due: none

fix(ci): ensure Maven publish step only runs if MAVEN_REPO_PAT is set
  .github/workflows/build-onnxruntime-android-release.yml
Due: none

fix(maven): update directory navigation to use git top-level path
  third_party/onnxruntime_prebuilt/publish-maven/publish-to-github-pages.sh
Due: none

fix(maven): correct directory navigation for artifact path resolution
  third_party/onnxruntime_prebuilt/publish-maven/publish-to-github-pages.sh
Due: none

fix(maven): refine directory navigation comment for clarity
  third_party/onnxruntime_prebuilt/publish-maven/publish-to-github-pages.sh
Due: none

fix(maven): improve directory handling for artifact metadata and checksums
  third_party/onnxruntime_prebuilt/publish-maven/publish-to-github-pages.sh
Due: none

feat(maven): enhance AAR creation and publishing workflow for sherpa-onnx
  .github/workflows/build-sherpa-onnx-android-release.yml
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
  third_party/sherpa-onnx-prebuilt/create_sherpa_onnx_aar.sh
  third_party/sherpa-onnx-prebuilt/publish-maven/README.md
  third_party/sherpa-onnx-prebuilt/publish-maven/publish-to-github-pages.sh
  third_party/sherpa-onnx-prebuilt/publish-maven/publish.env.example
Due: none

ci(sherpa-onnx): add detailed steps for sherpa-onnx Android release process
  .github/workflows/build-sherpa-onnx-android-release.yml
Due: none

chore(onnxruntime): update ONNX Runtime version to 1.24.2 and adjust build paths for onnxruntime
  .github/workflows/build-onnxruntime-android-release.yml
  .gitignore
  third_party/onnxruntime_prebuilt/ANDROID_RELEASE_TAG
  third_party/onnxruntime_prebuilt/README.md
  third_party/onnxruntime_prebuilt/VERSIONS
  third_party/onnxruntime_prebuilt/build_onnxruntime_android_aar.sh
Due: none

feat(sherpa-onnx): add support for retrieving available ONNX Runtime execution providers and enhance AAR creation with C-API headers
  .github/workflows/build-sherpa-onnx-android-release.yml
  android/build.gradle
  android/src/main/cpp/CMakeLists.txt
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/android/app/build.gradle
  example/src/screens/settings/SettingsScreen.tsx
  src/NativeSherpaOnnx.ts
  src/index.tsx
  third_party/onnxruntime_prebuilt/ANDROID_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/create_sherpa_onnx_aar.sh
Due: lint, types, types-example

ci(build): temporarily update ONNX Runtime version to 1.17.1 in build workflow and versions file
  .github/workflows/build-onnxruntime-android-release.yml
  third_party/onnxruntime_prebuilt/VERSIONS
Due: none

feat(sherpa-onnx-kotlin): add Kotlin and Java API support in AAR creation and build process
  .github/workflows/build-sherpa-onnx-android-release.yml
  android/build.gradle
  third_party/sherpa-onnx-prebuilt/README.md
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx.sh
  third_party/sherpa-onnx-prebuilt/create_sherpa_onnx_aar.sh
  third_party/sherpa-onnx-prebuilt/kotlin-api-build/build.gradle
  third_party/sherpa-onnx-prebuilt/kotlin-api-build/settings.gradle
  third_party/sherpa-onnx-prebuilt/publish-maven/README.md
  third_party/sherpa-onnx-prebuilt/publish-maven/publish-to-github-pages.sh
  third_party/sherpa-onnx-prebuilt/publish-maven/publish.env.example
Due: none

ci(sherpa-onnx): update cache key format and improve jniLibs packaging for Kotlin and Java APIs
  .github/workflows/build-sherpa-onnx-android-release.yml
Due: none

ci(sherpa-onnx): refine cache key format in build workflow for Android release
  .github/workflows/build-sherpa-onnx-android-release.yml
Due: none

ci(sherpa-onnx): enhance error handling for AAR creation and update Kotlin compatibility to Java 17
  .github/workflows/build-sherpa-onnx-android-release.yml
  third_party/sherpa-onnx-prebuilt/create_sherpa_onnx_aar.sh
  third_party/sherpa-onnx-prebuilt/kotlin-api-build/build.gradle
Due: none

ci(sherpa-onnx): update AAR extraction process to prioritize Kotlin API and improve handling of stale jars
  android/build.gradle
Due: none

chore(onnxruntime): update ONNX Runtime version to 1.24.2 in Android release files
  third_party/onnxruntime_prebuilt/ANDROID_RELEASE_TAG
  third_party/onnxruntime_prebuilt/VERSIONS
Due: none

ci(workflows): update manual trigger instructions and remove push triggers for ONNX Runtime and Sherpa-onnx Android release workflows
  .github/workflows/build-onnxruntime-android-release.yml
  .github/workflows/build-sherpa-onnx-android-release.yml
Due: none

ci(workflows): update manual trigger instructions and remove push triggers for FFmpeg Android release workflow
  .github/workflows/build-ffmpeg-android-release.yml
Due: none

docs(providers): add `getAvailableProviders()` API to retrieve available ONNX Runtime execution providers
  docs/qnn.md
Due: none

feat(qnn): introduce `getQnnSupport()` API for extended QNN support information and update related methods for better usability
  android/src/main/cpp/jni/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/qnn.md
  example/src/screens/settings/SettingsScreen.tsx
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/index.tsx
Due: lint, types, types-example

feat(nnapi): implement extended NNAPI support with `getNnapiSupport()` API for device accelerator checks and session initialization
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/src/screens/settings/SettingsScreen.tsx
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/index.tsx
Due: lint, types, types-example

docs(nnapi): add documentation for `getNnapiSupport()` API, detailing its usage and return values for NNAPI support checks
  docs/qnn.md
Due: none

feat(xnnpack): implement `getXnnpackSupport()` API for checking XNNPACK provider availability and session initialization capabilities
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  example/src/screens/settings/SettingsScreen.tsx
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/index.tsx
Due: lint, types, types-example

docs(xnnpack): update QNN documentation to reflect changes in API usage, replacing `isQnnSupported()` with `getQnnSupport()` and adding details for `getXnnpackSupport()`
  docs/qnn.md
Due: none

feat(execution_provider): unify support checks for QNN, NNAPI, XNNPACK, and Core ML under a single `AccelerationSupport` type
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/qnn.md
  example/src/screens/settings/SettingsScreen.tsx
  ios/SherpaOnnx.mm
  ios/SherpaOnnxCoreMLHelper.swift
  src/NativeSherpaOnnx.ts
  src/index.tsx
Due: lint, types, types-example

chore(build): update ONNX Runtime version to 1.24.2 in build.gradle files
  android/build.gradle
  example/android/app/build.gradle
Due: none

feat(models): add embedded ONNX test models for NNAPI and XNNPACK support
  android/src/main/assets/testModels/add_mul_add.onnx
  android/src/main/assets/testModels/nnapi_internal_uint8_support.onnx
  android/src/main/assets/testModels/qnn_multi_ctx_embed.onnx
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
Due: none
