Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(MainActivity): prevent fragment state restoration in onCreate to avoid app crashes on launch
  example/android/app/src/main/java/com/xdcobra/voicelab/MainActivity.kt
Due: none

fix(crashlytics): update Crashlytics integration to use modular API for setting attributes and logging
  example/index.js
Due: lint, types

docs(bpe_vocab): expand documentation on modeling unit and BPE vocab for hotword tokenization, including usage guidelines and examples
  docs/stt.md
Due: none

refactor(STTScreen): update hotwords section behavior and styling, improve BPE vocab file handling, and enhance model display name formatting
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

refactor(STTScreen): streamline model selection and transcription process, updating UI to handle multiple detected models and improve user guidance
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

refactor(STTScreen, TTSScreen): update background color to white, add bottom edge support for SafeAreaView, and enhance ScrollView styling
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

feat(nemo_transducer): update documentation to clarify support for both transducer and NeMo transducer models in hotword functionality
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  ios/sherpa-onnx-stt-wrapper.mm
Due: none

fix(nemo_transducer): enhance model type detection for NeMo transducer to include 'tdt' keyword and update documentation for hotword support
  example/src/screens/download/ModelManagementScreen.tsx
  src/stt/types.ts
Due: lint, types, types-example

fix(detect_stt_model): improve model detection logic by adding case-insensitive checks and refining conditions for Canary and FireRed ASR models
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
Due: none

docs(whisper_cpp): update STT documentation to include segment timestamps for Whisper and clarify hotword support for transducer models
  docs/stt.md
Due: none

refactor(STTScreen): improve model-specific options handling and UI updates for detecting model types
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

fix(detect_stt_model): update FunASR tokenizer path to use directory instead of vocab.json for compatibility
  android/src/main/cpp/jni/sherpa-onnx-model-detect-stt.cpp
Due: none

feat(display_result): integrate clipboard functionality for transcription results and enhance UI with share options
  example/package.json
  example/src/screens/stt/STTScreen.tsx
  yarn.lock
Due: lint, types, types-example

fix(error_handling): add error source tracking for initialization and transcription processes
  example/src/screens/stt/STTScreen.tsx
Due: lint, types, types-example

fix(extraction): implement background extraction for archive files to prevent blocking the React Native bridge thread
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
Due: none

feat(model_management): add subscription for model list updates in STT and TTS screens to refresh available models upon download completion
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
  src/download/ModelDownloadManager.ts
Due: lint, types, types-example

docs(hotwords): add comprehensive documentation for hotword support in transducer models, including validation rules and file format specifications
  docs/hotwords.md
  docs/stt.md
  docs/tts.md
Due: none

docs(hotwords): refine hotword support documentation by removing unnecessary HTML and improving formatting for clarity
  docs/hotwords.md
Due: none

fix(detect_stt_model): update FunASR tokenizer path to use directory instead of vocab.json for compatibility
  ios/sherpa-onnx-model-detect.mm
Due: none

chore(tsconfig): add 'third_party/**' to exclude list in build configuration
  tsconfig.build.json
Due: none

ci(app-release): remove Android Playstore release workflow file
  .github/workflows/app-android-release.yml
Due: none

docs(images): update
  README.md
  docs/images/example_tts.png
  docs/images/example_tts_1.png
Due: none

fix(extraction): improve error handling by ensuring promise resolution occurs only once during archive extraction
  android/src/main/java/com/sherpaonnx/SherpaOnnxArchiveHelper.kt
Due: none

feat(tts_options): add new parameters for rule FSTs, rule FARs, max number of sentences, and silence scale in TTS initialization
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  ios/SherpaOnnx+TTS.mm
  ios/sherpa-onnx-tts-wrapper.h
  ios/sherpa-onnx-tts-wrapper.mm
Due: none

feat(tts_options): enhance TTS initialization options with additional parameters for rule FSTs, rule FARs, max sentences, and silence scale
  src/NativeSherpaOnnx.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

docs(tts_options): add optional configuration options for TTS initialization, including rule FSTs, rule FARs, max sentences, and silence scale
  docs/TTS_API_COMPARISON.md
  docs/tts.md
Due: none

feat(tts_options): introduce model-specific options for TTS initialization and updates, allowing for tailored configurations based on model type
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

docs(tts_options): update README and documentation to reflect new model-specific options for TTS initialization and parameter updates
  README.md
  docs/tts.md
Due: none

feat(tts_options): implement last initialized model type tracking for TTS initialization and updates
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

docs(tts_options): clarify usage of modelType and modelOptions in updateTtsParams for TTS parameter updates
  README.md
  docs/tts.md
Due: none

feat(instance_management): refactor STT and TTS helpers to support multiple instances with unique identifiers, enhancing resource management and initialization processes
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxSttHelper.kt
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  ios/SherpaOnnx+STT.mm
  ios/SherpaOnnx+TTS.mm
Due: none

feat(instance_management): enhance STT and TTS interfaces to support instance-based management, adding unique identifiers for improved resource handling and method calls
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/types.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

docs(instance_management): update README and documentation to reflect instance-based API changes for TTS and STT, including new method signatures and resource management practices
  README.md
  docs/stt.md
  docs/tts.md
Due: none

feat(engine_cache): implement caching for STT and TTS engines to persist state across screen navigation, enhancing resource management and user experience
  example/src/engineCache.ts
  example/src/screens/stt/STTScreen.styles.ts
  example/src/screens/stt/STTScreen.tsx
  example/src/screens/tts/TTSScreen.tsx
Due: lint, types, types-example

refactor(types): remove deprecated TranscriptionResult and SynthesisOptions types for STT and TTS, improving type clarity and consistency
  src/stt/index.ts
  src/stt/types.ts
  src/tts/index.ts
  src/tts/types.ts
Due: lint, types

docs(types): update requirements section and remove deprecated types for STT and TTS, ensuring clarity on platform compatibility and type usage
  README.md
Due: none

fix(zipvoice_model_detection): update vocoder token search to include 'vocos' and enhance zipvoice detection logic for improved model compatibility
  android/src/main/cpp/jni/sherpa-onnx-model-detect-tts.cpp
Due: none

fix(zipvoice_model_initialization): add error handling for distill models without vocoder and update documentation to clarify model requirements
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
  docs/tts.md
Due: none

fix(tts_error_handling): run promise resolve/reject on UI thread to prevent lifecycle crashes during TTS initialization
  android/src/main/java/com/sherpaonnx/SherpaOnnxTtsHelper.kt
Due: none
