Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(phase-7): remove online TTS support and enhance offline live pipeline
  README.md
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/tts/core/SherpaOnnxTtsCoordinator.kt
  android/src/main/java/com/sherpaonnx/tts/facade/SherpaOnnxOnlineTtsHelper.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsPipelineWorker.kt
  docs/README.md
  docs/feature-pipelines.md
  docs/internal/TTS_API_COMPARISON.md
  docs/internal/live-overload.md
  docs/internal/sdk-feature-support-matrix.md
  docs/migration/liveOverload/live_overload_overview.md
  docs/migration/liveOverload/offline-stt-live-pipeline-mandatory-segmentation.md
  docs/migration/liveOverload/sub-05-tts-live-overload.md
  docs/migration/liveOverload/sub-07-cleanup-and-test-harness.md
  docs/migration/liveOverload/sub-08-streaming-tts-dedup.md
  docs/punctuation-streaming.md
  docs/segmentation-engine.md
  docs/stt-streaming.md
  docs/tts-offline.md
  docs/tts-streaming.md
  example/README.md
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/tts-streaming/StreamingTTSScreen.tsx
  ios/tts/bridge/SherpaOnnx+TTSOnline.mm
  ios/tts/pipeline/TtsPipelineWorker.h
  ios/tts/pipeline/TtsPipelineWorker.mm
  src/NativeSherpaOnnx.ts
  src/tts/__tests__/live-offline.test.ts
  src/tts/__tests__/streaming-mode3.test.ts
  src/tts/__tests__/streaming-mode4-segmentation.test.ts
  src/tts/__tests__/synthesize-mode1-oneshot.test.ts
  src/tts/__tests__/synthesize-mode2-linkmap.test.ts
  src/tts/__tests__/synthesize-mode2-segmented.test.ts
  src/tts/index.ts
  src/tts/streaming.ts
  src/tts/streamingTypes.ts
  src/tts/types.ts
Due: lint, types, types-example

refactor(pipeline): streamline chunk size handling and enhance STT processing
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOfflineSttLivePipelineHelper.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsVoiceCloneConfig.kt
  ios/stt/bridge/SherpaOnnx+STT.mm
  ios/stt/pipeline/SttOfflineLivePipelineWorker.h
  ios/stt/pipeline/SttOfflineLivePipelineWorker.mm
  src/NativeSherpaOnnx.ts
  src/stt/index.ts
  src/stt/streamingTypes.ts
  src/stt/types.ts
Due: lint, types

feat(example): enhance offline model handling and introduce audio result card
  example/src/components/EngineModeModelSelector.tsx
  example/src/components/PipelineOfflineAudioResultCard.tsx
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
Due: lint, types, types-example

fix(example): improve cleanup process in LivePipelineShowcaseScreen and enhance STTStreamingScreen functionality
  example/src/components/PipelineOfflineAudioResultCard.tsx
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  example/src/screens/stt-streaming/STTStreamingScreen.tsx
Due: lint, types, types-example

feat(pipeline): implement live text partial emission for enhanced real-time updates
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextPipelineRegistry.kt
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.styles.ts
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
  ios/SherpaOnnx.mm
  ios/textbuffer/bridge/SherpaOnnx+TextBuffer.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: lint, types, types-example

refactor(example): enhance LivePipelineShowcaseScreen with shared text buffer and transcript polling
  example/src/screens/live-pipeline-showcase/LivePipelineShowcaseScreen.tsx
Due: lint, types, types-example

feat(example): enhance SegmentationPolicyControls styles and layout for evaluator chips
  example/src/components/SegmentationPolicyControls.styles.ts
  example/src/components/SegmentationPolicyControls.tsx
  example/src/screens/enhancement-streaming/EnhancementStreamingScreen.tsx
Due: lint, types, types-example

docs(images): remove outdated image files from documentation
  docs/images/screen-intro-modal-tts-label.png
  docs/images/vtt_model_overview.png
  docs/images/vtt_result_file_picker.png
  docs/images/vtt_result_test_audio.png
Due: none

fix(enhancement): improve error handling and buffer management in live offline enhancement
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  docs/enhancement-offline.md
  src/enhancement/__tests__/enhance-live-offline.test.ts
  src/stt/__tests__/live-offline.test.ts
  src/stt/__tests__/transcribe-segmented.test.ts
Due: lint, types

fix(android): align libsherpaonnx.so to 16KB pages
  android/src/main/cpp/CMakeLists.txt
Due: none

chore: release 0.4.3
  CHANGELOG.md
  package.json
Due: none

feat(apkAsset): update model source paths to use 'apkAsset' for Android
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/audiobuffer-streaming.md
  docs/enhancement-streaming.md
  docs/execution-providers.md
  docs/hotwords.md
  docs/model-setup.md
  docs/stt-offline.md
  docs/stt-streaming.md
  docs/textbuffer-offline.md
  docs/textbuffer-streaming.md
  docs/tts-offline.md
  docs/vad-streaming.md
  example/src/modelConfig.ts
  ios/SherpaOnnx.mm
  src/NativeSherpaOnnx.ts
  src/__tests__/detect-apkasset.test.ts
  src/detect.ts
  src/fileio/types.ts
  src/segment/validation.ts
Due: lint, types, types-example

feat(SherpaOnnxModule): enhance error handling and output path sanitization
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/audio-conversion.md
  src/audio/types.ts
Due: lint, types

feat(textbuffer): implement chunked reading for offline text and array slices
  src/textbuffer/__tests__/offline-slice-chunking.test.ts
  src/textbuffer/index.ts
Due: lint, types

fix(PipelineAudioRegistry): optimize WAV header skipping and file copying
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
Due: none

fix(LiveTextEntry): prevent empty TEXT_SPOOL_PARTIAL_SET records
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
Due: none

refactor(SttPipeline): increase chunk size and enhance logging
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  ios/stt/bridge/SherpaOnnx+OnlineSTT.mm
  ios/stt/pipeline/SttPipelineWorker.h
  ios/stt/pipeline/SttPipelineWorker.mm
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
  src/audiobuffer/streamingPipelineCompletion.ts
  src/stt/streaming.ts
  src/stt/streamingTypes.ts
Due: lint, types

feat(AssetHintInferer): add alignment hint for wav2vec2 models
  android/src/main/java/com/sherpaonnx/assets/core/AssetHintInferer.kt
  ios/assets/core/AssetModelHintUtils.mm
  src/NativeSherpaOnnx.ts
  src/download/localModels.ts
  src/utils.ts
Due: lint, types

feat(VAD): add voice activity detection hints and improve inference handling
  android/src/main/java/com/sherpaonnx/assets/core/AssetHintInferer.kt
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  ios/assets/core/AssetModelHintUtils.mm
  ios/vad/bridge/SherpaOnnx+VAD.mm
Due: none

refactor(VAD): streamline runVadOffline function and update chunk size handling
  android/src/main/java/com/sherpaonnx/vad/facade/SherpaOnnxVadHelper.kt
  docs/alignment-offline.md
  example/src/screens/vad/VADScreen.tsx
  src/vad/types.ts
Due: lint, types, types-example

feat(PunctuationPipeline): enhance flushing behavior post-finalization
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationPipelineWorker.kt
  docs/punctuation-streaming.md
  example/src/screens/punctuation-streaming/PunctuationStreamingScreen.tsx
  ios/punctuation/bridge/SherpaOnnx+OnlinePunctuation.mm
  src/punctuation/streamingTypes.ts
Due: lint, types, types-example

docs(StreamingPipelines): introduce shared lifecycle documentation and enhance pipeline handle semantics
  docs/README.md
  docs/audiobuffer-streaming.md
  docs/enhancement-streaming.md
  docs/feature-pipelines.md
  docs/punctuation-streaming.md
  docs/segmentbuffer-streaming.md
  docs/streaming-pipelines-overview.md
  docs/stt-streaming.md
  docs/textbuffer-streaming.md
  docs/tts-streaming.md
  docs/vad-streaming.md
Due: none

docs(AudioBuffer): enhance live audio buffer documentation with new callbacks and examples
  docs/audiobuffer-streaming.md
  docs/enhancement-streaming.md
  docs/hotwords.md
  docs/stt-streaming.md
  docs/textbuffer-streaming.md
  docs/vad-streaming.md
Due: none

docs(OrchestrationProgress): add implementation plans for alignment and VAD offline phases
  docs/migration/OrchestrationProgressVADAli/ADR-001-alignment-offline-progress-strategy.md
  docs/migration/OrchestrationProgressVADAli/README.md
  docs/migration/OrchestrationProgressVADAli/impl-alignment-phase-1-api.md
  docs/migration/OrchestrationProgressVADAli/impl-alignment-phase-2-accurate-drivers.md
  docs/migration/OrchestrationProgressVADAli/impl-alignment-phase-3-remaining-modes.md
  docs/migration/OrchestrationProgressVADAli/impl-alignment-phase-4-docs-release.md
  docs/migration/OrchestrationProgressVADAli/impl-vad-offline-phase-0-api-design.md
  docs/migration/OrchestrationProgressVADAli/impl-vad-offline-phase-1-segment-loop.md
  docs/migration/OrchestrationProgressVADAli/impl-vad-offline-phase-2-progress.md
  docs/migration/OrchestrationProgressVADAli/impl-vad-offline-phase-3-edge-cases.md
  docs/migration/OrchestrationProgressVADAli/implementation-plans-index.md
  docs/migration/OrchestrationProgressVADAli/phase-0-alignment-progress-semantics.md
Due: none

feat(Alignment): implement orchestration progress tracking and validation for alignment options
  docs/migration/OrchestrationProgressVADAli/phase-0-alignment-progress-semantics.md
  src/alignment/__tests__/engine-options-validation.test.ts
  src/alignment/__tests__/engine-row-parity.test.ts
  src/alignment/__tests__/progress.test.ts
  src/alignment/alignTextToAudio.ts
  src/alignment/asrMediated/__tests__/driver-options.test.ts
  src/alignment/asrMediated/__tests__/driver-pipeline.test.ts
  src/alignment/asrMediated/driver.ts
  src/alignment/chunkedForcedCtc/__tests__/driver-pipeline.test.ts
  src/alignment/chunkedForcedCtc/driver.ts
  src/alignment/engine.ts
  src/alignment/index.ts
  src/alignment/progress.ts
  src/alignment/types.ts
Due: lint, types

feat(Alignment): add optional offline progress tracking for alignment steps
  CHANGELOG.md
  docs/alignment-offline.md
  docs/feature-pipelines.md
  docs/migration/OrchestrationProgressVADAli/phase-0-alignment-progress-semantics.md
  docs/streaming-pipelines-overview.md
  src/alignment/__tests__/engine-row-parity.test.ts
  src/alignment/alignTextToAudio.ts
Due: lint, types

feat(VAD): implement offline segmentation and progress tracking in Phase 0
  docs/migration/OrchestrationProgressVADAli/ADR-002-vad-offline-segmentation-progress-strategy.md
  docs/migration/OrchestrationProgressVADAli/README.md
  docs/migration/OrchestrationProgressVADAli/implementation-plans-index.md
  src/vad/__tests__/offline-phase-0-options.test.ts
  src/vad/engine.ts
  src/vad/index.ts
  src/vad/types.ts
Due: lint, types

feat(VAD): implement Phase 1 segmented offline processing and orchestration
  docs/migration/OrchestrationProgressVADAli/ADR-002-vad-offline-segmentation-progress-strategy.md
  src/vad/__tests__/offline-phase-0-options.test.ts
  src/vad/engine.ts
Due: lint, types

feat(VAD): implement Phase 2 progress tracking and orchestration for segmented offline processing
  docs/migration/OrchestrationProgressVADAli/ADR-002-vad-offline-segmentation-progress-strategy.md
  docs/migration/OrchestrationProgressVADAli/README.md
  docs/migration/OrchestrationProgressVADAli/impl-vad-offline-phase-2-progress.md
  docs/vad-streaming.md
  src/vad/__tests__/offline-phase-0-options.test.ts
  src/vad/engine.ts
Due: lint, types

feat(VAD): implement Phase 3 edge-case handling and progress tracking for offline segmentation
  CHANGELOG.md
  docs/migration/OrchestrationProgressVADAli/ADR-002-vad-offline-segmentation-progress-strategy.md
  docs/migration/OrchestrationProgressVADAli/README.md
  docs/migration/OrchestrationProgressVADAli/impl-vad-offline-phase-3-edge-cases.md
  docs/vad-streaming.md
  src/vad/__tests__/offline-phase-0-options.test.ts
Due: lint, types

refactor(Alignment): streamline progress tracking in alignTextToAudio function and clarify VAD offline run options documentation
  src/alignment/alignTextToAudio.ts
  src/vad/types.ts
Due: lint, types

docs(VAD): update offline segmentation documentation to clarify options and progress tracking behavior
  docs/vad-streaming.md
Due: none

feat(example): integrate offline segmentation controls and enhance VAD processing options
  example/src/components/SegmentationPolicyControls.tsx
  example/src/screens/vad/VADScreen.tsx
Due: lint, types, types-example

refactor(tests): add comprehensive tests for VAD offline segmentation process
  src/vad/__tests__/vad-offline-process-segmentation.test.ts
Due: lint, types

fix(punctuation): simplify promise handling in pipeline creation
  docs/internal/live-overload.md
  docs/punctuation-streaming.md
  docs/streaming-pipelines-overview.md
  src/punctuation/offline.ts
  src/punctuation/streaming.ts
  src/punctuation/streamingTypes.ts
Due: lint, types

test(mock): enhance Jest setup with file system mocks and update test path ignores
  jest.setup.js
  package.json
Due: lint, types

feat(stt): enhance progress tracking during transcription for non-segmented audio
  src/stt/index.ts
Due: lint, types

fix(text-spool): extract replay logic into TextSpoolReplay and simplify snapshot methods
  android/src/main/java/com/sherpaonnx/text/pipeline/LiveTextEntry.kt
  android/src/main/java/com/sherpaonnx/text/pipeline/TextSpoolReplay.kt
  ios/textbuffer/core/SherpaOnnx+TextBufferGlobals.h
Due: none

test(text-spool): add unit tests for TextSpoolReplay functionality
  android/build.gradle
  android/src/test/java/com/sherpaonnx/text/pipeline/TextSpoolReplayTest.kt
  docs/internal/livetextbuffer-internal.md
Due: none
