Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit

types-example:
  run: npx tsc --noEmit --project example/tsconfig.json

feat(ios): add KWS streaming pipeline worker and stream APIs
  SherpaOnnx.podspec
  ios/kws/bridge/SherpaOnnx+KeywordSpotting.mm
  ios/kws/native/sherpa-onnx-kws-wrapper.h
  ios/kws/native/sherpa-onnx-kws-wrapper.mm
  ios/kws/pipeline/KwsStreamingPipelineWorker.h
  ios/kws/pipeline/KwsStreamingPipelineWorker.mm
Due: none

feat(api): add KeywordSpottingEngine.spot streaming pipeline
  src/NativeSherpaOnnx.ts
  src/kws/__tests__/spotKeywordSpotting.test.ts
  src/kws/createKeywordSpotting.ts
  src/kws/index.ts
  src/kws/types.ts
  src/segment/utils.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

docs: mark KWS live path as real streaming pipeline
  docs/internal/keyword-spotting-plan.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

fix(android): drop KWS double emit and deliver RN events on main looper
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/kws/facade/SherpaOnnxKwsHelper.kt
  android/src/main/java/com/sherpaonnx/kws/pipeline/KwsStreamingPipelineWorker.kt
Due: none

docs(api): document KWS spot spooling and result fields
  src/kws/types.ts
Due: lint, types

fix(ios): lower KWS default chunkSize for wake latency
  ios/kws/bridge/SherpaOnnx+KeywordSpotting.mm
  ios/kws/pipeline/KwsStreamingPipelineWorker.h
Due: none

docs: note KWS LiveTextBuffer spooling default for textOut
  docs/internal/keyword-spotting-plan.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

docs: add KWS streaming guide and discovery links
  README.md
  docs/README.md
  docs/kws-streaming.md
  docs/streaming-pipelines-overview.md
Due: none

docs: document KWS packs in setup, detect, and download catalog
  docs/download-manager.md
  docs/model-detect.md
  docs/model-setup.md
Due: none

docs(api): clarify KWS keywordsPath and spot keywords format
  src/kws/types.ts
Due: lint, types

docs: mark KWS Phase 4 keywords UX and docs as landed
  docs/internal/keyword-spotting-plan.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

docs(api): update KWS streaming guide for engine lifecycle and segment handling
  docs/kws-streaming.md
Due: none

feat(example): add KWS model catalog and KeywordSpotting screen shell
  example/src/components/ScreenIntroModal.tsx
  example/src/components/modelInit/KwsCustomInitForm.tsx
  example/src/components/modelInit/index.ts
  example/src/navigation/RootNavigator.tsx
  example/src/screens/home/HomeScreen.tsx
  example/src/types/navigation.ts
  example/src/utils/kwsCustomInitFill.ts
  example/src/utils/kwsModelCatalog.ts
  example/src/utils/recommendedModels.ts
  example/tsconfig.json
  tsconfig.json
Due: lint, types, types-example

feat(example): wire KWS keywords panel, live spot, and hit HUD
  example/src/audioConfig.ts
  example/src/screens/kws/KeywordSpottingScreen.styles.ts
  example/src/screens/kws/KeywordSpottingScreen.tsx
Due: lint, types, types-example

docs: mark KWS Phase 5 showcase landed
  docs/internal/keyword-spotting-plan.md
  docs/kws-streaming.md
Due: none

feat(kws): enhance keyword spotting functionality and documentation
  android/src/main/java/com/sherpaonnx/assets/core/AssetHintInferer.kt
  example/README.md
  example/android/app/build.gradle
  example/scripts/model-download-config.json
  example/src/audioConfig.ts
  example/src/components/ScreenIntroModal.tsx
  example/src/screens/diarization/DiarizationScreen.tsx
  example/src/screens/kws/KeywordSpottingScreen.styles.ts
  example/src/screens/kws/KeywordSpottingScreen.tsx
  example/src/utils/recommendedModels.ts
  ios/assets/core/AssetModelHintUtils.mm
  src/kws/createKeywordSpotting.ts
Due: lint, types, types-example

fix(android): harden KWS streaming and join workers on stop
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/diarization/pipeline/DiarizationStreamingPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/kws/facade/SherpaOnnxKwsHelper.kt
  android/src/main/java/com/sherpaonnx/kws/pipeline/KwsStreamingPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/punctuation/pipeline/PunctuationPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/stt/facade/SherpaOnnxOnlineSttHelper.kt
  android/src/main/java/com/sherpaonnx/stt/pipeline/SttPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/vad/pipeline/VadPipelineWorker.kt
Due: none

fix(ios): harden KWS createStream errors and streaming worker
  ios/kws/bridge/SherpaOnnx+KeywordSpotting.mm
  ios/kws/pipeline/KwsStreamingPipelineWorker.mm
Due: none

fix(api): project LiveText meta and defer KWS keywordsPath
  src/kws/__tests__/createKeywordSpotting.test.ts
  src/kws/createKeywordSpotting.ts
  src/kws/kwsNativeBridge.ts
  src/kws/types.ts
  src/textbuffer/index.ts
  src/textbuffer/types.ts
Due: lint, types

fix(example): pack-aware KWS keywords and stable spot UI
  example/scripts/model-download-config.json
  example/src/audioConfig.ts
  example/src/screens/kws/KeywordSpottingScreen.styles.ts
  example/src/screens/kws/KeywordSpottingScreen.tsx
  example/src/utils/recommendedModels.ts
Due: lint, types, types-example

docs(kws): document keywordsFile OOV exit and streaming notes
  docs/KNOWN_ISSUES.md
  docs/kws-streaming.md
Due: none

feat(example): add keyword spotting images and update README
  docs/images/example/kws_1.png
  docs/images/example/kws_2.png
  docs/images/example/kws_3.png
  example/README.md
Due: none

feat(api): add KWS initMode custom with path validation
  src/detect/validateCustomModelPaths.ts
  src/kws/__tests__/createKeywordSpotting.test.ts
  src/kws/__tests__/customConfig.test.ts
  src/kws/createKeywordSpotting.ts
  src/kws/customConfig.ts
  src/kws/index.ts
  src/kws/kwsNativeBridge.ts
  src/kws/types.ts
Due: lint, types

feat(example): wire KWS custom init path slots
  example/src/components/modelInit/KwsCustomInitForm.tsx
  example/src/screens/kws/KeywordSpottingScreen.tsx
Due: lint, types, types-example

docs(kws): catalog models, custom init, and mark plan landed
  README.md
  docs/internal/keyword-spotting-plan.md
  docs/kws-streaming.md
Due: none

chore(audio-tagging): wire audio-tagging-models collect stream and license loading
  .github/workflows/collect-model-structures.yml
  docs/internal/audio-tagging-plan.md
  scripts/ci/check-model-csvs.sh
  scripts/ci/run_model_collect.sh
  scripts/ci/sherpa_audio_tagging_model_release_streams.json
  scripts/ci/sherpa_model_collect_manifest.json
  src/licenses.ts
Due: lint, types

chore(testdata): add audio-tagging structures, expected CSV, and licenses
  android/src/main/assets/model_licenses/audio-tagging-models-license-status.csv
  ios/Resources/model_licenses/audio-tagging-models-license-status.csv
  test/fixtures/audio-tagging-models-expected.csv
  test/fixtures/audio-tagging-models-structure.txt
Due: none

feat(detect): add audio tagging model detect and catalog wiring
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/audio_tagging/sherpa-onnx-audio-tagging-catalog-metadata.cpp
  android/src/main/cpp/jni/model_detect/audio_tagging/sherpa-onnx-audio-tagging-catalog-metadata.h
  android/src/main/cpp/jni/model_detect/audio_tagging/sherpa-onnx-audio-tagging-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/audio_tagging/sherpa-onnx-audio-tagging-detect-wrapper.h
  android/src/main/cpp/jni/model_detect/audio_tagging/sherpa-onnx-model-detect-audio-tagging.cpp
  android/src/main/cpp/jni/model_detect/audio_tagging/sherpa-onnx-validate-audio-tagging.cpp
  android/src/main/cpp/jni/model_detect/audio_tagging/sherpa-onnx-validate-audio-tagging.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  docs/internal/sdk-feature-support-matrix.md
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  ios/audio-tagging/bridge/SherpaOnnx+AudioTaggingDetect.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/audio-tagging/__tests__/detectAudioTaggingModel.test.ts
  src/audio-tagging/detectAudioTaggingModel.ts
  src/audio-tagging/index.ts
  src/detect/detectModel.ts
  src/detect/validateCustomModelPaths.ts
  src/download/catalogDetectCategories.ts
  src/download/paths.ts
  src/download/sources/builtin/huggingface-defaults.ts
  src/download/sources/github-asset-rules.ts
  src/download/types.ts
  src/types/modelDetect.ts
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/custom_path_requirements_catalog_test.cpp
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
  test/cpp/model_detect/model_detect_test_utils.h
Due: lint, types, types-example

feat(api): add createAudioTagging offline oneshot with initMode auto/custom
  src/NativeSherpaOnnx.ts
  src/audio-tagging/__tests__/audioTaggingNativeBridge.test.ts
  src/audio-tagging/__tests__/createAudioTagging.test.ts
  src/audio-tagging/__tests__/tagAudioTagging.test.ts
  src/audio-tagging/audioTaggingNativeBridge.ts
  src/audio-tagging/createAudioTagging.ts
  src/audio-tagging/customConfig.ts
  src/audio-tagging/index.ts
  src/audio-tagging/types.ts
  src/nativeBridge/initBridgeTypes.ts
Due: lint, types

feat(android): add audio tagging helper and offline tag module wiring
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audiotagging/config/AudioTaggingInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/audiotagging/core/AudioTaggingErrorCodes.kt
  android/src/main/java/com/sherpaonnx/audiotagging/core/AudioTaggingModelConfigFactory.kt
  android/src/main/java/com/sherpaonnx/audiotagging/facade/SherpaOnnxAudioTaggingHelper.kt
Due: none

feat(ios): add audio tagging C-API lifecycle and offline tag bridge
  SherpaOnnx.podspec
  ios/audio-tagging/bridge/SherpaOnnx+AudioTagging.mm
  ios/audio-tagging/core/AudioTaggingBridgeState.h
  ios/audio-tagging/core/AudioTaggingBridgeState.mm
Due: none

docs(audio-tagging): mark Phase 2 oneshot engine landed
  docs/internal/audio-tagging-plan.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

feat(api): add offline segmented audio tagging with optional segment buffer
  src/NativeSherpaOnnx.ts
  src/audio-tagging/__tests__/tagAudioTagging.segmented.test.ts
  src/audio-tagging/__tests__/tagAudioTagging.test.ts
  src/audio-tagging/createAudioTagging.ts
  src/audio-tagging/index.ts
  src/audio-tagging/orchestrate.ts
  src/audio-tagging/types.ts
  src/segmentbuffer/index.ts
  src/segmentbuffer/types.ts
Due: lint, types

feat(android): add audio tagging sample-slice tagging and payload validation
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audiotagging/facade/SherpaOnnxAudioTaggingHelper.kt
Due: none

feat(ios): add audio tagging sample-slice tagging and payload validation
  ios/audio-tagging/bridge/SherpaOnnx+AudioTagging.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
Due: none

docs(audio-tagging): mark Phase 3 offline segmentation landed
  docs/internal/audio-tagging-plan.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

feat(api): add audio tagging live overload tag(liveAudio, liveText)
  src/NativeSherpaOnnx.ts
  src/audio-tagging/__tests__/tagAudioTagging.live.test.ts
  src/audio-tagging/createAudioTagging.ts
  src/audio-tagging/index.ts
  src/audio-tagging/live.ts
  src/audio-tagging/streamingTypes.ts
  src/audio-tagging/types.ts
Due: lint, types

feat(android): add AudioTaggingOfflineLivePipelineWorker
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audiotagging/facade/SherpaOnnxAudioTaggingHelper.kt
  android/src/main/java/com/sherpaonnx/audiotagging/facade/SherpaOnnxAudioTaggingLivePipelineHelper.kt
  android/src/main/java/com/sherpaonnx/audiotagging/pipeline/AudioTaggingOfflineLivePipelineWorker.kt
Due: none

feat(ios): add audio tagging offline-live pipeline bridge
  SherpaOnnx.podspec
  ios/audio-tagging/bridge/SherpaOnnx+AudioTagging.mm
  ios/audio-tagging/bridge/SherpaOnnx+AudioTaggingLive.mm
  ios/audio-tagging/core/AudioTaggingBridgeState.h
  ios/audio-tagging/pipeline/AudioTaggingOfflineLivePipelineWorker.h
  ios/audio-tagging/pipeline/AudioTaggingOfflineLivePipelineWorker.mm
Due: none

docs(audio-tagging): mark Phase 4 live overload landed
  docs/internal/audio-tagging-plan.md
  docs/internal/live-overload.md
  docs/internal/sdk-feature-support-matrix.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  types-example: any of: example/**/*.{js,ts,jsx,tsx}
