Repository XDcobra/react-native-sherpa-onnx: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, types-example

lefthook.yml:

pre-commit:
  parallel: true
  commands:

    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    types-example:
      glob: "example/**/*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit --project example/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs(badges): improved play and app store badges
  README.md
Due: none

docs(badges): removed white border for app store badge
  README.md
  docs/images/badge-app-store.png
  docs/images/badge-google-play.png
Due: none

docs(wording): improved voicelab heading wording
  README.md
Due: none

feat(jsi): implement JSI installation for SherpaOnnx audio buffers
  ios/audiobuffer/SherpaOnnx+JSI.mm
Due: none

ci(integration): pin RN 0.83 template and keep its Gradle wrapper
  .github/workflows/test-sdk-integration.yml
Due: none

ci(integration): use RN 0.83.10 and select Xcode 26.2
  .github/workflows/test-sdk-integration.yml
Due: none

ci(integration): pin RN 0.83.10 and select Xcode 26.2
  .github/workflows/test-sdk-integration.yml
Due: none

docs(appstore): fix App Store URL in README
  README.md
Due: none

fix(separation): enhance separation initialization and error handling
  android/src/main/cpp/separation/sherpa-onnx-separation-wrapper.cpp
  example/ios/Podfile.lock
  example/ios/sherpa_models/README.md
  ios/enhancement/bridge/SherpaOnnx+EnhancementDetect.mm
  ios/separation/bridge/SherpaOnnx+SeparationOffline.mm
Due: none

feat(separation): improve error handling and memory management during offline processing
  android/src/main/cpp/jni/separation/sherpa-onnx-separation-jni.cpp
  android/src/main/cpp/separation/sherpa-onnx-separation-wrapper.cpp
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  docs/memory-and-models.md
  docs/separation.md
  ios/separation/SeparationOfflineLivePipelineWorker.mm
  ios/separation/bridge/SherpaOnnx+SeparationOffline.mm
Due: none

feat(separation): enhance separation instance management and pipeline flushing
  android/src/main/cpp/jni/separation/sherpa-onnx-separation-jni.cpp
  android/src/main/java/com/sherpaonnx/livePipeline/OfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/segment/engine/SegmentationEngineRegistry.kt
  android/src/main/java/com/sherpaonnx/separation/facade/SherpaOnnxSeparationHelper.kt
  ios/livePipeline/OfflineLivePipelineWorker.h
  ios/livePipeline/OfflineLivePipelineWorker.mm
  ios/segmentbuffer/bridge/SherpaOnnx+SegmentBuffer.mm
  ios/segmentbuffer/core/SherpaOnnx+SegmentBufferGlobals.h
  ios/separation/SeparationOfflineLivePipelineWorker.h
  ios/separation/SeparationOfflineLivePipelineWorker.mm
  ios/separation/bridge/SherpaOnnx+SeparationOffline.mm
  ios/separation/core/SeparationBridgeState.h
  src/separation/index.ts
Due: lint, types

feat(enhancement): improve live pipeline management and resource handling
  android/src/main/java/com/sherpaonnx/enhancement/facade/SherpaOnnxEnhancementHelper.kt
  ios/enhancement/EnhancementOfflineLivePipelineWorker.h
  ios/enhancement/EnhancementOfflineLivePipelineWorker.mm
  ios/enhancement/bridge/SherpaOnnx+EnhancementOffline.mm
  ios/enhancement/core/EnhancementBridgeState.h
  src/enhancement/index.ts
Due: lint, types

feat(audio): refactor live audio append handling with new origin types
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/LiveEntry.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/MicToLiveBufferSink.kt
  android/src/main/java/com/sherpaonnx/audio/pipeline/PipelineAudioRegistry.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/enhancement/pipeline/EnhancementPipelineWorker.kt
  android/src/main/java/com/sherpaonnx/separation/pipeline/SeparationOfflineLivePipelineWorker.kt
  android/src/main/java/com/sherpaonnx/tts/pipeline/TtsOfflineLivePipelineWorker.kt
  docs/audiobuffer-streaming.md
  docs/internal/live-overload.md
  docs/internal/liveaudiobuffer-internal.md
  example/src/screens/separation/SeparationScreen.tsx
  ios/audio/bridge/SherpaOnnx+PipelineAudio.mm
  ios/audio/bridge/SherpaOnnx+PipelineAudioMic.mm
  ios/audio/pipeline/PaLiveEntry.h
  ios/enhancement/EnhancementOfflineLivePipelineWorker.mm
  ios/enhancement/EnhancementPipelineWorker.mm
  ios/separation/SeparationOfflineLivePipelineWorker.mm
  ios/tts/pipeline/TtsOfflineLivePipelineWorker.mm
  src/audiobuffer/index.ts
  src/audiobuffer/types.ts
Due: lint, types, types-example

feat(segmentation): enhance SegmentationPolicyControls with evaluator hints and default settings
  example/src/components/SegmentationPolicyControls.styles.ts
  example/src/components/SegmentationPolicyControls.tsx
  example/src/screens/separation/SeparationScreen.tsx
  src/audiobuffer/streamingPipelineCompletion.ts
Due: lint, types, types-example

refactor(audio): rename ingress field to source in PaLiveAppendOrigin for clarity
  example/src/screens/separation/SeparationScreen.tsx
  ios/audio/pipeline/PaLiveEntry.h
  ios/separation/SeparationOfflineLivePipelineWorker.mm
Due: lint, types, types-example

fix(enhancement): add Sherpa ONNX wrapper to offline live pipeline worker
  ios/enhancement/EnhancementOfflineLivePipelineWorker.mm
Due: none

refactor(errors): change internal objects to public for error code accessibility
  android/src/main/java/com/sherpaonnx/alignment/core/AlignmentErrorCodes.kt
  android/src/main/java/com/sherpaonnx/enhancement/core/EnhancementErrorCodes.kt
  android/src/main/java/com/sherpaonnx/errors/OfflineOomError.kt
  android/src/main/java/com/sherpaonnx/fileio/FileIOErrorCodes.kt
  android/src/main/java/com/sherpaonnx/separation/core/SeparationErrorCodes.kt
Due: none

docs(separation): implement source separation features and documentation updates
  CHANGELOG.md
  README.md
  docs/README.md
  docs/feature-pipelines.md
  docs/images/example/separation_offline_1.png
  docs/images/example/separation_offline_2.png
  docs/images/example/separation_offline_3.png
  docs/images/example/separation_streaming_1.png
  docs/images/example/separation_streaming_2.png
  docs/images/example/separation_streaming_3.png
  docs/internal/live-overload.md
  docs/migration/OrchestrationProgressVADAli/README.md
  docs/migration/liveOverload/live_overload_overview.md
  docs/migration/liveOverload/offline-stt-live-pipeline-mandatory-segmentation.md
  docs/migration/separation/separation_runtime_mvp_88ae5e27.plan.md
  docs/separation.md
  docs/streaming-pipelines-overview.md
  example/README.md
Due: none

docs(separation): update documentation and restructure separation features
  .github/workflows/collect-separation-model-structures.yml
  README.md
  docs/README.md
  docs/feature-pipelines.md
  docs/future-work/live-overload-audio-overlap-crossfade-future-work.md
  docs/migration/OrchestrationProgressVADAli/README.md
  docs/model-detect.md
  docs/segmentation-engine.md
  docs/separation-offline.md
  docs/separation-streaming.md
  docs/streaming-pipelines-overview.md
  example/README.md
Due: none

refactor(pipeline): remove offline batch abort and cancelled status
  src/enhancement/orchestrate.ts
  src/enhancement/types.ts
  src/pipeline/offlineOrchestrator.ts
  src/punctuation/orchestrate.ts
  src/punctuation/types.ts
  src/separation/orchestrate.ts
  src/separation/types.ts
  src/stt/index.ts
  src/stt/types.ts
  src/tts/orchestrate.ts
  src/tts/types.ts
  src/vad/engine.ts
  src/vad/types.ts
Due: lint, types

test(pipeline): remove offline abort cancellation cases
  src/enhancement/__tests__/orchestrate.test.ts
  src/pipeline/__tests__/offline-orchestrator.test.ts
  src/separation/__tests__/orchestrate.test.ts
  src/vad/__tests__/vad-offline-process-segmentation.test.ts
Due: lint, types

docs(cancel): document offline cancel removal and native cancel future work
  docs/future-work/native-offline-inference-cancel-future-work.md
  docs/tts-offline.md
  docs/vad-streaming.md
Due: none

refactor(example): remove batch cancel from offline showcase screens
  example/src/screens/offline-pipeline-showcase/OfflinePipelineShowcaseScreen.tsx
  example/src/screens/separation/SeparationScreen.tsx
Due: lint, types, types-example

docs(cancel): update internal cancellation documentation and related references
  docs/future-work/native-offline-inference-cancel-future-work.md
  docs/internal/cancel-clean-cut.md
Due: none

docs(speaker-embedding): add internal design document for speaker embedding foundation
  docs/internal/speaker-embedding-foundation.md
Due: none

chore(onnxruntime): bump Android prebuilts to ORT 1.28.1 with QNN patches
  .github/workflows/build-onnxruntime-android-release.yml
  android/prebuilt-versions.gradle
  third_party/onnxruntime_prebuilt/ANDROID_RELEASE_TAG
  third_party/onnxruntime_prebuilt/VERSIONS
Due: none

chore(sherpa-onnx): bump submodule and release tags to v1.13.7-1
  third_party/sherpa-onnx-prebuilt/ANDROID_RELEASE_TAG
  third_party/sherpa-onnx-prebuilt/IOS_RELEASE_TAG
Due: none

build(ios): migrate sherpa-onnx iOS build to SherpaOnnxC.framework
  .gitignore
  third_party/sherpa-onnx-prebuilt/BUILD_IOS_SH_EXPECTED_SHA256
  third_party/sherpa-onnx-prebuilt/build-ios-patched.sh
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx_ios.sh
Due: none

fix(ios): link SherpaOnnxC.framework in podspec and setup script
  SherpaOnnx.podspec
  ios/SherpaOnnx.xcconfig
  scripts/setup-ios-framework.sh
Due: none

ci(ios): update sherpa-onnx framework workflows for SherpaOnnxC
  .github/workflows/framework-sherpa-onnx-ios-framework.yml
  .github/workflows/sdk-ios.yml
Due: none

chore(example): refresh Podfile.lock after SherpaOnnx podspec changes
  example/ios/Podfile.lock
Due: none

fix(ios): lipo simulator cxx-api archive before SherpaOnnxC merge
  third_party/sherpa-onnx-prebuilt/build_sherpa_onnx_ios.sh
Due: none

feat(license): add speaker embedding model structures, expected CSV, and license status from speaker-recongition-models release
  .github/workflows/collect-model-structures.yml
  android/src/main/assets/model_licenses/speaker-recongition-models-license-status.csv
  ios/Resources/model_licenses/speaker-recongition-models-license-status.csv
  scripts/ci/check-model-csvs.sh
  scripts/ci/run_model_collect.sh
  scripts/ci/sherpa_model_collect_manifest.json
  scripts/ci/sherpa_speaker_embedding_model_release_streams.json
  test/fixtures/speaker-recongition-models-expected.csv
  test/fixtures/speaker-recongition-models-structure.txt
Due: none

ci(speaker-embedding-detect): add speaker embedding model detection and validation workflows with corresponding test files
  .github/workflows/test-model-detect.yml
  .github/workflows/test-speaker-embedding-model-detect.yml
  .github/workflows/test-speaker-embedding-validate.yml
Due: none

feat(speaker-embedding-detect): implement speaker embedding model detection and validation, including new structures and tests
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect.h
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-model-detect-speaker-embedding.cpp
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-speaker-embedding-online-guard.cpp
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-speaker-embedding-online-guard.h
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-validate-speaker-embedding.cpp
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-validate-speaker-embedding.h
  test/cpp/CMakeLists.txt
  test/cpp/model_detect/model_detect_test.cpp
  test/cpp/model_detect/model_detect_test_utils.cpp
  test/cpp/model_detect/model_detect_test_utils.h
Due: none

feat(download): add SpeakerEmbedding category for speaker-recongition-models
  example/src/screens/download-showcase/DownloadShowcaseScreen.tsx
  src/detect/detectModel.ts
  src/download/catalogDetectCategories.ts
  src/download/paths.ts
  src/download/sources/builtin/huggingface-defaults.ts
  src/download/sources/github-asset-rules.ts
  src/download/types.ts
  src/licenses.ts
Due: lint, types, types-example

feat(speaker-embedding): expose detectSpeakerEmbeddingModel across native and TS
  SherpaOnnx.podspec
  android/src/main/cpp/CMakeLists.txt
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-detect-unified.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-speaker-embedding-detect-wrapper.cpp
  android/src/main/cpp/jni/model_detect/speaker/sherpa-onnx-speaker-embedding-detect-wrapper.h
  android/src/main/cpp/jni/module/sherpa-onnx-module-jni.cpp
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingDetect.mm
  ios/speaker-embedding/core/SpeakerEmbeddingBridgeUtils.h
  ios/speaker-embedding/core/SpeakerEmbeddingBridgeUtils.mm
  package.json
  src/NativeSherpaOnnx.ts
  src/speaker-embedding/__tests__/detectSpeakerEmbeddingModel.test.ts
  src/speaker-embedding/index.ts
  src/speaker-embedding/types.ts
  src/types/modelDetect.ts
Due: lint, types

feat(speaker-embedding): add extractor/manager TurboModule APIs and custom path validation
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.cpp
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-model-path-fill.h
  android/src/main/cpp/jni/model_detect/common/sherpa-onnx-validate-custom.cpp
  src/NativeSherpaOnnx.ts
  src/detect/validateCustomModelPaths.ts
  src/nativeBridge/initBridgeTypes.ts
Due: lint, types

feat(speaker-embedding): wire Android Kotlin extractor and manager inference
  android/src/main/java/com/sherpaonnx/SherpaOnnxModule.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/config/SpeakerEmbeddingInitOptionsParser.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/core/SpeakerEmbeddingInstances.kt
  android/src/main/java/com/sherpaonnx/speakerembedding/facade/SherpaOnnxSpeakerEmbeddingHelper.kt
Due: none

feat(speaker-embedding): wire iOS cxx-API extractor and manager inference
  SherpaOnnx.podspec
  ios/speaker-embedding/bridge/SherpaOnnx+SpeakerEmbeddingInference.mm
  ios/speaker-embedding/core/SpeakerEmbeddingBridgeState.h
  ios/speaker-embedding/core/SpeakerEmbeddingBridgeState.mm
  ios/speaker-embedding/native/sherpa-onnx-speaker-embedding-wrapper.h
  ios/speaker-embedding/native/sherpa-onnx-speaker-embedding-wrapper.mm
Due: none
